<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဆ)</td>
        <td><b>ရှောင်တခင်ခွင့်ရက်</b> ဆိုသည်မှာ မမျှော်လင့်သော ရုတ်တရက်အကြောင်းကိစ္စ ပေါ်ပေါက်ခဲ့လျှင် ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကိုဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="six-days-for-one-year-and-three-days-for-one-time">တစ်နှစ်လျှင် စုစုပေါင်း ခြောက်ရက် ရနိုင်ခွင့်ရှိခြင်းနှင့် တစ်ကြိမ်လျှင် အများဆုံးသုံးရက် ခံစားခွင့်ရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၅။</td>
        <td>(၁)</td>
        <td>အလုပ်သမားသည် သက်ဆိုင်ရာရာ အခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ၊ ရှောင်တခင်ခွင့်ရက်ကို တစ်နှစ်လျှင် စုစုပေါင်းခြောက်ရက် ရနိုင်ခွင့်ရှိစေရမည်။
            <div>
                <p><b>ခြွင်းချက်</b> - သို့ရာတွင် ကုန်းလမ်းခရီးဖြင့်ဖြစ်စေ၊ ရေလမ်းခရီးဖြင့်ဖြစ်စေ၊ ခရီးဝေးသွားရန် အကြောင်းရှိလျှင်မှတပါး သို့တည်းမဟုတ် မိမိကိုးကွယ်သည့် ဘာသာဓလေ့ ထုံးတမ်းအစဥ်အလာအရ အကြောင်းထူးများရှိလျှင်မှတပါး တစ်ကြိမ်လျှင် အများဆုံး သုံးရက်ထက်ပို၍ ရနိုင်ခွင့်မရှိစေရ။</p>
            </div>
        </td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၉။</td>
        <td>ရှောင်တခင်ခွင့်ရက်ကို တစ်ကြိမ်လျှင် အများဆုံးသုံးရက်အထိ ခံစားနိုင်ပြီး သုံးရက်ထက်ကျော်လွန်ခံစားရန် အကြောင်းထူးရှိပါက အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် ခွင့်ပေးပိုင်ခွင့်ရှိသူထံသို့ ခိုင်လုံသော အကြောင်းပြချက်ဖြင့် တင်ပြပါက သုံးရက်ထက် ကျော်လွန်သည့် ရှောင်တခင်ခွင့်ရက်ကို ခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်</caption>
    <tr>
        <td>၇။</td>
        <td>(ဂ)</td>
        <td>(၁)</td>
        <td><b>ရှောင်တခင်ခွင့်</b> - အလုပ်စတင်ဝင်ရောက်သည့်နေ့ရက်မှ ၁၂ လအတွင်း ရှောင်တခင်ခွင့် ၆ ရက်ကို လုပ်ခလစာအပြည့်ဖြင့် ခံစားခွင့်ရှိသည်။ သက်ဆိုင်ရာနှစ်အတွင်း ခွင့်မယူလျှင် ထိုခွင့်ပျက်ပြယ်သည်။ တစ်ကြိမ်လျှင် ၃ ရက်ထက်ပို၍ ခွင့်ခံစားခွင့်မရှိပါ။ အခြားမည်သည့်ခွင့်နှင့်မျှ ပေါင်းစပ်ခံစားခွင့်မရှိပါ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="casual-leave-during-training-and-probation-periods">အလုပ်သင်ကာလနှင့် အစမ်းခန့်ကာလတို့တွင် ရှောင်တခင်ခွင့် ခံစားခွင့်ရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၄။</td>
        <td>အလုပ်သမားသည် အလုပ်သင်ကာလနှင့် အစမ်းခန့်ကာလတို့တွင် ရှောင်တခင်ခွင့်ရက်၊ ဆေးလက်မှတ်ခွင့်ရက်၊ မီးဖွားခွင့်ရက်တို့ ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-combine-with-any-other-leave">မည်သည့်ခွင့်နှင်မျှ မပေါင်းစပ်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၅။</td>
        <td>(၂)</td>
        <td>ရှောင်တခင်ခွင့်ရက်ကို အခြားမည်သည့် ခွင့်ရက်တစ်မျိုးမျိုးနှင့်မျှ မပေါင်းစပ်ရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="other-leave-over-casual-leave">အခြားခွင့်ရက်နှင့် တစ်ဆက်တည်းတောင်းခံခဲ့လျှင် တောင်းခံသော အခြားခွင့်ရက်ဖြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၁။</td>
        <td>ရှောင်တခင်ခွင့်ရက်နှင့် တစ်ဆက်တည်း အခြားခွင့်ရက်တစ်မျိုးမျိုးကို တောင်းခံခဲ့သော် ရှောင်တခင်ခွင့်ရက်ပျက်ပြယ်ပြီး ရှောင်တခင်ခွင့်နှင်ဆက်၍ တောင်းခံသော အခြားခွင့်ရက်တစ်မျိုးမျိုးကို ရှောင်တခင်ခွင့်ရက် စသည့်နေ့ရက်မှစ၍ သတ်မှတ်ခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cancelled-if-not-used">သက်ဆိုင်ရာနှစ်အတွင်း မယူလျှင် ပျက်ပြယ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၅။</td>
        <td>(၃)</td>
        <td>အလုပ်သမားသည် မိမိရထိုက်သော ရှောင်တခင်ခွင့်ရက်ကို သက်ဆိုင်ရာနှစ်အတွင်း မယူလျှင် ထိုခွင့်ရက်သည် ပျက်ပြယ်စေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="one-day-for-two-months">လုပ်သက်နှစ်လပြည့်သည့်အခါတိုင်း ရှောင်တခင်ခွင့်တစ်ရက်နှုန်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၈။</td>
        <td>အလုပ်သမားသည် အလုပ်စတင်ဝင်ရောက်သည့်အချိန်မှ လုပ်သက်နှစ်လပြည့်သည့်အခါတိုင်း ရှောင်တခင်ခွင့်တစ်ရက်နှုန်းကို သက်ဆိုင်ရာနှစ်အတွင်း သက်ဆိုင်ရာရာ အခကြေးငွေ သို့မဟုတ် အခြေခံလစာငွေအပြည့်ဖြင့် ခံစားခွင့်ရှိသည်။ သို့ရာတွင် လုပ်သက်နှစ်လမပြည့်သော်လည်း ခိုင်လုံသောအကြောင်းပြချက်ရှိပါက ရှောင်တခင်ခွင့်ရက်ကို အလုပ်ရှင်က ခံစားခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="calculation-of-wage-for-casual-leave">ရှောင်တခင်ခွင့်ရက်အတွက် အခကြေးငွေတွက်ချက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၂။</td>
        <td>ရှောင်တခင်ခွင့်ရက်အတွက် သက်ဆိုင်ရာရာအခကြေးငွေကို တွက်ချက်ရာတွင် နေ့စားအလုပ်သမားများအတွက် အလုပ်ရှင်နှင့် သဘောတူညီထားသည့် တစ်နေ့လုပ်ခနှုန်းဖြင့်လည်းကောင်း၊ ပုတ်ပြတ်အလုပ်သမားများအတွက် ရှောင်တခင်ခွင့်ရက်မတိုင်မီ တစ်ဆက်တည်းဖြစ်သော ခုနှစ်ရက်အတွင်း ရရှိသော လုပ်ခစုစုပေါင်းကို အမှန်တကယ်လုပ်ကိုင်ခဲ့သော အလုပ်ဆင်းရက်ပေါင်းဖြင့်စား၍ ရရှိသော ပျမ်းမျှလုပ်ခနှုန်းဖြင့်လည်းကောင်း တွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="keeping-records-and-send-them-to-gov-office">မှတ်တမ်းထားရှိပြီး ဦးစီးဌာနသို့ လစဥ်ပေးပို့ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၃။</td>
        <td>အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် ခွင့်ပေးပိုင်ခွင့်ရှိသူသည် ရှောင်တခင်ခွင့်ရက် မှတ်တမ်းများကို သိမ်းဆည်းထားရှိပြီး သတ်မှတ်ပုံစံဖြင့် ဦးစီးဌာနသို့ လစဥ်ပေးပို့ရမည်။</td>
    </tr>
</table>

&nbsp;
