<h3>အဓိပ္ပါယ်ဖော်ပြချက်</h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td>(၃)</td>
        <td id="definition-of-earned-leave"><b>လုပ်သက်ခွင့်ရက်</b> ဆိုသည်မှာ အလုပ်လုပ်ခဲ့သည့် ကာလအပိုင်းအခြားအတွက်သော်လည်းကောင်း၊ တာဝန်ထမ်းဆောင်ခဲ့သည့် ကာလအပိုင်းအခြားအတွက်သော်လည်းကောင်း ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကို ဆိုလိုသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="continuous-10-days">တစ်ဆက်တည်း ဆယ့်နှစ်လပြည့်အောင် လုပ်ခဲ့သည့် အလုပ်သမားအား နောက်လာမည့် ဆယ့်နှစ်လအတွင်း တစ်ဆက်တည်း ဆယ်ရက် ခွင့်ပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၄။</td>
        <td>(၁)</td>
        <td>အလုပ်ရှင်သည် မိမိ၏အလုပ်ကို တစ်ဆက်တည်း ဆယ့်နှစ်လပြည့်အောင် လုပ်ခဲ့သည့် အလုပ်သမား အသီးသီးအား နောက်လာမည့် ဆယ့်နှစ်လအတွင်းတွင် သက်ဆိုင်ရာ ပျမ်းမျှအခကြေးငွေဖြင့်ဖြစ်စေ၊ ပျမ်းမျှလစာငွေဖြင့်ဖြစ်စေ လုပ်သက်ခွင့်ရက်ကို ဆယ်ရက် တစ်ဆက်တည်းခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="cutting-1-day-if-month-has-less-than-20-working-days">ရက်နှစ်ဆယ်ပြည့်အောင် မလုပ်ခဲ့သောလတိုင်းအတွက် တစ်ရက်ကျစီ အဖြတ်ခံရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၄။</td>
        <td>(၂)</td>
        <td>အလုပ်သမားသည် တစ်လလျှင် အနည်းဆုံး ရက်နှစ်ဆယ် အလုပ်လုပ်ခဲ့သူလည်းဖြစ်၍ အလုပ်ကို တစ်ဆက်တည်း ဆယ့်နှစ်လပြည့်အောင် လုပ်ပြီးသည်လည်းဖြစ်လျှင် လုပ်သက်ခွင့်ရက်ကို ခွင့်ပြုရမည်။ သို့ရာတွင် အလုပ်သမားသည် ရက်နှစ်ဆယ်ပြည့်အောင်မလုပ်ခဲ့သော လတိုင်းအတွက် မိမိလုပ်သက်ခွင့်ရက်မှ တစ်ရက်ကျစီ အဖြတ်ခံရမည်။
            <div>
                <p><b>ရှင်းလင်းချက်</b> - အလုပ်သမားသည် ဆယ့်နှစ်လအတွင်း မကျန်းမာသောကြောင့်ဖြစ်စေ၊ မတော်တဆထိခိုက်မှုကြောင့်ဖြစ်စေ၊ ဤအက်ဥပဒေအရခွင့်ပြုသော အခြားပျက်ကွက်မှုကြောင့်ဖြစ်စေ (ထိုပျက်ကွက်မှုသုံးမျိုးပေါင်းသည် ရက်ကိုးဆယ်ထက် မကျော်လွန်စေဘဲ) အလုပ်ပျက်ကွက်စေကာမူ သို့တည်းမဟုတ် အလုပ်ရှင်က အလုပ်ပိတ်ထားခြင်းကြောင့်ဖြစ်စေ၊ ဥပဒေနှင့် မညီသည်လည်းမဟုတ်သော သပိတ်မှောက်ခြင်းကြောင့်ဖြစ်စေ၊ မိမိအလိုအတိုင်းမဟုတ်ဘဲ ရံဖန်ရံခါ အလုပ်မရှိခြင်းကြောင့်ဖြစ်စေ (ထိုပျက်ကွက်မှု သုံးမျိုးစုစုပေါင်းသည် ရက်သုံးဆယ်ထက် မကျော်လွန်စေဘဲ) ပျက်ကွက်စေကာမူ ထိုအလုပ်သမားသည် မိမိအလုပ်ကို တစ်ဆက်တည်း ဆယ့်နှစ်လပြည့်အောင် လုပ်ခဲ့သူဟု မှတ်ယူရမည်။</p>
            </div>
        </td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="assign-eligible-earned-leave-within-3-months">ရထိုက်ခွင့်ရှိသော လုပ်သက်ခွင့်ရက်ကို သုံးလအတွင်း သတ်မှတ်ပေးရခြင်းနှင့် သုံးနှစ်အထိ စုဆောင်းထားနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၄။</td>
        <td>(၃)</td>
        <td>အလုပ်ရှင်သည် မိမိအလုပ်သမားအား လုပ်သက်ခွင့်ရယူနိုင်စေရန် ထိုသူ၏ လုပ်သက်ခွင့်နှင့်သက်ဆိုင်သည့် တစ်ဆယ့်နှစ်လဖြစ်သော ကာလအပိုင်းအခြား၏ နေက်ဆုံးနေ့မှစ၍ သုံးလအတွင်းအချိန်ကို သတ်မှတ်ပေးရမည်။ သို့ရာတွင် သက်ဆိုင်ရာ အလုပ်သမားနှင့် အလုပ်ရှင်အချင်းချင်း သဘောတူညီလျှင် သုံးနှစ်ထက်မပိုသောကာလ အပိုင်းအခြားအတွက် လုပ်သက်ခွင့်ရက်ကို စုပေါင်း၍ မည်သည့်အချိန်တွင်မဆို ပေးနိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>(၃၇)</td>
        <td>အလုပ်ရှင်သည် မိမိ၏ အလုပ်သမားများ လုပ်သက်ခွင့်ရက် ယူနိုင်စေရန် ထိုသူတို့၏ လုပ်သက်ခွင့်ရက်နှင့် သက်ဆိုင်သည့် တစ်ဆယ့်နှစ်လဖြစ်သော ကာလအပိုင်းအခြား၏ နောက်ဆုံးနေ့မှစ၍ သုံးလအတွင်း အလုပ်သမားခံစားခွင့်ရှိသော လုပ်သက်ခွင့်ရက် မည်မျှရှိကြောင်း တွက်ချက်မှုစာရင်းကို ထုတ်ပြန်ကြေညာပေးရမည့်အပြင် ထိုစာရင်းပါ မည်သည့်နေ့မှ မည်သည့်နေ့အတွင်း အလုပ်သမားတစ်ဦးစီ ခံစားခွင့်ရမည့် လုပ်သက်ခွင့်ရက်များစာရင်းကို ထုတ်ပြန်ကြေညာပြီး လုပ်ငန်းခွင်၌ အများမြင်သာသောနေရာတွင် ကပ်ထားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="payment-before-earned-leave-period">လုပ်သက်ခွင့်ရက်အတွက် အခကြေးငွေကို ကြိုတင်ထုတ်ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၄။</td>
        <td>(၄)</td>
        <td>လုပ်သက်ခွင့်ရက်ရသည့် အလုပ်သမားအား ခွင့်ပြုသည့် လုပ်သက်ခွင့်ရက် ကာလအပိုင်းအခြားအတွက် သက်ဆိုင်ရာရာ အခကြေးငွေကိုဖြစ်စေ၊ လစာငွေကိုဖြစ်စေ၊ လုပ်သက်ခွင့်ရက် ကာလမစမီ ထုတ်ပေးရမည်။ အဆိုပါ အခကြေးငွေကိုဖြစ်စေ၊ လစာငွေကိုဖြစ်စေ၊ ထုတ်ပေးမြဲအရပ်၌ အလုပ်သမားအားသော်လည်းကောင်း၊ အလုပ်သမားကလွှဲအပ်ထားသည့် ကိုယ်စားလှယ်အားသော်လည်းကောင်း ထုတ်ပေးရမည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၉။</td>
        <td>လုပ်သက်ခွင့်ရက်ခံစားသူများအား ခွင့်ရက်ကာလမစမီ လုပ်သက်ခွင့်ရက်အတွက် လစာ သို့မဟုတ် အခကြေးငွေကို ကြိုတင်ထုတ်ပေးရမည့်အပြင် ထိုသို့ ထုတ်ပေးမည်ဖြစ်ကြောင်းကို အလုပ်သမားများအား အသိပေးထားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="cash-benefits-for-resignation-dismissal-dead">လုပ်သက်ခွင့်ရက်မယူသေးမီ ထွက်၊ ထုတ်၊ သေဆုံး ဖြစ်လျှင် အခကြေးငွေခံစားခွင့်ရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၄။</td>
        <td>(၅)</td>
        <td>လုပ်သက်ခွင့်ရထိုက်သည့် အလုပ်သမားတိုင်းသည် မိမိရထိုက်သည့် သို့တည်းမဟုတ် စုထားသည့် ခွင့်ရက်များကို မယူသေးမီ အလုပ်မှ နှုတ်ထွက်လျှင် သို့တည်းမဟုတ် အလုပ်ရှင်၏ အလုပ်မှထုတ်ပစ်ခြင်းခံရလျှင် သို့တည်းမဟုတ် သေဆုံးလျှင် ထိုအလုပ်သမားအားဖြစ်စေ၊ ထိုအလုပ်သမား၏ တရားဝင်ကိုယ်စားလှယ်အားဖြစ်စေ၊ လုပ်သက်ခွင့်ရက်အစား ထိုအလုပ်သမား အလုပ်မှမနှုတ်ထွက်မီ သို့တည်းမဟုတ် ထုတ်ပစ်ခြင်းမခံရမီ သို့တည်းမဟုတ် မသေဆုံးမီ တစ်ဆက်တည်းဖြစ်သော လွန်ခဲ့သည့် ရက်ပေါင်းသုံးဆယ်အတွင်း လုပ်ခဲ့သည့်ရက်များအတွက် သက်ဆိုင်ရာအခကြေးငွေကိုဖြစ်စေ၊ လစာငွေကိုဖြစ်စေ၊ အခကြေးငွေ၏ သို့တည်းမဟုတ် လစာငွေ၏ ပျမ်းမျှနေ့စဥ်နှုန်းထားနှင့် ညီမျှသည့်နှုန်းအတိုင်း တွက်စစ်၍ အလုပ်ရှင်က ပေးရမည်။ (အလုပ်မှနှုတ်ထွက်သည့် သို့တည်းမဟုတ် အလုပ်မှထုတ်ပစ်ခြင်းခံရသည့် အလုပ်သမားဖြစ်လျှင် ထိုသို့ပေးရမည့်ငွေကို နှုတ်ထွက်သည့် သို့တည်းမဟုတ် အလုပ်မှ ထုတ်ပစ်ခြင်းခံရသည့်နေ့မှ အလုပ်ဖွင့်သည့် ဒုတိယနေ့မကုန်ဆုံးမီ ထုတ်ပေးရမည်။ သေဆုံးသည့် အလုပ်သမားဖြစ်လျှင် ထိုသို့) ပေးရမည့်ငွေကို တောင်းဆိုပြီးနောက် ဆောလျင်နိုင်သမျှ ဆောလျင်စွာ ထုတ်ပေးရမည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၀။</td>
        <td>အလုပ်သမားသည် အလုပ်ရှင်ထံ ကြိုတင်အကြောင်းကြားစာပေးပို၍ မိမိဆန္ဒအရ အလုပ်မှနှုတ်ထွက်ပါက မိမိရထိုက်ခွင့်ရှိသော လုပ်သက်ခွင့်ရက်ကာလအတွက် ငွေကြေးခံစားခွင့်ကို အလုပ်ရှင်ထံ တင်ပြတောင်းဆိုနိုင်သည်။</td>
    </tr>
    <tr>
        <td>၄၁။</td>
        <td>အလုပ်ရှင်သည် အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူစာချုပ်အရဖြစ်စေ၊ လုပ်ငန်းသဘာဝအရ သတ်မှတ်ထားသည့် လုပ်ငန်းခွင်စည်းကမ်းအရဖြစ်စေ၊ အလုပ်ရပ်စဲခံရသော အလုပ်သမား၏ လုပ်သက်ခွင့်ကာလအတွက် ရထိုက်ခွင့်ရှိသော ငွေကြေးခံစားခွင့်ကို ထုတ်ပေးရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="combining-leaves">ခွင့်ရက်များကို ပေါင်း၍ဖြစ်စေ ဆက်၍ဖြစ်စေ ပေးခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၇။</td>
        <td>ပုဒ်မ ၆ ၏ ပုဒ်မခွဲ (၅) ပါ ပြဌာန်းချက်နှင့် မဆန့်ကျင်စေဘဲ ဆေးလက်မှတ်ခွင့်ရက်ကို လုပ်သက်ခွင့်ရက်နှင့် တစ်ဆက်တည်းခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="proportaional-earned-leave-for-non-continuous-12-months-work">တစ်ဆက်တည်း ဆယ့်နှစ်လမလုပ်ရသည့် အလုပ်နှင့်စပ်လျဥ်းသည့် ခွင့်ရက်</h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၈။</td>
        <td>ပုဒ်မ ၄၊ ပုဒ်မ ၅ နှင့် ပုဒ်မ ၆ တွင် မည်သို့ပင်ဆိုစေကာမူ ဆယ့်နှစ်လပတ်လုံး တစ်ဆက်တည်းမလုပ်ရသည့် အလုပ်တစ်ခုခုတွင်ဖြစ်စေ၊ စက်မှုလက်မှုလုပ်ငန်းတစ်ခုခုတွင်ဖြစ်စေ၊ အလုပ်ဌာနတစ်ခုခုတွင်ဖြစ်စေ လုပ်သည့်အလုပ်သမားသည် လုပ်သက်ခွင့်ရက်ကို သို့တည်းမဟုတ် ရှောင်တခင်ခွင့်ရက်ကို သို့တည်းမဟုတ် ဆေးလက်မှတ်ခွင့်ရက်ကို မိမိလုပ်သက်၏ အချိုးကျအတိုင်း ရနိုင်စေရမည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၄။</td>
        <td>လုပ်ငန်းသဘာဝအရ တစ်ဆက်တည်း တစ်ဆယ့်နှစ်လပြည့်အောင် လုပ်ကိုင်ရခြင်းမရှိသည့် လုပ်ငန်းတစ်ခုခုတွင် လုပ်သက်ခွင့်ကို အချိုးကျခံစားနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="including-paid-holiday-as-working-day">အလုပ်ပိတ်ရက်များကို အလုပ်လုပ်ရက်အဖြစ် ထည့်သွင်းတွက်ချက်ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၅။</td>
        <td>လုပ်သက်ခွင့်ရက်တွက်ချက်ရန်အလို့ငှာ လုပ်ခခံစားခွင့်ရှိသည့် ခွင့်ရက်နှင့် အများပြည်သူ အလုပ်ပိတ်ရက်များကို တရားမဝင် အလုပ်လုပ်ရက်အဖြစ် ထည့်သွင်းတွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="including-holiday-as-leave-day">အလုပ်ပိတ်ရက်များကို လုပ်သက်ခွင့်ရက်အဖြစ် ထည့်သွင်းတွက်ချက်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၆။</td>
        <td>အလုပ်သမားသည် လုပ်သက်ခွင့်ရက် တစ်ဆက်တည်း တစ်ဆယ်ရက်ခံစားနေသည့်ကာလအတွင်း ကျရောက်သည့် အလုပ်ပိတ်ရက်များကို လုပ်သက်ခွင့်ရက်၌ ထည့်သွင်းတွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">

<h3 id="calculation-of-cash-benefits">လုပ်သက်ခွင့်ရက်အတွက် ပျမ်းမျှလစာငွေ တွက်ချက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃၈။</td>
        <td>(က)</td>
        <td>လစားအလုပ်သမား၏ လုပ်သက်ခွင့်ရက်အတွက် ပျမ်းမျှလစာငွေကို လုပ်သက်ခွင့်ရက် စတင်ခံစားသည့်နေ့ မတိုင်မီ တစ်ဆက်တည်းဖြစ်သော ရက် ၃၀ အတွင်း ရရှိသည့် လစာငွေကို အမှန်တကယ် အလုပ်လုပ်ရက်ဖြင့် စား၍ရသော တစ်ရက်ပျမ်းမျှလစာငွေဖြင့် ခံစားခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>နေ့စားနှင့် ပုတ်ပြတ်အလုပ်သမားများ၏ လုပ်သက်ခွင့်ရက်အတွက် ပျမ်းမျှအခကြေးငွေကို လုပ်သက်ခွင့်ရက်မတိုင်မီ တစ်ဆက်တည်းဖြစ်သော ရက် (၃၀) အတွင်း ရရှိခဲ့သည့် လုပ်ခစုစုပေါင်းကို အမှတ်တကယ်လုပ်ကိုင်ခဲ့သည့် အလုပ်ဆင်းရက်ပေါင်းဖြင့် စား၍ရသော ပျမ်းမျှလစာနှုန်းဖြင့် ခံစားခွင့်ပြုရမည်။</td>
    </tr>
</table>

&nbsp;
