<p>၂၀၁၃ ခုနှစ်၊ ပြည်ထောင်စုလွှတ်တော်ဥပဒေအမှတ် - ၂၉<br>၂၀၁၃ ခုနှစ်၊ ဩဂုတ်လ ၃၀ ရက်</p>
<h2>အခန်း (၃)<br></h2>
<h3 id="employment-contract">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅။</td>
        <td>(က)</td>
        <td>(၁)</td>
        <td>အလုပ်ရှင်သည် အလုပ်သမားအား အလုပ်တစ်ခုခုကို လုပ်ကိုင်ရန် ခန့်အပ်ပြီးပါက ရက်ပေါင်း ၃၀ အတွင်း အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုရမည်။ သို့ရာတွင် အစိုးရဌာန၊ အစိုးရအဖွဲ့အစည်းတွင် အမြဲတမ်းဝန်ထမ်းခန့်အပ်ခြင်းနှင့် သက်ဆိုင်ခြင်းမရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်ထားခြင်းမပြုမီ အကြိုသင်တန်းကာလနှင့် အစမ်းခန့်ကာလသတ်မှတ်ပါက ယင်းသင်တန်းသားသည် ပုဒ်မခွဲငယ် (၁) ပါ သက်မှတ်ချက်နှင့် သက်ဆိုင်ခြင်းမရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်တွင် အောက်ပါအချက်များပါဝင်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်အကိုင်အမျိုးအစား</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အစမ်းခန့်ကာလ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>လုပ်ခ၊ လစာ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>အလုပ်အကိုင်တည်နေရာ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>စာချုပ်သက်တမ်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အလုပ်ချိန်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>နားရက်၊ အလုပ်ပိတ်ရက်နှင့် ခွင့်ရက်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၈)</td>
        <td>အချိန်ပိုလုပ်ကိုင်ခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၉)</td>
        <td>အလုပ်ချိန်အတွင်း အစားအသောက်အစီအစဥ်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၀)</td>
        <td>နေရာထိုင်ခင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၁)</td>
        <td>ဆေးဝါးကုသခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၂)</td>
        <td>အလုပ်ခွင်သို့ ကြို၊ ပို့ယာဥ်စီစဥ်ပေးခြင်းနှင့် ခရီးသွားလာခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၃)</td>
        <td>အလုပ်သမားလိုက်နာရမည့် စည်းကမ်းချက်များ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၄)</td>
        <td>အလုပ်ရှင်စေလွှတ်သည့်သင်တန်းသို့ တက်ရောက်ပါက ယင်းသင်တန်းတက်ရောက်ပြီးနောက် ဆက်လက်တာဝန်ထမ်းဆောင်ရန် အလုပ်သမားက သဘောတူညီသည့် ကာလသတ်မှတ်ချက်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၅)</td>
        <td>အလုပ်မှနှုတ်ထွက်ခြင်းနှင့် အလုပ်မှရပ်စဲခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၆)</td>
        <td>စာချုပ်ရပ်စဲခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၇)</td>
        <td>စာချုပ်ပါစည်းကမ်းချက်အတိုင်း တာဝန်ရှိမှုများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၈)</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အား အလုပ်ရှင်၊ အလုပ်သမား နှစ်ဦးသဘောတူဖျက်သိမ်းခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁၉)</td>
        <td>အခြားကိစ္စရပ်များ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂၀)</td>
        <td>စာချုပ်စည်းကမ်းများကို သတ်မှတ်ခြင်း၊ ပြင်ဆင်ခြင်းနှင့် ဖြည့်စွက်ခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂၁)</td>
        <td>အထွေထွေ</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်တွင် ထည့်သွင်းချုပ်ဆိုသော လုပ်ငန်းခွင်စည်းကမ်းများသည် တည်ဆဲဥပဒေတစ်ရပ်ရပ်နှင့် ညီညွတ်ရမည့်အပြင် အလုပ်သမား၏ အကျိုးခံစားခွင့်များသည်လည်း တည်ဆဲဥပဒေတစ်ရပ်ရပ်ပါ ခံစားခွင့်များအောက် လျော့နည်းခြင်းမရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အရ သတ်မှတ်ကာလထက်စော၍ လုပ်ငန်းပြီးဆုံးသွားလျှင်သော်လည်းကောင်း၊ မမျှော်လင့်သော အကြောင်းကြောင့် လုပ်ငန်းတစ်ခုလုံးကိုဖြစ်စေ၊ လုပ်ငန်းတစ်စိတ်တစ်ဒေသကိုဖြစ်စေ ရပ်စဲလိုက်ရလျှင်သော်လည်းကောင်း၊ အကြောင်းအမျိုးမျိုးကြောင့် အလုပ်ရပ်စဲရန်ကိစ္စပေါ်ပေါက်လျှင်သော်လည်းကောင်း၊ အလုပ်ရှင်က အလုပ်သမားအား သတ်မှတ်ထားသော နစ်နာကြေးပေးရန် ဝန်ကြီးဌာနသည် အမိန့်ကြော်ငြာစာထုတ်ပြန်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2">ပုဒ်မခွဲ (က) အရချုပ်ဆိုသော အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်သည် အစိုးရဌာန၊ အစိုးရအဖွဲ့အစည်း၌ ယာယီခန့်ထားသည့် နေ့စားအလုပ်သမား၊ ပုတ်ပြတ်အလုပ်သမားများနှင့်လည်း သက်ဆိုင်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td colspan="2">အလုပ်ရှင်နှင့် အလုပ်သမား သို့မဟုတ် အလုပ်သမားများသည် နှစ်ဖက်သဘောတူညီမှုဖြင့် အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ပါ လုပ်ငန်းခွင်စည်းကမ်းနှင့် အကျိုးခံစားခွင့်များကို တည်ဆဲဥပဒေနှင့်အညီ လိုအပ်သလို ပြင်ဆင်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td colspan="2" id="confirmation-of-labor-office">အလုပ်ရှင်နှင့် အလုပ်သမားချုပ်ဆိုသော အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်မိတ္တူကို သက်ဆိုင်ရာ အလုပ်အကိုင်နှင့် အလုပ်သမားရှာဖွေရေးရုံးသို့ သတ်မှတ်ကာလအတွင်း အလုပ်ရှင်က ပေးပို့ပြီး အတည်ပြုချက်ရယူထားရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td colspan="2">ဤဥပဒေအတည်မဖြစ်မီ ချုပ်ဆိုခဲ့သော အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်များသည် မူလစာချုပ်သက်တမ်း ကုန်ဆုံးသည်အထိ အတည်ဖြစ်စေရမည်။</td>
    </tr>
</table>
<h2>အခန်း (၉)</h2>
<h3 id="offenses-and-penalties">ပြစ်မှုနှင့် ပြစ်ဒဏ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၃၈။</td>
        <td colspan="2">မည်သည့်အလုပ်ရှင်မဆို အောက်ပါပြုလုပ်မှုတစ်ရပ်ရပ်ကို ပြုလုပ်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို ခြောက်လထက်မပိုသော ထောင်ဒဏ်ဖြစ်စေ၊ ငွေဒဏ်ဖြစ်စေ၊ ပြစ်ဒဏ်နှစ်ရပ်လုံးဖြစ်စေ ချမှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td id="penalities-for-no-ec">ပုဒ်မ ၅၊ ပုဒ်မခွဲ (က) အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုရန် ပျက်ကွက်ခြင်း။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုဒ်မ ၃၀၊ ပုဒ်မခွဲ (က) အရ ပေးသွင်းရမည့် ထည့်ဝင်ကြေးပေးရန် ပျက်ကွက်ခြင်း။</td>
    </tr>
    <tr>
        <td>၃၉။</td>
        <td colspan="2" id="penalities-for-breach-of-ec">မည်သူမဆို အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ပါအချက် တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို သုံးလထက်မပိုသော ထောင်ဒဏ်ဖြစ်စေ၊ ငွေဒဏ်ဖြစ်စေ၊၊ ပြစ်ဒဏ်နှစ်ရပ်လုံးဖြစ်စေ ချမှတ်ရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>

&nbsp;
