<h2>မြန်မာနိုင်ငံ ရင်းနှီးမြှုပ်နှံမှု ဥပဒေ</h2>
<h3>အခန်း (၁၈)<br>ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်များ</h3>

<table class="list">
    <tr>
        <td>၇၄။</td>
        <td colspan="2">ကော်မရှင်သည် နိုင်ငံတော်အတွင်း ဖွံ့ဖြိုးတိုးတက်ရန် လိုအပ်သည့် ကဏ္ဍများတွင် ရင်းနှီးမြှုပ်နှံမှု ဝင်ရောက်စေခြင်းအားဖြင့် နိုင်ငံတော် ဖွံ့ဖြိုးတိုးတက်မှုကို အထောက်အကူပြုစေရေး အတွက်လည်းကောင်း၊ တိုင်းဒေသကြီးနှင့် ပြည်နယ်များ အချိုးကျမျှတစွာ ဖွံ့ဖြိုးတိုးတက်လာစေရေး အတွက်လည်းကောင်း၊ အခွန်ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်တစ်ရပ်ရပ်ကိုဖြစ်စေ၊ တစ်ရပ်ရပ်ထက်ပို၍ဖြစ်စေ ခံစားခွင့်ပြုရန် ရင်းနှီးမြှုပ်နှံသူက လျှောက်ထားလျှင် စိစစ်ခွင့်ပြုပေးနိုင်သည်။</td>
    </tr>
</table>
<h3 id="income-tax-exemption-on-zones">ဇုန်အလိုက် ဝင်ငွေခွန်ကင်းလွတ်ခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၅။</td>
        <td>(က)</td>
        <td>ဝင်ငွေခွန်ကင်းလွတ်ခွင့်နှင့် ပတ်သက်၍ ဖွံ့ဖြိုးမှုနည်းပါသော ဒေသများအား ဇုန် (၁) အဖြစ်လည်းကောင်း၊ ဖွံ့ဖြိုးမှုအသင့်အတင့်ရှိသော ဒေသများအား ဇုန် (၂) အဖြစ်လည်းကောင်း၊ ဖွံ့ဖြိုးမှုရှိသော ဒေသများအား ဇုန် (၃) အဖြစ်လည်းကောင်း၊ အစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် ကော်မရှင်က အမိန့်ကြော်ငြာစာ ထုတ်ပြန်သတ်မှတ်ကာ ဇုန် (၁) အတွင်း ရင်းနှီးမြှုပ်နှံသူများအား စီးပွားဖြစ်စတင်သောနှစ်အပါအဝင် တစ်ဆက်တည်း ၇ နှစ်အထိ လည်းကောင်း၊ ဇုန် (၂) အတွင်း ရင်းနှီးမြှုပ်နှံသူများအား စီးပွားဖြစ်စတင်သောနှစ်အပါအဝင် တစ်ဆက်တည်း ၅ နှစ်အထိ လည်းကောင်း၊ ဇုန် (၃) အတွင်း ရင်းနှီးမြှုပ်နှံသူများအား စီးပွားဖြစ်စတင်သောနှစ်အပါအဝင် တစ်ဆက်တည်း ၃ နှစ်အထိ လည်းကောင်း၊ ဝင်ငွေခွန်ကင်းလွတ်ခွင့် ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် ကော်မရှင်သည် ဇုန်သတ်မှတ်ခြင်းကို သက်ဆိုင်ရာဒေသများ၏ ဖွံ့ဖြိုးတိုးတက်မှုအပေါ်မူတည်၍ အခါအားလျော်စွာ လိုအပ်သလို ပြောင်းလဲသတ်မှတ်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ဝင်ငွေခွန်ကင်းလွတ်ခွင့်ကို ရင်းနှီးမြှုပ်နှံမှု မြှင့်တင်ဆောင်ရွက်ရန် ကော်မရှင်က အမိန့်ကြော်ငြာစာ ထုတ်ပြန်ထားသည့် ကဏ္ဍများအတွက်သာ ခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="better-exemptions-to-nationality">နိုင်ငံသားရင်းနှီးမြှုပ်နှံသူနှင့် နိုင်ငံသားပိုင်းလုပ်ငန်းများအား အထူးသာလွန်သော ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်များ ခွင့်ပြုပေးနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၆။</td>
        <td>အခန်း (၁၁) ပါ ရင်းနှီးမြှုပ်နှံသူများအား ဆက်ဆံဆောင်ရွက်ခြင်း ပြဌာန်းချက်များအပြင် အစိုးရအဖွဲ့သည် မြန်မာနိုင်ငံသား ရင်းနှီးမြှုပ်နှံသူများ သို့မဟုတ် နိုင်ငံသားပိုင် အသေးစား အလတ်စား စီးပွားရေးလုပ်ငန်းများအား အထောက်အပံ့များ၊ ငွေကြေးဆိုင်ရာ ပံ့ပိုးမှုများ၊ စွမ်းဆောင်ရည်မြှင့်တင်ခြင်း၊ သင်တန်းများ ဖွင့်လှစ်ပေးခြင်းတို့ကို ဆောင်ရွက်နိုင်သည်။ ထို့အပြင် နိုင်ငံသားပိုင် စီးပွားရေးလုပ်ငန်းများမှ လုပ်ငန်းဆောင်ရွက်နေသည့်နေရာ သို့မဟုတ် စီးပွားရေးလုပ်ငန်း အမျိုးအစားများနှင့် စပ်လျဥ်းသည့် ဆောင်ရွက်ချက်များတွင် အထူးနှင့် သာလွန်သော ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်များကို ခွင့်ပြုပေးနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="exemptions-of-custom-duty-and-others">အကောက်ခွန်နှင့် အခြားပြည်တွင်း အခွန်အကောက်များ ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၇။</td>
        <td colspan="2">ကော်မရှင်သည် ရင်းနှီးမြှုပ်နှံသူက တင်ပြလျှောက်ထားလာလျှင် အောက်ပါ အကောက်ခွန်နှင့် အခြားပြည်တွင်း အခွန်အကောက်များ ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်ကို စိစစ်ခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" id="exemptions-for-machines-and-equipments" class="title">စက်ပစ္စည်းနှင့် လုပ်ငန်းသုံးပစ္စည်းများအတွက် ကင်းလွတ်ခွင့်<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်း တည်ဆောက်မှုကာလ (သို့မဟုတ်) ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်း ပြင်ဆင်မှုကာလအတွင်း အမှန်တကယ်လိုအပ်၍ တင်သွင်းသော စက်ပစ္စည်းများ၊ အသုံးအဆောင်တန်ဆာပလာများ၊ စက်ကိရိယာ အစိတ်အပိုင်းများ၊ စက်အရန်ပစ္စည်းများ၊ ပြည်တွင်း၌ ဝယ်ယူရရှိနိုင်ခြင်းမရှိသော တည်ဆောင်ရေးပစ္စည်းများ၊ လုပ်ငန်းသုံးပစ္စည်းများအပေါ်တွင် အကောက်ခွန်ဖြစ်စေ၊ အခြားပြည်တွင်း အခွန်အကောက်များဖြစ်စေ၊ နှစ်မျိုးလုံးကိုဖြစ်စေ ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" class="title" id="exemptions-for-raw-materials">ကုန်ကြမ်းပစ္စည်းများအတွက် ကင်းလွတ်ခွင့်<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပြည်ပသို့ ရာနှုန်းပြည့်တင်ပို့သည့် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းများက ပို့ကုန်ထုတ်လုပ်ရန်အတွက် တင်သွင်းသော ကုန်ကြမ်းပစ္စည်းများ၊ တစ်စိတ်တစ်ပိုင်းထုတ်လုပ်ပြီးသော ကုန်ပစ္စည်းများအပေါ်တွင် အကောက်ခွန်ဖြစ်စေ၊ အခြားပြည်တွင်း အခွန်အကောက်များဖြစ်စေ၊ ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" class="title" id="refund-tax-for-export">ပြန်လည်တင်ပို့သော ကုန်ပစ္စည်းများအတွက် ကောက်ခဲ့သည့် အခွန် ပြန်ထုတ်ပေးခြင်း<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ပြည်ပမှ ကုန်ကြမ်းပစ္စည်းများနှင့် တစ်စိတ်တစ်ပိုင်းထုတ်လုပ်ပြီးသော ပစ္စည်းများ၊ တင်သွင်းပြီး ပြည်တွင်း၌ ကုန်ပစ္စည်းထုတ်လုပ်ကာ ပြည်ပသို့ ပြန်လည်တင်ပို့ခဲ့လျှင် တင်ပို့သည့်ကုန်ပစ္စည်း ပမာဏအတွက် ပြည်ပမှတင်သွင်းခဲ့သော ကုန်ကြမ်းပစ္စည်းများနှင့် တစ်စိတ်တစ်ပိုင်းထုတ်လုပ်ပြီးသော ပစ္စည်းများအပေါ်တွင် ကောက်ခံခဲ့သော အကောက်ခွန်ဖြစ်စေ၊ အခြားပြည်တွင်းအခွန်အကောက်များဖြစ်စေ၊ နှစ်မျိုးလုံးကိုဖြစ်စေ ပြန်လည်ထုတ်ပေးခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" class="title" id="increasing-investment-and-exemptions">ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်း ပမာဏတိုးမြှင့်ခြင်းနှင့် ကင်းလွတ်ခွင့်<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ကော်မရှင်၏ ခွင့်ပြုချက်ဖြင့် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်း ပမာဏတိုးမြှင့်ပြီး မူလရင်းနှီးမြှုပ်နှံသည့် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းအား ခွင့်ပြုထားသည့် သက်တမ်းကာလအတွင်း တိုးချဲ့လုပ်ကိုင်ပါက ယင်းသို့တိုးချဲ့သည့် ရင်းနှီးမြှုပ်နှံမှု လုပ်ငန်းအတွက် အမှန်တကယ်အသုံးပြုရန် လိုအပ်၍ တင်သွင်းသော စက်ပစ္စည်းများ၊ စက်ကိရိယာများ၊ အသုံးအဆောင်တန်ဆာပလာများ၊ စက်ကိရိယာ အစိတ်အပိုင်းများ၊ စက်အရန်ပစ္စည်းများ၊ လုပ်ငန်းသုံးပစ္စည်းများ၊ ပြည်တွင်း၌ ဝယ်ယူရရှိနိုင်ခြင်းမရှိသော တည်ဆောင်ရေးပစ္စည်းများ အပေါ်တွင် အကောက်ခွန်ဖြစ်စေ၊ အခြားပြည်တွင်း အခွန်အကောက်များဖြစ်စေ၊ နှစ်မျိုးလုံးကိုဖြစ်စေ ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="applications-for-exemptions-can-be-granted">ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့် လျှောက်ထားလျှင် စိစစ်ခွင့်ပြုပေးနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၈။</td>
        <td colspan="2">ကော်မရှင်သည် ရင်းနှီးမြှုပ်နှံသူက လျှောက်ထားလာလျှင် အောက်ပါ ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်ကို လိုအပ်သလို စိစစ်ခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ခွင့်ပြုမိန့် သို့မဟုတ် အတည်ပြုမိန့် ရရှိထားသည့် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းမှ ရရှိသည့် အမြတ်ငွေကို အဆိုပါ ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းတွင်ဖြစ်စေ၊ ၎င်း၏ အခြားအမျိုးအစားတူ ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းတွင်ဖြစ်စေ၊ တစ်နှစ်အတွင်း၌ ပြန်လည်ရင်းနှီးမြှုပ်နှံလျှင် ထိုအမြတ်ငွေအပေါ်တွင် ဝင်ငွေခွန်ကင်းလွတ်ခွင့် သို့မဟုတ် သက်သာခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ဝင်ငွေခွန်စည်းကြပ်ရန်အလို့ငှာ စက်ပစ္စည်း၊ စက်ကိရိယာ အဆောက်အအုံ သို့မဟုတ် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းသုံး အခြားမတည်ပစ္စည်းများအပေါ်တွင် သတ်မှတ်အချိန်ကာလထက် လျော့နည်းသော ပစ္စည်းတန်ဖိုး လျော့တွက်နှုန်းထားဖြင့် စီးပွားဖြစ်စတင်သောနှစ်မှ တွက်ချက်ခံစားခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>နိုင်ငံတော်၏ စီးပွားရေးဖွံ့ဖြိုးတိုးတက်ရန် အမှန်တကယ်လိုအပ်၍ နိုင်ငံတော်အတွင်း ဆောင်ရွက်နိုင်သည့် ရင်းနှီးမြှုပ်နှံမှုလုပ်ငန်းဆိုင်ရာ သုတေသနနှင့် ဖွံ့ဖြိုးတိုးတက်ရေး လုပ်ငန်းများအတွက် ကျန်ကျစရိတ်ကို အခွန်စည်းကြပ်ထိုက်သော ဝင်ငွေမှ နှုတ်ပယ်ခွင့်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="foreign-investor-income-tax-as-nationality">နိုင်ငံသားများနည်းတူ ရင်းနှီးမြှုပ်နှံသူများ ဝင်ငွေခွန်ပေးဆောင်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၉။</td>
        <td>နိုင်ငံခြားသားရင်းနှီးမြှုပ်နှံသူများသည် ၎င်းတို့၏ ဝင်ငွေအပေါ်တွင် ပြည်တွင်းနေ နိုင်ငံသားများ ပေးဆောင်သည့် ဝင်ငွေခွန်နှုန်းထားများအတိုင်း ဝင်ငွေခွန်ပေးဆောင်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="in-accordance-with-applicable-tax-law">သက်ဆိုင်ရာအခွန်ဥပဒေနှင့်အညီ ဆောင်ရွက်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈၀။</td>
        <td>ပုဒ်မ ၇၅၊ ၇၇ နှင့် ၇၈ တွင် ပြဌာန်းထားသည့် ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်များမှအပ အခြားအခွန်ဆိုင်ရာ ကိစ္စရပ်များအား သက်ဆိုင်ရာ အခွန်ဥပဒေနှင့်အညီ ဆောင်ရွက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="not-concern-with-sez">အထူးစီးပွားရေးဇုန်နှင့် မသက်ဆိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈၁။</td>
        <td>ပုဒ်မ ၇၅၊ ၇၇၊ ၇၈၊ ၈၀ တို့ပါ ကင်းလွတ်ခွင့်နှင့် သက်သာခွင့်များသည် အထူးစီးပွားရေးဇုန်တွင် လုပ်ကိုင်နေသော စီးပွားရေးလုပ်ငန်းများနှင့် သက်ဆိုင်ခြင်းမရှိစေရ။</td>
    </tr>
</table>

&nbsp;
