<p>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများအက်ဥပဒေကို ပြင်ဆင်သည့်ဥပဒေ<br>၂၀၁၆ ခုနှစ်၊ ပြည်ထောင်စုလွှတ်တော်အမှတ် - ၁၂</p>
<h2>အခန်း (၁)</h2>
<h3 id="age">အသက်ကန့်သတ်ချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td>(က)</td>
        <td>"ကလေး" ဆိုသည်မှာ အလုပ်လုပ်ကိုင်နိုင်ရန် မှတ်ပုံတင်ဆရာဝန်ကခွင့်ပြုသည့် အသက်တစ်ဆယ့်လေးနှစ်ပြည့်ပြီး အသက်တစ်ဆယ်ခြောက်နှစ် မပြည့်သေးသူကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>"လူရွယ်" ဆိုသည်မှာ အသက်တစ်ဆယ့်ခြောက်နှစ်ပြည့်ပြီး အသက်တစ်ဆယ့်ရှစ်နှစ်မပြည့်သေးသူကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>"လူငယ်" ဆိုသည်မှာ "ကလေး" နှင့် "လူရွယ်" ကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>"လူကြီး" ဆိုသည်မှာ အသက်ဆယ့်ရှစ်နှစ် ပြည့်ပြီးသူကို ဆိုလိုသည်။</td>
    </tr>
</table>
<h3 id="starting-business-notice">လုပ်ငန်းစတင်လျှင် အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈။</td>
        <td>(၁)</td>
        <td colspan="2">လုပ်ငန်းပိုင်ရှင်သည် အလုပ်ရုံအဖြစ် မည်သည့်အဆောက်အဦ၌မဆို စတင်၍ လုပ်ငန်းလုပ်ခြင်း သို့တည်းမဟုတ် အဆောက်အဦကို အသုံးပြုခြင်းမပြုမီ အနည်းဆုံးဆယ့်ငါးရက်ကြိုတင်၍ အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်ကြားရေးမှူးချုပ်ထံ အောက်ပါအချက်များနှင့် စပ်လျဥ်း၍ နို့တစ်စာပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်ရုံ၏ အမည်နှင့် တည်နေရာအရပ်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>လုပ်ငန်းပိုင်ရှင်၏ အမည်နှင့် နေရပ်အပြည့်အစုံ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်ရုံနှင့်စပ်လျဥ်းသည့် အကြောင်းကြားစာများ ပေးပို့ရမည့် နေရပ်အပြည့်အစုံ၊ "ဆက်သွယ်ရန်လိပ်စာ၊ ဖုန်းနံပါတ်၊ ဖက်(စ်)နံပါတ်၊ အီးမေးလ်လိပ်စာ။"</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဃ)</td>
        <td>ပြုလုပ်မှုလုပ်ငန်းစဥ်အမျိုးအစား -<br>
            (ကက)&emsp;ဤအက်ဥပဒေအာဏာ တည်သည့်နေ့တွင် ရှိနေပြီးသော အလုပ်ရုံများနှင့် စပ်လျဥ်း၍ ထိုအလုပ်ရုံတွင် လွန်ခဲ့သည့် ဆယ့်နှစ်လအတွင်းလုပ်သည့် ပြုလုပ်မှုလုပ်ငန်းစဥ်။<br>
            (ခခ)&emsp;(အလုပ်ရုံအားလုံးနှင့်စပ်လျဥ်း၍) နောက်လာမည့် ဆယ့်နှစ်လအတွင်းလုပ်မည့် ပြုလုပ်မှု လုပ်ငန်းစဥ်။
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(င)</td>
        <td>လုပ်ငန်းအမျိုးအစား၊ အသုံးပြုရမည့် လျှပ်စစ်ဝန်အားနှင့် စက်စွမ်းအား။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(စ)</td>
        <td>ဤအက်ဥပဒေအလို့ငှာ အလုပ်ရုံမန်နေဂျာဖြစ်သူ၏ အမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဆ)</td>
        <td>အလုပ်ရုံတွင် ခိုင်းစေဘွယ်ရှိသည့် အလုပ်သမားအရေအတွက်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဇ)</td>
        <td>ဤအက်ဥပဒေအာဏာတည်သည့်နေ့တွင် ရှိနေပြီးဖြစ်သော အလုပ်ရုံများနှင့် စပ်လျဥ်း၍ လွန်ခဲ့သည့် ဆယ်နှစ်လအတွင်း ပျမ်းမျှခြင်းအားဖြင့် တစ်နေ့လျှင် ခိုင်းစေသည့် အလုပ်သမား အရေအတွက်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဈ)</td>
        <td>ပြဌာန်းသည့် အခြားအကြောင်းအရာများ။</td>
    </tr>
</table>
<h3 id="new-manager-notice">မန်နေဂျာအသစ်ခန့်ထားလျှင် အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈။</td>
        <td>(၄)</td>
        <td>မန်နေဂျာအသစ်ခန့်ထားသည့်အခါတိုင်း လုပ်ငန်းပိုင်ရှင်သည် မန်နေဂျာအသစ် အလုပ်ဝတ္တရားစတင်ဆောင်ရွက်သည့်နေ့မှ ခုနှစ်ရက်အတွင်း အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန ညွှန်ကြားရေးမှူးချုပ်ထံ နို့တစ်စာပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၅)</td>
        <td>မည်သူ့ကိုမျှ အလုပ်ရုံမန်နေဂျာအဖြစ် ခန့်ထားခြင်းမရှိသေးသော ကာလအပိုင်းအခြားအတွင်းသော်လည်းကောင်း၊ မန်နေဂျာအနေဖြင့် ခန့်ထားခြင်းခံရသူသည် အလုပ်ရုံကို အုပ်ချုပ်ခြင်းမပြုသည့် ကာအပိုင်းအခြားအတွင်းသော်လည်းကောင်း၊ မန်နေဂျာအဖြစ် ခေတ္တလုပ်နေသူ သို့တည်းမဟုတ် ယင်းသို့ လုပ်သူမရှိလျှင် လုပ်ငန်းပိုင်ရှင် ကိုယ်တိုင်ပင် ဤအက်ဥပဒေအလို့ငှာ ထိုအလုပ်ရုံ၏ မန်နေဂျာအနေဖြင့် ဖြစ်သည်ဟူ၍ မှတ်ယူရမည်။</td>
    </tr>
</table>
<h3  id="closing-factory-notice">အလုပ်ရုံကို ခေတ္တ သို့မဟုတ် အချိန်အကန့်အသတ်မရှိ ပိတ်သိမ်းခြင်းအတွက် အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈။</td>
        <td>(၆)</td>
        <td>ဥပဒေအရ ပိတ်ရသည့်အခါမှတပါး အလုပ်ရုံတစ်ခုကို ခေတ္တ၊ သို့တည်းမဟုတ် အချိန်အကန့်အသတ်မရှိဘဲ၊ ပိတ်ထားရန် လိုအပ်သည့်အခါတွင် လုပ်ငန်းပိုင်ရှင်သည် အလုပ်ရုံမပိတ်မီ အနည်းဆုံး တစ်လကြိုတင်၍ အကြောင်းပြချက်များပါရှိသော နို့တစ်စာကို အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်းကြားရေးမှူးချုပ်ထံ ပေးပို့ရမည်။ အကြောင်းတစ်ခုခုကြောင့် နို့တစ်စာကို တစ်လကြိုတင်၍ မပေးပို့နိုင်လျှင်၊ အလုပ်ရုံကို မပိတ်မီ ဆောလျင်နိုင်သမျှဆောလျင်စွာ အလုပ်ရုံနှင့်အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်ကြားရေးမှူးချုပ်ထံ ကြိုတင်ကြောင်းကြားရမည်။ သို့ရာတွင် မမြှော်လင့်ဘဲ ရုတ်တရက် အခြေဖြစ်ပေါ်လာသော အကြောင်းကြောင့်ဖြစ်စေ၊ စက်ကိရိယာများ ချို့ယွင်းပျက်စီးသောကြောင့်ဖြစ်စေ၊ အလုပ်ရုံကိုပိတ်ရလျှင် ယင်းသို့ ပိတ်သည်အချိန်မှ လေးဆယ့်ရှစ်နာရီအတွင်း အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်ကြားရေးမှူးချုပ်အား အကြောင်းကြားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၇)</td>
        <td>ပုဒ်မခွဲ(၆)တွင် ရည်ညွှန်းသည့် လုပ်ငန်းပိုင်ရှင်သည်၊ အလုပ်ကို ပြန်လည်မလုပ်မီ ဆယ့်ငါးရက်အတွင်း အလုပ်ရုံနှင့်အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်ကြားရေးမှူးချုပ်ထံ ယင်းသို့ ပြန်လည်လုပ်မည်ဖြစ်ကြောင်းကို နို့တစ်စာပေးပို့ရမည်။</td>
    </tr>
</table>
<div class="osh-section">
    <h2 id="osh">လုပ်ငန်းခွင်ဘေးအန္တရာယ်ကင်းရှင်းရေးနှင့် ကျန်းမာရေး<i class="fa-solid fa-link"></i></h2>
    <p>လုပ်ငန်းခွင်ဘေးအန္တရာယ်ကင်းရှင်းရေးနှင့် ကျန်းမာရေးဆိုင်ရာ ပြဌာန်းချက်များဖြစ်သော</p>
    <ul>
        <li><a href="#">အခန်း (၃)၊ ကျန်းမာရေး</a></li>
        <li><a href="#">အခန်း (၄)၊ ဘေးရန်ကင်းရှင်းမှု</a></li>
        <li><a href="#">အခန်း (၅)၊ သက်သာချောင်ချိရေး</a></li>
        <li><a href="#">အခန်း (၆)၊ အထူးသက်ဆိုင်စေခြင်း</a></li>
    </ul>
    <p>တို့ကို <a href="#">အလုပ်ရုံများအက်ဥပဒေ၊ လုပ်ငန်းခွင်ဘေးအန္တရာယ်ကင်းရှင်းရေးနှင့် ကျန်းမာရေး</a> စာမျက်နှာတွင် သီးခြားဖော်ပြထားပါသည်။</p>
</div>
<h2>အခန်း (၇)<br>လူကြီးများ အလုပ်လုပ်ချိန်နာရီများ</h2>
<h3 id="weekly-work-hours">ရက်သတ္တပတ် အလုပ်ချိန်နာရီများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၉။</td>
        <td>အလုပ်ရုံတွင် မည်သည့်လူကြီး အလုပ်သမားကိုမျှ ရက်သတ္တပတ်တစ်ပတ်လျှင် လေးဆယ့်လေးနာရီထက်ပို၍ မလုပ်စေရ၊ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။<br>သို့ရာတွင် အလုပ်ရုံ၌ အလုပ်လုပ်နည်းနှင့် စပ်လျဥ်းသည့် အကြောင်းထူးများကြောင့် တစ်ရက်ပတ်လုံး အဆက်မပြတ် လုပ်ရမည့်အလုပ်တွင် လုပ်သည့်လူကြီးအလုပ်သမားသည် ရက်သတ္တပတ်တွင် လေးဆယ့်ရှစ်နာရီမျှ အလုပ်လုပ်နိုင်သည်။</td>
    </tr>
</table>
<h3 id="weekly-rest-day">ရက်သတ္တပတ်အလုပ်ပိတ်ရက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၀။</td>
        <td>(၁)</td>
        <td colspan="3">မည်သည့်လူကြီးအလုပ်သမားကိုမျှ အောက်ပါအချက်များနှင့် မညီညွတ်လျှင် တနင်္ဂနွေနေ့၍ အလုပ်ရုံတွင် အလုပ်မလုပ်စေရ၊ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td colspan="2">ထိုအလုပ်သမားသည် တနင်္ဂနွေနေ့မတိုင်မီ သုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက် တစ်ရက်လုံးရပြိးဖြစ်စေရမည်။ သို့တည်းမဟုတ် ထိုတနင်္ဂနွေနေ့နောက် သုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက်တစ်ရက်လုံး ရမည်ဖြစ်စေရမည်။ ထို့ပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အလုပ်ရုံမန်နေဂျာသည် ထိုတနင်္ဂနွေနေ့ သို့တည်းမဟုတ် အပိုဒ် (က) အရ ထိုနေ့အဘို့ အစားသွင်းသည့်နေ့၊ ထိုနေ့များအနက် အလျင်ကျသည့်နေ့မတိုင်မီ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>(ကက)</td>
        <td>ရက်သတ္တပတ် အလုပ်ပိတ်ရက်များ၌ လုပ်ငန်းလိုအပ်ချက်အရ အလုပ်လုပ်စေရန် လိုအပ်ပါက အလုပ်သမား၏ သဘောတူညီချက်ဖြင့် လုပ်ငန်းပိုင်ရှင် သို့မဟုတ် မန်နေဂျာသည် အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန သို့မဟုတ် ယင်းဦးစီးဌာနက လွှဲအပ်ထားသည့် စစ်ဆေးရေးအရာရှိထံသို့ သတ်မှတ်ထားသော စည်းကမ်းချက်များနှင့်အညီ အနည်းဆုံးသုံးရက်ကြိုတင်၍ တင်ပြပြီး ခွင့်ပြုချက်ရရှိမှသာ လုပ်ကိုင်စေရမည်။ ထို့အပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>(ခခ)</td>
        <td>အနည်းဆုံး နှစ်ဆယ့်လေးနာရီကြိုတင်၍ ယင်းသို့ကြံရွယ်ကြောင်း နို့တစ်စာကို အလုပ်ရုံတွင် မြင်သာအောင် ကပ်ထားပြီးဖြစ်ရမည့်အပြင် ထိုနေ့များအနက် နောက်ကျသည့်နေ့ ကုန်ဆုံးသည်အထိ ကပ်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="3">သို့ရာတွင် အလုပ်သမားတစ်ဦးဦးအား အလုပ်ပိတ်ရက် တစ်ရက်လုံးမရစေဘဲ၊ အဆက်မပြတ် ဆယ်ရက်ထက်ပို၍ အလုပ်လုပ်ရခြင်းကို ဖြစ်စေမည့် မည်သည့်ရက်အစားသွင်းခြင်းကိုမျှ မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="3">ပုဒ်မခွဲ (၁) အရ ပေးသည့်နို့တစ်စာများကို တနင်္ဂနွေနေ့ သို့တည်းမဟုတ် ပယ်ဖျက်မည်ဖြစ်သည့် အလုပ်ပိတ်ရက်၊ ထိုနေ့များအနက် အလျင်ကျသည့်နေ့မတိုင်မီ ရက်တစ်ရက်ထက်နောက်မကျဘဲ၊ စစ်ဆေးရေးအရာရှိ၏ရုံးသို့ ပေးအပ်သည့် နို့တစ်စာဖြင့်လည်းကောင်း၊ ပုဒ်မ ၆၇ အရကပ်ထားသည့် အချိန်နို့တစ်စာ၏အနီးတွင် မြင်သာအောင်ကပ်ထားသည့် နို့တစ်စာဖြင့်လည်းကောင်း ပယ်ဖျက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td colspan="3">ပုဒ်မခွဲ (၁) ပါပြဌာန်းချက်များနှင့်အညီ အလုပ်သမားသည် တနင်္ဂနွေနေ့၌ အလုပ်လုပ်၍ ထိုနေ့မတိုင်မီသုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက် ရပြီးဖြစ်သည့်အချက်တွင် ထိုတနင်္ဂနွေနေ့ကို ထိုအလုပ်သမား ရက်သတ္တပတ် အလုပ်လုပ်သည့်အချိန်တွင် ထိုတနင်္ဂနွေနေ့ကို ထိုအလုပ်သမား ရက်သတ္တပတ် အလုပ်လုပ်သည့် အချိန်တွက်ချက်ရန်အလို့ငှာ လွန်ခဲ့သည့်ရက်သတ္တပတ်တွင် ထည့်သွင်းရမည်။</td>
    </tr>
</table>
<h3 id="rest-days-substitution">အစားပေးသည့် အလုပ်ပိတ်ရက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၁။</td>
        <td>(၁)</td>
        <td>ဤအက်ဥပဒေပါ ပြဌာန်းချက်များအရ အလုပ်ရုံကို သို့တည်းမဟုတ် အလုပ်ရုံတွင် အလုပ်လုပ်သူများကို ပုဒ်မ ၆၀ ရှိ ပြဌာန်းချက်များမှ ကင်းလွတ်ခွင့်ပြုသည့် အမိန့်ချမှတ်ခြင်းကြောင့်ဖြစ်စေ၊  နည်းဥပဒေပြုခြင်းကြောင့်ဖြစ်စေ၊ ထိုပုဒ်မရှိ ပုဒ်မခွဲ (၁) ဖြင့် ပြဌာန်းထားသည့် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်များအနက် တစ်ရက်ရက်ကို အလုပ်သမားအား ခံစားခွင့်မပေးလျှင် ထိုသူအား အလုပ်ပိတ်ရက်များရသင့်သည့် ပြက္ခဒိန်လအတွင်းတွင်ဖြစ်စေ၊ နောင်လာမည့်ပြက္ခဒိန်လ နှစ်လအတွင်းတွင်ဖြစ်စေ၊ မိမိဆုံးရုံးသောအလုပ်ပိတ်ရက် အရေအတွက်နှင့်ညီမျှသော အစားပေးသည့် အလုပ်ပိတ်ရက်များကို ခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာနသည် ပုဒ်မခွဲ (၁) တွင် ပြဌာန်းထားသည့် အလုပ်ပိတ်ရက်များကို မည်သို့မည်ပုံခွင့်ပြုရမည်ဟု ပြဌာန်းနိုင်သည်။</td>
    </tr>
</table>
<h3 id="work-hours">နေ့စဥ်အလုပ်ချိန်နာရီများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၂။</td>
        <td>ပုဒ်မ ၅၉ ပါ ပြဌာန်းချက်များနှင့် မဆန့်ကျင်စေဘဲ မည်သည့်လူကြီး အလုပ်သမားကိုမျှ အလုပ်ရုံ၌ မည်သည့်ရက်တွင်မဆို အလုပ်ချိန်နာရီပေါင်း ရှစ်နာရီထက်ပို၍ အလုပ်မလုပ်စေရ။</td>
    </tr>
</table>
<h3  id="rest-time">အားလပ်ချိန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၃။</td>
        <td>အလုပ်ရုံရှိ လူကြီးအလုပ်သမားများ၏ ရက်အသီးသီးတွင် အလုပ်လုပ်သည့်ကာလအပိုင်းအခြားများကို မည်သည့်ကာလ အပိုင်းအခြားမျှ ငါးနာရီထက်မပိုစေရ။ ထို့အပြင် မည်သည့်အလုပ်သမားကိုမျှ အနည်းဆုံး နာရီဝက်နားစေရန် အားလပ်ချိန်မရသေးမီ ငါးနာရီထက်ပို၍ တစ်ဆက်တည်း အလုပ်မလုပ်စေရ။<br><b>ရှင်းလင်းချက်</b>။&emsp;။ အနည်းဆုံး နာရီဝက်အားလပ်ချိန်ဖြင့် ခြားမနေသော အလုပ်ကာလအပိုင်းအခြားကို တစ်ဆက်တည်းလုပ်ရသော အလုပ်ကာလအပိုင်းအခြားဟူ၍ ယူဆရမည်။</td>
    </tr>
</table>
<h3 id="work-hours-limitation">နေ့စဥ်အလုပ်ချိန်အစအဆုံး ကန့်သတ်ချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၄။</td>
        <td>အလုပ်ရုံတွင် လူကြီးအလုပ်သမားအလုပ်လုပ်သည့် ကာလအပိုင်းအခြားများနှင့် ပုဒ်မ ၆၃ အရ ထိုသူရရှိသည့် အားလပ်ချိန်များသည် နာရီပေါင်း ဆယ်နာရီထက်ပို၍ မကြာရအောင် စီမံထားရမည်။ သို့ရာတွင် အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာန၏ ခွင့်ပြုချက်ဖြင့် ယေဘုံယျအားဖြင့်ဖြစ်စေ၊ သီးခြားဖြစ်သော အလုပ်ရုံတွင်ဖြစ်စေ၊ အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာန ပြဌာန်းသည့် စည်းကမ်းများနှင့် မဆန့်ကျင်စေဘဲ ထိုနာရီပေါင်းထက်ပို၍ စီမံထားနိုင်သည်။</td>
    </tr>
</table>
<h3 id="work-hours-notice">လူကြီးများအလုပ်လုပ်ရန်ကာလအပိုင်းအခြားဆိုင်ရာ နို့တစ်စာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၇။</td>
        <td>(၁)</td>
        <td>လူကြီးများအလုပ်လုပ်ရန် ကာလအပိုင်းအခြားဆိုင်ရာ နို့တစ်စာကို သို့တည်းမဟုတ် နို့တစ်စာများကို နေ့စဥ် မည်သည့်ကာလ အပိုင်းအခြားတွင် လူကြီးအလုပ်သမားများအား အလုပ်လုပ်စေမည့်အကြောင်း နေ့တိုင်းအတွက် ရှင်းလင်းစာဖော်ပြလျက်၊ ပုဒ်မ ၉၉ ရှိ ပုဒ်မခွဲ (၂) ပါ ပြဌာန်းချက်များနှင့်အညီ အလုပ်ရုံအသီးသီးတွင် မြင်သာအောင် ကပ်ထားရမည့်အပြင် မှန်ကန်စွာလည်း ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="workers-registration-book">လူကြီးအလုပ်သမား မှတ်ပုံစာအုပ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၆၈။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်ရုံမန်နေဂျာအသီးသီးသည်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်ရုံတွင်အလုပ်လုပ်သည့် လူကြီးအလုပ်သမားအသီးသီး၏ အမည်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>ထိုသူလုပ်သည့် အလုပ်အမျိုးအစား</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>ထိုသူပါဝင်သည့်လူစုရှိလျှင် ထိုလူစု</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဃ)</td>
        <td>ထိုသူပါဝင်သည့်လူစုသည် အလှည့်ကျအလုပ်လုပ်လျှင် ထိုသူအား မည်သည့်အလှည့်ကျလူစုသို့ သတ်မှတ်ထားကြောင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(င)</td>
        <td>ပြဌာန်းသည့်အခြားအကြောင်းအရာများကို ဖော်ပြသည့် လူကြီးအလုပ်သမာမှတ်ပုံစာအုပ်ကို ထားရှိရမည်။ ထိုစာအုပ်ကို အလုပ်ချိန်အတွင်း သို့တည်းမဟုတ် အလုပ်ရုံတွင် အလုပ်တစ်ခုခုလုပ်နေစဥ်အတွင်း စစ်ဆေးရေးအရာရှိက အချိန်မရွေးကြည့်ရှုနိုင်အောင် ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="overtime-wages">အချိန်ပိုလုပ်ရသည့်အတွက် အခပို<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၃။</td>
        <td>(၁)</td>
        <td>အလုပ်သမားတစ်ဦးတစ်ယောက်သည် အလုပ်ရုံတွင် ပုဒ်မ ၅၉ နှင့် ၆၂ တွင် သတ်မှတ်ထားသည့် အချိန်ထက်ပို၍ လုပ်ရလျှင် ထိုသူသည် မိမိအချိန်ပိုလုပ်ရသည့်အတွက် မိမိသာမန်ရရှိသည့် အခနှုန်း၏ နှစ်ဆ ရစေရမည့်အပြင် ရှားပါးစရိတ်ရနေလျှင် ထိုအချိန်ပိုလုပ်ရသည့်နေ့အတွက် ပေးမြဲနှုန်းအတိုင်း ရှားပါးစရိတ်ကိုလည်း ရစေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="prohibiting-working-in-two-factories-on-one-day">တစ်ရက်တည်း၌ အလုပ်ရုံနှစ်ရုံတွင် အလုပ်လုပ်ခြင်းကို ကန့်သတ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၄။</td>
        <td>ပြဌာန်းသတ်မှတ်သည့် အကြောင်းအချက်များတွင်မှတပါး မည်သည့်အလုပ်သမားကိုမျှ အလုပ်ရုံတစ်ခု၌ အလုပ်လုပ်ပြီးဖြစ်လျှင်၊ ထိုနေ့၌ပင် အခြားအလုပ်ရုံတစ်ခု၌ အလုပ်မလုပ်စေရ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
</table>
<h2>အခန်း (၈)<br>လူငယ်များ ခိုင်းစေခြင်း</h2>
<h3 id="prohibiting-child-workers">ငယ်ရွယ်သောကလေးများ ခိုင်းစေခြင်းကို တားမြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၅။</td>
        <td colspan="2">အသက်တစ်ဆယ့်လေးနှစ်မပြည့်သေးသည့် မည်သည့်ကလေးကိုမျှ အလုပ်ရုံတစ်ခုခုတွင် အလုပ်မလုပ်စေရ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>၇၅-က။</td>
        <td>မည်သည့်လူငယ်ကိုမျှ ဘေးအန္တရာယ်ရှိစေသော၊ ကျန်းမာရေးထိခိုက်စေသော၊ ပညာသင်ကြားနိုင်သည့် အခွင့်အရေးကို အနှောင့်အယှက်ဖြစ်စေသော၊ စာရိတ္တနှင့် ဂုဏ်သိက္ခာကို ထိခိုက်စေသော နည်းလမ်းများဖြင့် အလုပ်ခိုင်းစေခြင်းမပြုရ။</td>
    </tr>
</table>
<h3 id="keep-badge">အထိမ်းအမှတ်များကို လူကြီးအလုပ်သမားမဟုတ်သည့် အလုပ်သမားမျာက ဆောင်ထားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၆။</td>
        <td colspan="2">အသက်တစ်ဆယ့်လေးနှစ်ပြည့်ပြီးသည့် မည်သည့်ကလေးကိုမျှ သို့တည်းမဟုတ် မည်သည့် လူရွယ်ကိုမျှ</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ပုဒ်မ ၇၇ အရ ထိုသူအားရည်ညွှန်း၍ ထုတ်ပေးသည့် အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်ကို အလုပ်ရုံမန်နေဂျာက သိမ်းဆည်းမထားလျှင် ထို့ပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ထိုသူသည် မိမိအလုပ်လုပ်နေစဥ် ယင်းသို့သော အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်ကို ရည်ညွှန်းသည့် အထိမ်းအမှတ်ကို ဆောင်မထားလျှင်</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">အလုပ်ရုံတွင် အလုပ်မလုပ်စေရ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
</table>
<h3 id="medical-certificate">အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၇။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့် ဆရာဝန်သည် အလုပ်ရုံတွင် အလုပ်လုပ်လိုသည့် လူငယ်ကဖြစ်စေ၊ ထိုသူ၏ မိဘက သို့တည်းမဟုတ် အုပ်ထိန်းသူကဖြစ်စေ၊ ထိုသူကိုခိုင်းစေလိုသည့် မန်နေဂျာကဖြစ်စေ လျှောက်ထားလျှင် ယင်းသို့သော အလုပ်ကို ထိုသူလုပ်ရန် သင့်လျော်သည် မသင့်လျော်သည်ကို အမှန်သိရှိရအောင် ထိုသူကို စမ်းသပ်စစ်ဆေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="2">အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့်ဆရာဝန်သည် စမ်းသပ်စစ်ဆေးခြင်းပြုပြီးကာလ၊ ပြဌာန်းထားသည့်ပုံစံဖြင့် ရေးသားသော အောက်ပါ အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်ကို ထိုသူအား ထုတ်ပေးနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ထိုလူငယ်သည် အသက်တစ်ဆယ့်လေးနှစ်ပြည့်ပြီးဖြစ်ကြောင်း ပြဌာန်းထားသည့် ကာယဗလ အဆင့်အတန်းများသို့ ရောက်ရှိပြီးဖြစ်ကြောင်း၊ ထို့ပြင် ယင်းသို့သော အလုပ်ကို ထိုလူငယ်လုပ်ရန် သင့်လျော်ကြောင်းများဖြင့် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့်ဆရာဝန်က ကျေနပ်လျှင် အလုပ်ရုံတွင် ကလေးအဖြစ် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>ထိုလူငယ်သည် အသက်တစ်ဆယ့်ခြောက်နှစ်ပြည့်ပြီးဖြစ်၍ အလုပ်ရုံတွင် တစ်ရက်လုံးအတွက် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်းဖြင့် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့်ဆရာဝန်က ကျေနပ်လျှင် အလုပ်ရုံတွင် လူကြီးအဖြစ် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">သို့ရာတွင် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့် ဆရာဝန်သည် လူငယ်အလုပ်လုပ်ရန် အလုပ်လုပ်ရန် ကြံရွယ်သည့်နေရာနှင့် ထိုသူကို ခိုင်းစေမည့်ပြုလုပ်မှုလုပ်ငန်းစဥ်အကြောင်းကို ကိုယ်တိုင်သိရှိပြီးမဟုတ်လျှင် ထိုနေရာကို စမ်းဆေးပြီးမှသာလျှင် ပုဒ်မခွဲ (၁) အရ အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်ကို ထုတ်ပေးရမည် သို့တည်းမဟုတ် အသစ်လဲလှယ်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td colspan="2">ပုဒ်မခွဲ (၂) အရ ထုတ်ပေးသည့် သို့တည်းမဟုတ် အသစ်လဲလှယ်ပေးသည့် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်သည် ထုတ်ပေးသည့်နေ့မှစ၍ ဆယ့်နှစ်လအတွက်သာ အတည်ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<h3 id="benefits-of-medical-certificate">လူရွယ်သို့ ထုတ်ပေးသည့် အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်၏ အကျိုး<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၈။</td>
        <td>(၁)</td>
        <td>ပုဒ်မ ၇၇၊ ပုဒ်မခွဲ (၂)၊ အပိုဒ် (ခ) အရ အလုပ်ရုံတွင် လူကြီးအဖြစ် အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ရသည့်အပြင် အလုပ်ရုံတွင် အလုပ်လုပ်နေစက် ထိုအလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်ကို ရည်ညွှန်းသည့် အထိမ်းအမှတ်ကိုလည်း ဆောင်ထားသည့်လူရွယ်သည် အခန်း (၇) ပါ ကိစ္စများအလို့ငှာ လူကြီးဖြစ်သည်ဟူ၍ မှတ်ယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>ပုဒ်မ ၇၇၊ ပုဒ်မခွဲ (၂)၊ အပိုဒ် (ခ) အရ အလုပ်ရုံတွင် လူကြီးအဖြစ် အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် မရသည့်လူရွယ်သည် အသက်မည်မျှပင်ရှိစေကာမူ ဤအက်ဥပဒေအလို့ငှာ ကလေးဖြစ်သည်ဟူ၍ မှတ်ယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td>အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် မရသော မည်သည့်လူရွယ်ကိုမျှ အလုပ်ရုံ၌ ညနေခြောက်နာရီမှ နံနက်ခြောက်နာရီအချိန်အတွင်း မခိုင်းစေရ သို့မဟုတ် အလုပ်လုပ်ခွင့်မပြုရ။</td>
    </tr>
</table>
<h3 id="child-worker-work-hours">ကလေးများအလုပ်လုပ်သည့်အချိန်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇၉။</td>
        <td>(၁)</td>
        <td colspan="2">မည်သည့်ကလေးကိုမျှ အလုပ်ရုံ၌</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>မည်သည့်ရက်တွင်မျှ ပေါင်းလေးနာရီထက်ပို၍ မခိုင်းစေရ သို့တည်းမဟုတ် အလုပ်လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>ညနေခြောက်နာရီမှ နံနက်ခြောက်နာရီအချိန်အတွင်း မခိုင်းစေရ သို့တည်းမဟုတ် အလုပ်လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td></td>
        <td>(၄)</td>
        <td colspan="2">မည်သည့်ကလေးကိုမျှ အလုပ်ရုံတစ်ခု၌ အလုပ်လုပ်ပြီးဖြစ်သောရက်တွင် အခြားအလုပ်ရုံတစ်ခု၌ ခိုင်းစေခြင်းမပြုရ သို့တည်းမဟုတ် အလုပ်လုပ်ခွင့်မပြုရ။</td>
    </tr>
</table>
<h3 id="child-workers-work-hours-notice">ကလေးများအလုပ်လုပ်ရန် ကာလအပိုင်းအခြားဆိုင်ရာ နို့တစ်စာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈၀။</td>
        <td>(၁)</td>
        <td>ကလေးများအလုပ်လုပ်ရန် ကာလအပိုင်းအခြားဆိုင်ရာ နို့တစ်စာကို နေ့စဥ် မည်သည့်ကာလအပိုင်းအခြားတွင် ကလေးများအား အလုပ်လုပ်စေမည့် သို့တည်းမဟုတ် အလုပ်လုပ်ခွင့်ပြုမည့်အကြောင်း ရှင်းလင်းစွာဖော်ပြလျက် ပုဒ်မ ၉၉၊ ပုဒ်မခွဲ (၂) ပါပြဌာန်းချက်များနှင့်အညီ ကလေးများကို ခိုင်းစေသည့် အလုပ်ရုံအသီးသီးတွင် မြင်သာအောင်ကပ်ထားရမည့်အပြင် မှန်ကန်စွာလည်း ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="child-workers-registration-book">ကလေးအလုပ်သမား မှတ်ပုံစာအုပ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈၁။</td>
        <td>(၁)</td>
        <td colspan="2">ကလေးများကို ခိုင်းစေသည့် အလုပ်ရုံမန်နေဂျာ အသီးသီးသည်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ကလေးအလုပ်သမားအသီးသီး၏ အမည်နှင့် မိဘအမည်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>ထိုကလေးလုပ်သည့် အလုပ်အမျိုးအစား</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>ထိုကလေးပါဝင်သည့် လူစုရှိလျှင် ထိုလူစု</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဃ)</td>
        <td>ထိုကလေးပါဝင်သည့် လူစုသည် အလှည့်ကျ အလုပ်လုပ်လျှင် ထိုကလေးအား မည်သည့်အလှည့်ကျလူစုသို့ သတ်မှတ်ထားကြောင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(င)</td>
        <td>ပုဒ်မ ၇၇ အရ ထုတ်ပေးသည့် ထိုကလေး၏ အလုပ်လုပ်ရန်သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ်၏ အမှတ်စဥ်၊ ထို့ပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(စ)</td>
        <td>ပြဌာန်းထားသည့် အခြားအကြောင်းအရာများကို ဖော်ပြသည့် ကလေးအလုပ်သမား မှတ်ပုံစာအုပ်ကို ထားရှိရမည့်အပြင် ထိုမှတ်ပုံစာအုပ်ကို အလုပ်ချိန်အတွင်း စစ်ဆေးရေးအရာရှိက အချိန်မရွေးကြည့်ရှုနိုင်ရန် စီစဥ်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="2">အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာနသည် ကလေးအလုပ်သမားမှတ်ပုံစာအုပ်ပုံစံ၊ ထိုစာအုပ်ပုံစံကို ထားရှိရမည့်နည်းလမ်း၊ ထို့ပြင် ထိုမှတ်ပုံစာအုပ်ကို မပျက်စီးအောင် သိမ်းထားရမည့်ကာလအပိုင်းအခြားကို သတ်မှတ်နိုင်သည်။</td>
    </tr>
</table>

&nbsp;
