<p>ဤစာမျက်နှာတွင် ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် ဥပဒေနှင့် နည်းဥပဒေများပါ ပြဌာန်းချက်များကို ပေါင်းစည်းဖော်ပြထားသည်။ သို့သော် ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အမျိုးအစား တစ်မျိုးချင်းစီအတွက် သီးခြားစာမျက်နှာတစ်ခုစီ ခွဲထုတ်ဖော်ပြထားသည်။</p>
<h2>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</h2>
<p>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေကို ပြင်ဆင်သည့်ဥပဒေ<br>၂၀၁၄ ခုနှစ်၊ ပြည်ထောင်စုလွှတ်တော်အမှတ် ၃၀</p>
<h3 id="definitions-law">အဓိပ္ပါယ်ဖော်ပြချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="3">ဤအက်ဥပဒေတွင် အကြောင်းအရာနှင့်ဖြစ်စေ၊ ရှေ့နောက်စကားတို့၏ အဓိပ္ပါယ်နှင့်ဖြစ်စေ မဆန့်ကျင်လျှင် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(၁)</td>
        <td colspan="2"><b>နေ့ သို့တည်းမဟုတ် ရက်</b> ဆိုသည်မှာ ညဥ့်သန်းခေါင်အချိန်မှစ၍ ရေတွက်သည့် နှစ်ဆယ့်လေးနာရီကာလအပိုင်းအခြားကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="2" id="definition-of-leave-day"><b>ခွင့်ရက်</b> ဆိုရာတွင် လုပ်သက်ခွင့်ရက်၊ ရှောင်တခင်ခွင့်ရက်၊ ဆေးလက်မှတ်ခွင့်ရက်နှင့် မီးဖွားခွင့်ရက် တို့ပါဝင်သည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td colspan="2"><b>လုပ်သက်ခွင့်ရက်</b> ဆိုသည်မှာ အလုပ်လုပ်ခဲ့သည့် ကာလအပိုင်းအခြားအတွက်သော်လည်းကောင်း၊ တာဝန်ဝတ္တရားဆောင်ရွက်ခဲ့သည့် ကာလအပိုင်းအခြားအတွက်သော်လည်းကောင်း ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၄)</td>
        <td colspan="2"><b>အလုပ်သမား</b> ဆိုသည်မှာ နေ့စားအလုပ်သမား၊ ယာယီအလုပ်သမားနှင့် အမြဲတမ်းအလုပ်သမား အပါအဝင် စီးပွားရေးလုပ်ငန်းတစ်ခုတွင်ဖြစ်စေ၊ အသက်မွေးဝမ်းကြောင်းအတွက်ဖြစ်စေ မိမိ၏လုပ်အားအပေါ် အားကိုအားထားပြုလုပ်ကိုင်နေသူကို ဆိုလိုသည်။ သို့ရာတွင် အောက်ပါတို့ မပါဝင်ချေ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ကိုယ်ပိုင်အလုပ်၊ ကိုယ်ပိုင်စက်မှုလက်မှုလုပ်ငန်း၊ သို့မဟုတ် စီးပွားရေးလုပ်ငန်း၊ သို့မဟုတ် ကိုယ်ပိုင်အလုပ်ဌာနလုပ်နေသည့် အလုပ်ရှင်ဖြစ်လျှင် ထိုအလုပ်ရှင်၏ မိဘ၊ ခင်ပွန်း၊ ဇနီး၊ သားသမီး၊ ညီအစ်ကို (အရင်း)၊ ညီအစ်မ (အရင်း)နှင့် မောင်နှမအရင်းများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ကဖြစ်စေ၊ စက်မှုလက်မှုလုပ်ငန်းကဖြစ်စေ သို့မဟုတ် စီးပွားရေးလုပ်ငန်းကဖြစ်စေ၊ အလုပ်ဌာနကဖြစ်စေ ရရှိသော အမြတ်အစွန်းထဲမှ အခကြေးငွေကို မိမိ၏ဝေစုအဖြစ်ဖြင့် ရရှိသူများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>ထမင်းချက်၊ အိမ်သန့်ရှင်းရေး၊ ကလေးထိန်းနှင့် အစောင့်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဃ)</td>
        <td>တည်ဆဲဥပဒေတစ်ရပ်ရပ်အရ အကြောင်းအားလျော်စွာ အခကြေးငွေနှင့် သော်လည်းကောင်း၊ လစာငွေနှင့်သော်လည်းကောင်း ပေးရန်ပြဌာန်းထားသည့် ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်များရရှိသော နိုင်ငံ့ဝန်ထမ်းများ</td>
    </tr>
    <tr>
        <td></td>
        <td>(၅)</td>
        <td colspan="2"><b>အလုပ်ရှင်</b> ဆိုသည်တွင် ကျနစွာဖွဲ့စည်းသည့် သို့တည်းမဟုတ် မဖွဲ့စည်းသည့် ပုဂ္ဂိုလ်တစ်စုနှင့် အလုပ်ရှင်၏ အုပ်ချုပ်မှုကိုယ်စားလှယ်ပါဝင်သည့်အပြင် ကွယ်လွန်သူအလုပ်ရှင်၏ တရားဝင်ကိုယ်စားလှယ်လည်း ပါဝင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၆)</td>
        <td colspan="2"><b>လစာငွေ</b> ဆိုသည်မျာ အခြေခံလစာကို ဆိုလိုသည်။ ရှားပါးစရိတ်ရှိလျှင် အခြေခံလစာငွေနှင့် ရှားပါစရိတ် နှစ်ရပ်ပေါင်းကို ဆိုလိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၇)</td>
        <td colspan="2"><b>မှတ်ပုံတင်ဆရာဝန်</b> ဆိုသည်မှာ မြန်မာနိုင်ငံ တိုင်းရင်းဆေးကောင်စီဥပဒေအရဖြစ်စေ၊ ဆရာဝန်များ၏ မှတ်ပုံတင်စာရင်းထားရှိရေးအတွက် ပြဌာန်းသည့် တည်ဆဲဥပဒေတစ်ရပ်ရပ်အရဖြစ်စေ မှတ်ပုံတင်ထားသူကို ဆိုလိုသည့်အပြင် ထိုကဲ့သို့ မှတ်ပုံတင်ဆရာဝန်မရှိသည့် အရပ်ဒေသတစ်ခုခုအတွက် ဤအက်ဥပဒေအလို့ငှာ မှတ်ပုံတင်ဆရာဝန်ဖြစ်သည်ဟု ကျန်းမာရေးဝန်ကြီးဌာန၊ ပြည်ထောင်စုဝန်ကြီးက အမိန့်ကြော်ငြာစာဖြင့် ပြဌာန်းသူသည်လည်း ထိုစကားရပ်တွင် ပါဝင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၈)</td>
        <td colspan="2"><b>အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ရက်သတ္တပတ်အလုပ်ပိတ်ရက်နှင့် အများပြည်သူအလုပ်ပိတ်ရက်တို့ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၉)</td>
        <td colspan="2"><b>အခကြေးငွေ</b> ဆိုသည်မှာ အခကြေးငွေပေးချေရေးအက်ဥပဒေ၊ ပုဒ်မ ၂ (၆) တွင် အဓိပ္ပါယ်ဖော်ပြထားသည့် အခကြေးငွေကို ဆိုလိုသည်။</td>
    </tr>
</table>
<h3 id="combining-and-splitting-leave-days">ခွင့်ရက်ကို ပေါင်း၍ဖြစ်စေ၊ ဆက်၍ဖြစ်စေ ပေးခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇။</td>
        <td>ပုဒ်မ ၆ ၏ ပုဒ်မခွဲ (၅) ပါ ပြဌာန်းချက်များနှင့် မဆန့်ကျင်စေဘဲ ဆေးလက်မှတ်ခွင့်ရက်ကို လုပ်သက်ခွင့်ရက်နှင့် တစ်ဆက်တည်း ခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td>၇-က။</td>
        <td>ကိုယ်ဝန်ဆောင် အမျိုးသမီးအလုပ်သမားများအား မီးမဖွားမီ ရက်သတ္တပတ်ခြောက်ပါတ်နှင့် မီးဖွားပြီး ရက်သတ္တပတ်ရှစ်ပတ်ကို သက်ဆိုင်ရာအခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ မီးဖွားခွင့်ရက်အဖြစ်ဖြင့် ခွင့်ပြုရမည်။ မီးဖွားခွင့်ရက်ကို ဆေးလက်မှတ်ခွင့်ရက်နှင့် ဆက်စပ်ခံစားခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<h3 id="non-continuous-12-months-earned-leave">တဆက်တည်း ဆယ့်နှစ်လမလုပ်ရသည့် အလုပ်နှင့်စပ်လျဥ်းသည့် ခွင့်ရက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈။</td>
        <td>ပုဒ်မ ၄၊ ပုဒ်မ ၅ နှင့် ပုဒ်မ ၆ တွင် မည်သို့ပင်ဆိုစေကာမူ ဆယ့်နှစ်လပတ်လုံး တစ်ဆက်တည်းမလုပ်ရသည့် အလုပ်တစ်ခုခုတွင်ဖြစ်စေ၊ စက်မှုလုပ်ငန်းတစ်ခုခုတွင်ဖြစ်စေ၊ အလုပ်ဌာနတစ်ခုခုတွင်ဖြစ်စေ လုပ်သည့် အလုပ်သမားသည် လုပ်သက်ခွင့်ရက်ကို သို့တည်းမဟုတ် ရှောင်တခင်ခွင့်ရက်ကို သို့တည်းမဟုတ် ဆေးလက်မှတ်ခွင့်ရက်ကို မိမိလုပ်သက်၏ အချိုးကျအတိုင်း ရနိုင်စေရမည်။</td>
    </tr>
</table>
<h3 id="void-contract-of-leave-and-holiday">ခွင့်ရက်၊ အလုပ်ပိတ်ရက်နှင့် စပ်လျဥ်းသည့် သဘောတူစာချုပ် ပျက်ပြယ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၉။</td>
        <td>ဤအက်ဥပဒေတွင် ပြဌာန်းထားသည့်အောက် အကျိုးယုတ်လျော့သော စည်းကမ်းချက်များဖြင့် ခွင့်ရက်ကိုဖြစ်စေ၊ အလုပ်ပိတ်ရက်ကိုဖြစ်စေ ယူရန် အလုပ်သမားကချုပ်ဆိုသည့် အလုပ်သဘောတူစာချုပ်သည် သို့တည်းမဟုတ် အလုပ်ပဋိညာဥ်စာချုပ်သည် အလုပ်ရှင်၏ တာဝန်ကို ယုတ်လျော့စေသည့် သဘောသက်ရောက်သည်နှင့်အမျှ ပျက်ပြယ်ရမည်။</td>
    </tr>
</table>
<h3 id="exemptions">ကင်းလွတ်ချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၀။</td>
        <td>(၁)</td>
        <td>အလုပ်တွင်သော်လည်းကောင်း၊ စက်မှုလုပ်ငန်းတွင်သော်လည်းကောင်း၊ အလုပ်ဌာနတွင်သော်လည်းကောင်း ပိုင်ရှင်အပြောင်းအလဲ မည်သို့ပင်ရှိစေကာမူ ထိုအကြောင်းအလဲကြောင့် ဤအက်ဥပဒေအရ အလုပ်သမားရထိုက်သော အခွင့်အရေးများကို မထိခိုက်စေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>သက်ဆိုင်ရာအခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ ရသည့်ခွင့်ရက်နှင့် သို့တည်းမဟုတ် အလုပ်ပိတ်ရက်နှင့်စပ်လျဥ်း၍ ဤအက်ဥပဒေတွင် ပြဌာန်းထားသည်ထက် ပိုမိုကောင်းမွန်သည့် အခွင့်အရေးများထားရှိသော အခြားဥပဒေအရဖြစ်စေ၊ အဆုံးအဖြတ်၏ သို့တည်းမဟုတ် အလုပ်သဘောတူစာချုပ်၏ သို့တည်းမဟုတ် အလုပ်ပဋိညာဥ်စာချုပ်၏ စည်းကမ်းချက်များအရဖြစ်စေ၊ ထုံးစံဓလေ့အရဖြစ်စေ၊ အလုပ်သမားခံစားခွင့်ရှိသော အခွင့်အရေးများကို ဤအက်ဥပဒေပါ ပြဌာန်းချက်တစ်ခုခုကြောင့် မနစ်နာစေရ။</td>
    </tr>
</table>
<h3 id="taking-action">ပြစ်မှုများကိုအရေးယူခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၆။</td>
        <td>(၁)</td>
        <td>ဤအက်ဥပဒေပါ ပြဌာန်းချက်အရဖြစ်စေ၊ ဤအက်ဥပဒေအရပြုသည့် နည်းဥပဒေပါ ပြဌာန်းချက်အရဖြစ်စေ၊ ပြစ်ဒဏ်ပေးနိုင်သည့် ပြစ်မှုတစ်ခုခုအတွက် စစ်ဆေးရေးအရာရှိမှတပါး သို့တည်းမဟုတ် စစ်ဆေးရေးအရာရှိ၏ စာဖြင့်ပေးသော ကြိုတင်အခွင့်အမိန့်ကို ရရှိသောသူမှတပါး အခြားမည်သူမျှ တရားစွဲဆိုခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>ဤအက်ဥပဒေပါ ပြဌာန်းချက်အရဖြစ်စေ၊ ဤအက်ဥပဒေအရပြုသည့် နည်းဥပဒေပါ ပြဌာန်းချက်အရဖြစ်စေ၊ ပြစ်မှုကို ပဌမတန်းအာဏာရ တရားသူကြီးရုံးအောက် နိမ့်သော မည်သည့်တရားရုံးကမျှ မစစ်ဆေးရ။</td>
    </tr>
</table>
<h2>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</h2>
<p>အမိန့်ကြော်ငြာစာအမှတ် ၆၉/၂၀၁၈<br>၂၀၁၈ ခုနှစ်၊ ဧပြီလ ၂၆ ရက်</p>
<h2>အခန်း (၁)</h2>
<h3 id="definitions-rules">အမည်နှင့်အဓိပ္ပါယ်ဖော်ပြချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="2">ဤနည်းဥပဒေများတွင်ပါရှိသော စကားရပ်များသည် ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေတွင် ပါရှိသည့်အတိုင်း အဓိပ္ပါယ်သက်ရောက်စေရမည့်အပြင် အောက်ပါစကားရပ်များသည် ဖော်ပြပါအတိုင်း အဓိပ္ပါယ်သက်ရောက်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td><b>ရက်သတ္တပတ်</b> ဆိုသည်မှာ စနေနေ့ ညဥ့်သန်းခေါင်အချိန်မှ စတင်ရေတွက်သော တစ်ဆက်တည်း ခုနှစ်ရက်ကာလအပိုင်းအခြားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td><b>သက်ဆိုင်ရာနှစ်</b> ဆိုသည်မှာ ဥပဒေအရ အလုပ်သမားရထိုက်ခွင့်ရှိသော ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်များ ခံစားခွင့်ရှိသည့်နှစ်ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td><b>ရှောင်တခင်ခွင့်ရက်</b> ဆိုသည်မှာ မမျှော်လင့်သော ရုတ်တရက်အကြောင်းကိစ္စ ပေါ်ပေါက်ခဲ့လျှင် ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကိုဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td><b>ဆေးလက်မှတ်ခွင့်ရက်</b> ဆိုသည်မှာ မမာမကျန်းဖြစ်သည့်အခါ ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဈ)</td>
        <td><b>မီးဖွားခွင့်ရက်</b> ဆိုသည်မှာ အမျိုးသမီးအလုပ်သမားများ ကိုယ်ဝန်ဆောင်နေစဥ်နှင့် မီးဖွားပြီးချိန်ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကိုဆိုသည်။ ယင်းစကားရပ်တွင် ပြစ်ဒဏ်ထိုက်သင့်သည့် ကိုယ်ဝန်ပျက်စေခြင်းမဟုတ်သော ကိုယ်ဝန်ပျက်ကျမှုလည်း ပါဝင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ည)</td>
        <td><b>ရက်သတ္တပတ်အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ရက်သတ္တပတ်လျှင် အနည်းဆုံးတစ်ရက် အနားပေးသည့်ရက်ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဋ)</td>
        <td><b>အများပြည်သူအလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ပြည်ထောင်စုအစိုးရအဖွဲ့က အမိန့်ကြော်ငြာစာဖြင့် နှစ်စဥ်ထုတ်ပြန်ကြေညာသည့် အများပြည်သူအလုပ်ပိတ်ရက်များကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဌ)</td>
        <td><b>ခွင့်မှတ်တမ်း</b> ဆိုသည်မှာ ခံစားခွင့်ပေးသော ခွင့်အမျိုးအစားအလိုက် ထားရှိရမည့် မှတ်တမ်းကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဍ)</td>
        <td><b>သတ်မှတ်အလုပ်ချိန်</b> ဆိုသည်မှာ လုပ်ငန်းအလိုက်သက်ဆိုင်သည့် အလုပ်သမားဥပဒေက အလုပ်သမားအမျိုးအစားအလိုက် ခွင့်ပြုထားသည့် တစ်ရက်ခွင့်ပြုအလုပ်ချိန်၊ ရက်သတ္တပတ်ခွင့်ပြုအလုပ်ချိန်တို့ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဎ)</td>
        <td><b>အခြေခံလစာငွေ</b> ဆိုသည်မှာ ပြက္ခဒိန်လတစ်လတွင် လုပ်ကိုင်ရသည့် အလုပ်တာဝန်နှင့်အညီ ရရှိမည့်လစာငွေကို ဆိုသည်။ ယင်းစကားရပ်တွင် အချိန်ပိုလုပ်ခ၊ ရှားပါးစရိတ်နှင့် အပိုဆုကြေးငွေများစသည့် မည်သည့်စရိတ်မျှ မပါဝင်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဏ)</td>
        <td><b>သက်ဆိုင်ရာရာအခကြေးငွေ</b> ဆိုသည်မှာ အလုပ်သမားလုပ်ရမည့် အလုပ်တာဝန်နှင့်အညီ အလုပ်ရှင်နှင့် အလုပ်သမား နှစ်ဖက်ကြိုတင် သဘောတူညီထားသော နာရီအလိုက်ရရှိသည့် အခကြေးငွေ သို့မဟုတ် တစ်ရက်သတ်မှတ်အလုပ်ချိန်အတွက် ရရှိသည့်နေ့စားခနှုန်း သို့မဟုတ် ထုတ်လုပ်မှုအရေအတွက်နှင့် ဝန်ဆောင်မှုပမာဏပေါ်မူတည်၍ ရရှိသည့် ပုတ်ပြတ်လုပ်ခတို့ကို ဆိုသည်။ ယင်းစကားရပ်တွင် အချိန်ပိုလုပ်ခ၊ ရှားပါးစရိတ်နှင့် အပိုဆုကြေးငွေများစသည့် မည်သည့်စရိတ်မျှမပါဝင်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(တ)</td>
        <td><b>နေ့စားအလုပ်သမား</b> ဆိုသည်မှာ တစ်ရက်သတ်မှတ်အလုပ်ချိန်အတွက် အလုပ်လုပ်ကိုင်ရပြီး ထိုနေ့အတွက် လုပ်ခကို အလုပ်ရှင်နှင့် သဘောတူညီထားသည့်နှုန်းဖြင့် ရရှိသည့် အလုပ်သမားကိုဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ထ)</td>
        <td><b>လစားအလုပ်သမား</b> ဆိုသည်မှာ ပြက္ခဒိန်လတစ်လအတွက် ပုံသေလစာသတ်မှတ်လုပ်ကိုင်သည့် အလုပ်သမားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဒ)</td>
        <td><b>ပုတ်ပြတ်အလုပ်သမား</b> ဆိုသည်မှာ ထုတ်လုပ်မှုအရေအတွက် သို့မဟုတ် ဝန်ဆောင်မှုပမာဏပေါ်မူတည်၍ အလုပ်ရှင် အလုပ်သမား နှစ်ဦးသဘောတူ ကြိုတင်သတ်မှတ်ထားသည့် အခကြေးငွေနှုန်းဖြင့် လုပ်ကိုင်ရသည့် အလုပ်သမားကိုဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဓ)</td>
        <td><b>လုံခြုံရေးဝန်ထမ်း</b> ဆိုသည်မှာ စက်ရုံ၊ အလုပ်ရုံ၊ ဆိုင်၊ အလုပ်ဌာနနှင့် လုပ်ငန်းများရှိ အစောင့်လုံခြုံရေးဝန်ထမ်းကို ဆိုသည်။ ယင်းစကားရပ်တွင် ဥပဒေပါကိစ္စများအလို့ငှာ တပ်မတော်သားများ၊ မြန်မာနိုင်ငံရဲတပ်ဖွဲ့ဝင်များနှင့် နေအိမ်အစောင့်လုံခြုံရေးဝန်ထမ်းများ မပါဝင်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၃)</h2>
<h3 id="taking-leave">ခွင့်ခံစားခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၃။</td>
        <td>အလုပ်သမားသည် ဥပဒေအရ သတ်မှတ်ထားသည့် ခွင့်အမျိုးအစားအလိုက် သတ်မှတ်ကာလအတိုင်း သက်ဆိုင်ရာရာအခကြေးငွေ (သို့မဟုတ်) လစာငွေဖြင့် ခံစားခွင့်ရှိသည်။ သို့သော် လုပ်သက်ခွင့်ရက်ကိုမူ သက်ဆိုင်ရာရာ ပျမ်းမျှအခကြေးငွေနှင့်ဖြစ်စေ၊ ပျမ်းမျှလစာငွေဖြင့်ဖြစ်စေ ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td>၂၄။</td>
        <td id="leave-within-training-and-probation">အလုပ်သမားသည် အလုပ်သင်ကာလနှင့် အစမ်းခန့်ကာလတို့တွင် ရှောင်တခင်ခွင့်ရက်၊ ဆေးလက်မှတ်ခွင့်ရက်၊ မီးဖွားခွင့်ရက်တို့ ခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td>၂၅။</td>
        <td>ခွင့်ကာလနှင့်စပ်လျဥ်း၍ ခွင့်ကာလကုန်ဆုံးပြီးနောက် အလုပ်ပြန်လည်ဝင်ရောက်ခြင်းမရှိသည့်ရက်များကို ပျက်ကွက်ရက်အဖြစ် သတ်မှတ်နိုင်သည်။</td>
    </tr>
    <tr>
        <td>၂၆။</td>
        <td>ခွင့်စတင်သည့်နေ့ရက်၏ ရှေ့တွင်ဖြစ်စေ၊ ခွင့်ကုန်ဆုံးသည့်နေ့ရက်၏ နောက်တွင်ဖြစ်စေ အလုပ်ပိတ်ရက်များဖြစ်နေခဲ့လျှင် ထိုအလုပ်ပိတ်ရက်များကို ခွင့်ကာလအဖြစ် ရေတွက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td>၂၇။</td>
        <td id="no-transfer-demotion-decrease-wage-dismiss-on-leave">ခွင့်ခံစားနေစဥ်အတွင်း အလုပ်သမားကို အလုပ်ဌာနနေရာပြောင်းခြင်း၊ ရာထူးအဆင့်လျှော့ချခြင်း၊ လစာလျှော့ချခြင်း သို့မဟုတ် အလုပ်မှထုတ်ပယ်ခြင်း မပြုရ။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<h2>အခန်း (၄)</h2>
<h3 id="duties-of-worker">အလုပ်သမား၏ တာဝန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၉။</td>
        <td colspan="2">အလုပ်သမားသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ခွင့်တိုင်ကြားလျှင် အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် ခွင့်ပေးပိုင်ခွင့်ရှိသူတစ်ဦးဦးထံသို့ ပုံစံ (၁) ဖြင့် သာမန်အလုပ်ချိန်အတွင်း တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ခွင့်ရက်ကုန်ဆုံးပြိး အလုပ်ခွင်သို့ ပြန်လည်ဝင်ရောက်သည့်အချိန်တွင် မိမိလုပ်ငန်းတာဝန်များ ပြန်လည်ထမ်းဆောင်နေကြောင်းကို အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် ခွင့်ပေးပိုင်ခွင့်ရှိသူတစ်ဦးဦးထံ ပြန်လည်တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>မိမိခံစားနေစဥ်အတွင်း သဘာဝဘေးအန္တရာယ်ကြောင့်သော်လည်းကောင်း၊ မမျှော်မှန်းနိုင်သည့် ဖြစ်ရပ်ကြောင့်သော်လည်းကောင်း၊ မတော်တဆထိခိုက်မှုကြောင့်သော်လည်းကောင်း မိမိရောက်ရှိရာနေရာဒေသမှ အလုပ်ခွင်ရှိရာသို့ ခွင့်ကုန်ဆုံးရက်အမီ ပြန်လာရန်လုံးဝမဖြစ်နိုင်သည့် အခြေအနေတွင် အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် ခွင့်ပေးပိုင်ခွင့်ရှိသူတစ်ဦးဦးထံ တယ်လီဖုန်းဖြင့်သော်လည်းကောင်း၊ အခြားတစ်နည်းနည်းဖြင့်သော်လည်းကောင်း အသိပေး အကြောင်းကြားရမည်။ လုပ်ငန်းခွင်သို့ ပြန်လည်ဝင်ရောက်ချိန်တွင် ခိုင်လုံသည့် အထောက်အထားတင်ပြရမည်။</td>
    </tr>
</table>
<h2>အခန်း (၅)</h2>
<h3 id="duties-of-employer">အလုပ်ရှင်၏တာဝန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၀။</td>
        <td colspan="2">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမား၏ ရှောင်တခင်ခွင့်ရက်၊ ဆေးလက်မှတ်ခွင့်ရက်နှင့် မီးဖွားခွင့်ရက်တို့ကို သက်ဆိုင်ရာရာအခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ လုပ်သက်ခွင့်ရက်ကို သက်ဆိုင်ရာပျမ်းမျှအခကြေးငွေဖြင့်ဖြစ်စေ, ပျမ်းမျှလစာငွေဖြင့်ဖြစ်စေ ခံစားခွင့်ပြုရမည်။ ရှားပါးစရိတ်ပေးထားလျှင် ထည့်သွင်းခံစားခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမား၏ လုပ်သက်ခွင့်ရက်ကို ခံစားခွင့်ရှိသည့်နေ့မှစ၍ တစ်ဆယ့်နှစ်လအတွင်း သက်ဆိုင်ရာရာ ပျမ်းမျှလစာငွေဖြင့်ဖြစ်စေ၊ ပျမ်းမျှလစာငွေဖြင့်ဖြစ်စေ ခံစားခွင့်ပြု၍ ရထိုက်ခွင့်ရှိသည့် အခကြေးငွေခံစားခွင့်ကို ခွင့်မခံစားမီ ကြိုတင်ထုတ်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td id="announcing-earned-leave">မိမိအလုပ်ဌာနရှိ အလုပ်သမားများ အလှည့်ကျ လုပ်သက်ခွင့်ရက်ခံစားနိုင်ရန် လုပ်သက်ခွင့်ရက်နှင့်သက်ဆိုင်သည့် တစ်ဆယ့်နှစ်လဖြစ်သော ကာလအပိုင်းအခြား၏ နောက်ဆုံးနေ့မှစ၍ သုံးလအတွင်း အလုပ်သမားတစ်ဦးစီ ခံစားခွင့်ရှိသော လုပ်သက်ခွင့်ရက် မည်မျှရရှိကြောင်း တွက်ချက်မှုစာရင်းကို ထုတ်ပြန်ကြေညာရမည့်အပြင် အလုပ်သမားများ လုပ်သက်ခွင့်ရက်ခံစားနိုင်သည့် ကာလအပိုင်းအခြားကိုလည်း သတ်မှတ်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>အလုပ်သမားက လုပ်သက်ခွင့်ရက်မခံစားမီ အလုပ်မှနှုတ်ထွက်ခြင်း၊ အလုပ်မှရပ်စဲခံရခြင်း၊ အလုပ်ထုတ်ပစ်ခံရခြင်း၊ သေဆုံးခြင်းဖြစ်လျှင် ရထိုက်ခွင့်ရှိသည့် လုပ်သက်ခွင့်ရက်ကာလအတွက် ခံစားခွင့်များကို ဖြစ်စဥ်ဖြစ်သည့်နေ့မှ အလုပ်ဖွင့်ရက်နှစ်ရက်အတွင်း ငွေကြေးခံစားခွင့်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>သေဆုံးသည့်အလုပ်သမား၏ ရထိုက်ခွင့်ရှိသည့် လုပ်သက်ခွင့်ရက် အခကြေးငွေခံစားခွင့်ကို ၎င်း၏ တရားဝင်ကိုယ်စားလှယ်အား ထုတ်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td>အကြောင်းတစ်ခုခုကြောင့် လုပ်ငန်းယာယီပိတ်သိမ်းရလျှင်ဖြစ်စေ၊ အပြီးပိတ်သိမ်းရလျှင်ဖြစ်စေ၊ အလုပ်သမားကို လုပ်သက်ခွင့်ရက်ကာလအတွက် ရထိုက်ခွင့်ရှိသည့် အခကြေးငွေခံစားခွင့်ကိုဖြစ်စေ၊ လုပ်ငန်းသဘာဝအရ တစ်ဆက်တည်း တစ်ဆယ့်နှစ်လမလုပ်ရသည့် လုပ်ငန်းများတွင် ရထိုက်ခွင့်ရှိသော လုပ်သက်ခွင့်ရက်ကိုဖြစ်စေ တွက်ချက်ခံစားခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td>မီးဖွားခွင့်ရက် သို့မဟုတ် ဆေးလက်မှတ်ခွင့်ရက် ခံစားခြင်းကို အကြောင်းပြု၍ အလုပ်သမားအား လက်ရှိရာထူးအဆင့်မှ လျှော့ချခြင်း၊ လစာလျှော့ချခြင်း၊ အလုပ်ဌာနနေရာ ပြောင်းရွှေ့ခြင်း၊ အလုပ်မှထုတ်ပယ်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td>ဤနည်းဥပဒေများအရ သတ်မှတ်သည့်ပုံစံ (၁)၊ (၂)၊ (၃)၊ (၄)၊ (၅) နှင့် (၆) တို့ကို ရေးသားဖြည့်စွက်ပြီး စစ်ဆေးရေးအရာရှိက အချိန်မရွေးစစ်ဆေးနိုင်ရန် အသင့်စီမံထားရှိရမည့်အပြင် တစ်ဆယ့်နှစ်လကာလအထိ သိမ်းဆည်းထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဈ)</td>
        <td>ဥပဒေနှင့်အညီ ရထိုက်ခွင့်ရှိသော အလုပ်သမားများ၏ ခွင့်ခံစားမှုမှတ်တမ်းများကို ပုံစံ (၇) ဖြင့် လစဥ်လဆန်း ခုနှစ်ရက်ထက် နောက်မကျဘဲ စစ်ဆေးရေးအရာရှိထံ ပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ည)</td>
        <td>လုပ်ငန်းလိုအပ်ချက်အရ အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်ကိုင်လိုပါက အလုပ်သမား၏ သဘောဆန္ဒရယူ၍ စစ်ဆေးရေးအရာရှိထံ ပုံစံ (ဂ) ဖြင့် တင်ပြပြီး ခွင့်ပြုချက်ရယူ လုပ်ကိုင်ရမည်။</td>
    </tr>
</table>

&nbsp;
