<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဈ)</td>
        <td><b>မီးဖွားခွင့်ရက်</b> ဆိုသည်မှာ အမျိုးသမီးအလုပ်သမားများ ကိုယ်ဝန်ဆောင်နေစဥ်နှင့် မီးဖွားပြီးချိန်ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကို ဆိုသည်။ ယင်းစကားရပ်တွင် ပြစ်ဒဏ်ထိုက်သင့်သည့် ကိုယ်ဝန်ပျက်စေခြင်း မဟုတ်သော ကိုယ်ဝန်ပျက်ကျမှုလည်း ပါဝင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="before-6-weeks-and-after-8-weeks">မီးမဖွားမီ ရက်သတ္တပတ်ခြောက်ပတ်နှင့် မီးဖွားပြီး ရက်သတ္တပတ်ရှစ်ပတ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၇-က။</td>
        <td>ကိုယ်ဝန်ဆောင် အမျိုးသမီးများအား မီးမဖွားမီ ရက်သတ္တပတ်ခြောက်ပတ်နှင့် မီးဖွားပြီး ရက်သတ္တပတ်ရှစ်ပတ်ကို သက်ဆိုင်ရာအခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ မီးဖွားခွင့်ရက်အဖြစ်ဖြင့် ခွင့်ပြုရမည်။ မီးဖွားခွင့်ရက်ကို ဆေးလက်မှတ်ခွင့်ရက်နှင့် ဆက်စပ်ခံစားခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-6-weeks-8-weeks-and-4-weeks">လူမှုဖူလုံရေးအာမခံစနစ်အရ ရက်သတ္တပတ်ခြောက်ပတ်၊ ရက်သတ္တပတ်ရှစ်ပတ်နှင့် အမြွာကလေးမွေးခြင်းအတွက် ရက်သတ္တပတ်လေးပတ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၅။</td>
        <td>(ဂ)</td>
        <td>မီးမဖွားမီ ရက်သတ္တပတ်ခြောက်ပတ်နှင့် မီးဖွားပြီးနောက် အနည်းဆုံး ရက်သတ္တပတ်ရှစ်ပတ်၊ စုစုပေါင်း အနည်းဆုံး ရက်သတ္တပတ် ၁၄ ပတ်အထိ မီးဖွားခွင့်ကို ခံစားခွင့်ရှိသည်။ ထို့ပြင် အမြွာကလေးမွေးပါက မီးဖွားခွင့် ခံစားပြီးနောက် ကလေးစောင့်ရှောက်ရန် ရက်သတ္တပတ် လေးပတ်ကို ဆက်လက်ခံစားခွင့်</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="six-weeks-eight-weeks-and-service-requirement">မီးမဖွားမီ (၆) ပတ်၊ မီးဖွားပြီး (၈) ပတ်နှင့် လုပ်သက်လိုအပ်ချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်</caption>
    <tr>
        <td>၇။</td>
        <td>(ဂ)</td>
        <td>(၄)</td>
        <td><b>မီးဖွားခွင့်</b> - လုပ်သက် (၆) လပြည့်ပြီးသူသည် အခြေခံလစာဖြင့် မီးမဖွားမီ (၆) ပတ်၊ မီးဖွားပြီး (၈) ပတ် ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-requirements-of-service-and-contribution">လူမှုဖူလုံရေးအာမခံစနစ်အရ လုပ်သက်နှင့် ထည့်ဝင်ကြေး လိုအပ်ချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၆။</td>
        <td>အာမခံထားသူ အမျိုးသမီးနှင့် အမျိုးသားတို့သည် ပုဒ်မ ၂၇ နှင့် ၂၈ တို့အရ မီးဖွားမှုနှင့်ဆိုင်သည့် ငွေကြေးအကျိုးခံစားခွင့်ကို ခွင့်စတင်ခံစားသည့်နေ့မတိုင်မီ သက်ဆိုင်ရာ လုပ်ငန်းဌာနတွင် အနည်းဆုံးတစ်နှစ်လုပ်ကိုင်ခဲ့သူ ဖြစ်ရမည့်အပြင် အဆိုပါ တစ်နှစ်အတွင်း အနည်းဆုံးခြောက်လအတွက် ထည့်ဝင်ကြေး ပေးသွင်းပြီးသူဖြစ်မှသာ ခံစားခွင့်ရှိစေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="requirement-of-medical-certificate">ဆေးလက်မှတ်ထောက်ခံချက်ဖြင့် တင်ပြတောင်းခံရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၆။</td>
        <td>မီးဖွားခွင့်ရက်ကို မှတ်ပုံတင်ဆရာဝန်၏ ဆေးလက်မှတ်ထောက်ခံချက်ဖြင့်ဖြစ်စေ၊ လူမှုဖူလုံရေးအဖွဲ့က အသိအမှတ်ပြုသည့်ဆရာဝန်၏ ဆေးလက်မှတ်ထောက်ခံချက်ဖြင့်ဖြစ်စေ၊ တင်ပြတောင်းခံရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-benefits">လူမှုဖူလုံရေး ဥပဒေနှင့်အညီ ခံစားခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၇။</td>
        <td>လူမှုဖူလုံရေးအဖွဲ့တွင် အကျုံးဝင်မှတ်ပုံတင်ထားသော အာမခံအလုပ်သမားများသည် ၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေနှင့်အညီ ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="non-illegal-miscarriage">ပြစ်ဒဏ်ထိုက်သင့်သည့် ကိုယ်ဝန်ပျက်စေခြင်း မဟုတ်သော ကိုယ်ဝန်ပျက်ကျမှု<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၈။</td>
        <td>ပြစ်ဒဏ်ထိုက်သင့်သည့် ကိုယ်ဝန်ပျက်စေခြင်း မဟုတ်သော ကိုယ်ဝန်ပျက်ကျမှုတွင် လူမှုဖူလုံရေး မှတ်ပုံတင်အာမခံ အလုပ်သမားမဟုတ်ပါက အလုပ်ရှင်သည် မှတ်ပုံတင်ဆရာဝန်၏ ထောက်ခံချက်ဖြင့် မီးဖွားခွင့်ရက်အဖြစ် ကိုယ်ဝန်ပျက်သည့်နေ့မှစ၍ အများဆုံးရက်သတ္တပတ်ခြောက်ပတ် ခံစားခွင့်ပြုရမည်။</td>
    </tr>
</table>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၅။</td>
        <td>(ဃ)</td>
        <td>ပြစ်ဒဏ်ထိုက်သင့်သည့် ကိုယ်ဝန်ပျက်စေခြင်း မဟုတ်ဘဲ ကိုယ်ဝန်ပျက်သည့်ကိစ္စတွင် အများဆုံး ရက်သတ္တပတ်ခြောက်ပတ်အထိ မီးဖွားခွင့်အဖြစ် ခံစားခွင့်၊</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-medical-care">လူမှုဖူလုံရေးအာမခံစနစ်အရ မီးဖွားမှုအတွက် ဆေးကုသမှုခံယူခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၅။</td>
        <td>(က)</td>
        <td>ကိုယ်ဝန်ဆောင်နေစဥ်နှင့် မီးဖွားသည့်အခါ ခွင့်ပြုထားသည့် ဆေးရုံး၊ ဆေးခန်း၌ အခမဲ့ ဆေးကုသမှု ခံယူခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>မီးဖွားပြီး တစ်နှစ်အထိ မိမိ၏ကလေးကို ဆေးကုသမှု ခံယူခွင့်၊</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="one-day-seven-times-for-clinic">ဆေးခန်းပြရန် တစ်ကြိမ်လျှင် တစ်ရက်နှုန်းဖြင့် ခုနှစ်ကြိမ်အထိ လုပ်ခအပြည့်ခံစားခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၅။</td>
        <td>(င)</td>
        <td>ကိုယ်ဝန်ဆောင်စဥ် ခွင့်ပြုထားသည့် ဆေးရုံ၊ ဆေးခန်း၌ စမ်းသပ်စစ်ဆေး ပြသနိုင်ရန်အတွက် တစ်ကြိမ်လျှင် တစ်ရက်နှုန်းဖြင့် အများဆုံး ခုနှစ်ကြိမ်အထိ လုပ်ခအပြည့်ခံစားခွင့်၊</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="adoption">တစ်နှစ်အောက်ကလေးမွေးစားခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၅။</td>
        <td>(စ)</td>
        <td>တစ်နှစ်အောက်ကလေးကို တည်ဆဲဥပဒေနှင့်အညီ မှတ်ပုံတင်၍ မွေးစားပါက ထိုကလေး တစ်နှစ်ပြည့်သည်အထိ ပြုစုစောင့်ရှောက်ရေးအတွက် ရက်သတ္တပတ်ရှစ်ပတ်ထက် မကျော်သောခွင့်ကို မွေးစားကလေးတစ်ဦးအတွက်သာ ခံစားခွင့်ရှိသည်။ အဆိုပါ ခံစားခွင့်ကာလအတွင်း ပုဒ်မ ၂၆ ပါ ပြဌာန်းချက်ကို အထောက်အထားပြုလျက် ပုဒ်မ ၂၇၊ ပုဒ်မခွဲ (က) ပါ ငွေးကြေးအကျိုးခံစားခွင့်ကို ခံစားခွင့်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-cash-benefits">လူမှုဖူလုံရေး အာမခံစနစ်အရ ငွေကြေးအကျိုးခံစားခွင့်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၇။</td>
        <td>(က)</td>
        <td>ပုဒ်မ ၂၅၊ ပုဒ်မခွဲ (ဂ) အရ ခံစားခွင့်ရှိသော မိးဖွားခွင့်ကာလအတွက် မီးဖွားမှုနှင့်ဆိုင်သည့် အကျိုးခံစားခွင့်အဖြစ် တစ်နှစ်အတွင်း ပျမ်းမျှလုပ်ခ၏ ၇၀ ရာခိုင်နှုန်း၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ကလေးတစ်ဦးမွေးဖွားပါက မီးဖွားစရိတ်အဖြစ် ပျမ်းမျှလုပ်ခတစ်လစာ၏ ၅၀ ရာခိုင်နှုန်း၊ အမြွာကလေးနှစ်ဦးမွေးပါက မီးဖွားစရိတ်အဖြစ် ပျမ်းမျှလုပ်ခတစ်လစာ၏ ၇၅ ရာခိုင်နှုန်း၊ အမြွာကလေး သုံးဦးနှင့်အထက် မွေးပါက မီးဖွားစရိတ်အဖြစ် ပျမ်းမျှလုပ်ခတစ်လစာ၏ ၁၀၀ ရာခိုင်နှုန်း၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ပုဒ်မ ၂၅၊ ပုဒ်မခွဲ (ဃ) ပါ ကိုယ်ဝန်ပျက်မှုကြောင့် ခံစားခွင့်ရှိသော မီးဖွားခွင့်ကာလအတွင်း ပျမ်းမျှလုပ်ခ၏ ၇၀ ရာခိုင်နှုန်း။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="benefits-for-husband">ဇနီးသည် မီးဖွားမှုအတွက် အာမခံအမျိုးသား၏ ဖခင်ဘဝ အကျိုးခံစားခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၈။</td>
        <td>(က)</td>
        <td>အာမခံထားသူဖြစ်သော ဇနီး မီးဖွားသည့်အခါ မွေးကင်းစကလေးအား ပြုစုခွင့် ၁၅ ရက် ခံစားခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အာမခံထားသူဖြစ်သော ဇနီးမီးဖွားသည့်အခါ ပုဒ်မခွဲ (က) ပါ ခွင့်ကာလအတွက် မီးဖွားမှုနှင့်ဆိုင်သည့် အကျိုးခံစားခွင့်အဖြစ် လွန်ခဲ့သော တစ်နှစ်အတွင်း ပျမ်းမျှလုပ်ခ၏ ၇၀ ရာခိုင်နှုန်းကို ခံစားခွင့်၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အာမခံထားသူမဟုတ်သော ဇနိးဖြစ်သူ မီးဖွားသည့်အခါ ပုဒ်မခွဲ (က) နှင့် (ခ) တို့ပါ အကျိုးခံစားခွင့်များအပြင် ပုဒ်မ ၂၇၊ ပုဒ်မခွဲ (ခ) ပါ မီးဖွားစရိတ် ခံစားခွင့်၏ ထက်ဝက်ခံစားခွင့်။</td>
    </tr>
</table>

&nbsp;
