<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဇ)</td>
        <td><b>ဆေးလက်မှတ်ခွင့်ရက်</b> ဆိုသည်မှာ မမာမကျန်းဖြစ်သည့်အခါ ရထိုက်ခွင့်ရှိသော ခွင့်ရက်ကို ဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="thirty-days-a-year-and-unpaid-if-not-minimum-six-months">တစ်နှစ်လျှင် ရက်ပေါင်းသုံးဆယ် ရနိုင်ခွင့်ရှိခြင်းနှင့် အနည်းဆုံးလုပ်သက် ခြောက်လမပြည့်လျှင် လစာမရှိခွင့်ရက်ကို ရထိုက်ခွင့်ရှိခြင်း</h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၆။</td>
        <td>(၁)</td>
        <td>အလုပ်သမားသည် သက်ဆိုင်ရာရာ အခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ၊ တစ်နှစ်လျှင် ရက်ပေါင်းသုံးဆယ်ထက် မပိုသော ကာလအပိုင်းအခြားအတွက် ဆက်လက်မှတ်ခွင့်ရက်ကို ရနိုင်ခွင့်ရှိစေရမည်။
            <div>
                <p><b>ခြွင်းချက်</b> - သို့ရာတွင် အလုပ်သမားသည် အနည်းဆုံးခြောက်လပြည့်အောင် အလုပ်မလုပ်ခဲ့သေးသမျှ ဆေးလက်မှတ်ခွင့်ရက်ကို ရထိုက်ခွင့်မရှိစေရ။ သို့ရာတွင် အလုပ်သမားသည် အနည်းဆုံးခြောက်လပြည့်အောင် အလုပ်မလုပ်ခဲ့ရသေးလျှင် ဆေးလက်မှတ် လစာမရှိခွင့်ရက်ကို ရထိုက်ခွင့်ရှိစေရမည်။</p>
            </div>
        </td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၃။</td>
        <td>လူမှုဖူလုံရေးအာမခံ အလုပ်သမားမဟုတ်သော လုပ်သက်ခြောက်လ မပြည့်သေးသည့် အလုပ်သမားသည် လစာမရှိဆေးလက်မှတ်ခွင့်ရက်ကို တောင်းခံနိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်</caption>
    <tr>
        <td>၇။</td>
        <td>(ဂ)</td>
        <td>(၃)</td>
        <td><b>ဆေးခွင့်</b> - လုပ်သက် (၆) လပြည့်ပြီးသူသည် အခြေခံလစာဖြင့် တစ်နှစ်လျှင် ဆေးခွင့်ရက်ပေါင်း (၃၀) ခံစားခွင့်ရှိသည်။ သို့ရာတွင် အနည်းဆုံး လုပ်သက် (၆) လပြည့်အောင် မလုပ်ခဲ့ရသေးလျှင် ဆေးလက်မှတ်ခွင့်ကို လစာမရှိခွင့်ရက်အဖြစ် ခံစားခွင့်ရှိသည်။ လူမှုဖူလုံရေး ဥပဒေအရ အကျုံးဝင်အာမခံအလုပ်သမားဖြစ်ပါက ယင်းဥပဒေပါ ခံစားခွင့်အတိုင်း ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၃။</td>
        <td>(က)</td>
        <td>မကျန်းမာမှုနှင့်ဆိုင်သည့် ငွေကြေးအကျိုးခံစားခွင့်ကို မကျန်းမာမှု စတင်ဖြစ်သည့်နေ့ မတိုင်မီ အနည်းဆုံးခြောက်လမှစတင်၍ လုပ်ငန်းဌာနတွင် လုပ်ကိုင်ခဲ့ပြီး အဆိုပါ ခြောက်လမှစတင်၍ လုပ်ငန်းဌာနတွင် လုပ်ကိုင်ခဲ့ပြီး အဆိုပါခြောက်လအတွင်း အနည်းဆုံးလေးလအတွက် ထည့်ဝင်ကြေးငွေ ပေးသွင်းပြီးမှသာ မကျန်းမာမှုနှင့်ဆိုင်သည့် အကျိုးခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="two-days-for-blood-donation">သွေးလှူခြင်းအတွက် ဆေးလက်မှတ်ခွင့်ရက် ၂ ရက်ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၂။</td>
        <td>မည်သည့်အလုပ်သမားမဆို သွေးလှူကြောင်း ခိုင်လုံသည့်အထောက်အထားဖြင့် တင်ပြလာပါက သွေးလှူသည့်နေ့ရက်နှင့် နောက်တစ်ရက်ကို ဆေးလက်မှတ်ခွင့်ရက်အဖြစ် ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="medical-certificate-from-which-doctor">မည်သည့်ဆရာဝန်ထံမှ ဆေးလက်မှတ်ဖြင့် ဆေးလက်မှတ်ခွင့် ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၆။</td>
        <td>(၂)</td>
        <td>အလုပ်ဆိုင်ရာ သို့တည်းမဟုတ် စက်မှုလက်မှုလုပ်ငန်းဆိုင်ရာ သို့တည်းမဟုတ် အလုပ်ဌာနဆိုင်ရာ ဆရာဝန်ထံမှသော်လည်းကောင်း၊ ထိုသို့မရှိလျှင် အလုပ်ဌာနက သို့တည်းမဟုတ် စက်မှုလက်မှုလုပ်ငန်းဌာနက သို့တည်းမဟုတ် အလုပ်ဌာနက သဘောတူသည့် ဆရာဝန်ထံမှသော်လည်းကောင်း၊ ထိုသို့မရှိလျှင် အခြားမှတ်ပုံတင်ဆရာဝန်ထံမှသော်လည်းကောင်း၊ အစိုးရအမှုထမ်းများဖြစ်လျှင် အစိုးရဆရာဝန်ထံမှသော်လည်းကောင်း၊ ထိုသို့မရှိလျှင် အခြားမှတ်ပုံတင်ဆရာဝန်ထံမှသော်လည်းကောင်း၊ မီးရထားအလုပ်သမားဖြစ်လျှင် မီးရထားဘက်ဆိုင်ရာ ဆရာဝန်ထံမှသော်လည်းကောင်း၊ ထိုသို့မရှိလျှင် အခြားမှတ်ပုံတင် ဆရာဝန်ထံမှသော်လည်းကောင်း၊ ဆေးလက်မှတ်တင်ပြလျှင် ထိုဆေးလက်မှတ်ဖြင့် ခွင့်ရက်ကို ပေးရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wage-calculation-for-medical-leave">ဆေးလက်မှတ်ခွင့်ရက်အတွက် သက်ဆိုင်ရာရာ အခကြေးငွေ တွက်ချက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၅။</td>
        <td>ဆေးလက်မှတ်ခွင့်ရက်အတွက် သက်ဆိုင်ရာရာအခကြေးငွေကို တွက်ချက်ရာတွင် နေ့စားအလုပ်သမားများအတွက် အလုပ်ရှင်နှင့် သဘောတူညီထားသည့် တစ်နေ့လုပ်ခနှုန်းဖြင့်လည်းကောင်း၊ ပုတ်ပြတ်အလုပ်သမားများအတွက် ဆေးလက်မှတ်ခွင့်ရက်မတိုင်မီ တစ်ဆက်တည်းဖြစ်သော ရက်ပေါင်း ၃၀ အတွင်းရရှိသော လုပ်ခစုစုပေါင်းကို အမှန်တကယ်လုပ်ကိုင်ခဲ့သည့် အလုပ်ဆင်းရက်ပေါင်းဖြင့် စား၍ရရှိသော တစ်ရက်ပျမ်းမျှလုပ်ခနှုန်းဖြင့်လည်းကောင်း တွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-60-percent">လူမှုဖူလုံရေး အာမခံစနစ်အရ ပျမ်းမျှလုပ်ခ၏ ၆၀ ရာခိုင်နှုန်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၃။</td>
        <td>(ခ)</td>
        <td>မကျန်းမာကြောင်း ဆေးသက်သေခံလက်မှတ် တင်ပြနိုင်ပြီး အလုပ်မလုပ်နိုင်သဖြင့် ဝင်ငွေလျော့နည်းခြင်း သို့မဟုတ် ဝင်ငွေရပ်စဲခြင်းဖြစ်လျှင် အလုပ်မလုပ်နိုင်သည့်ကာလအတွက် ပုဒ်မခွဲ (က) ပါ သတ်မှတ်ချက်နှင့်အညီ လွန်ခဲ့သော လေးလအတွင်း ပျမ်းမျှလုပ်ခ၏ ၆၀ ရာခိုင်နှုန်းကို မကျန်းမာမှုနှင့်ဆိုင်သည့် ငွေကြေးအကျိုးခံစားခွင့်အဖြစ် ရက်သတ္တပတ် ၂၆ ပတ်အထိ ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="weekly-payment-if-worker-ask-for">ဆေးလက်မှတ်ခွင့်ရက်ကာလအတွင်း အခကြေးငွေ သို့မဟုတ် လစာငွေကို ရက်သတ္တပတ်စဥ်ပေးရန် တောင်းဆိုလျှင် ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၆။</td>
        <td>(၄)</td>
        <td>ဆေးလက်မှတ်ခွင့်ရက်ရသော အလုပ်သမားသည် ခွင့်ရက်နှင့်နေ့သည့် ကာလအပိုင်းအခြားအတွင်းတွင် သက်ဆိုင်ရာရာ မိမိရထိုက်ခွင့်ရှိသော အခကြေးငွေကိုဖြစ်စေ၊ လစာငွေကိုဖြစ်စေ၊ ရက်သတ္တပတ်စဥ်ပေးရန် တောင်းဆိုလျှင် တောင်းဆိုသည့်အတိုင်း ပေးရမည်။ အဆိုပါအခကြေးငွေကိုဖြစ်စေ၊ လစာငွေကိုဖြစ်စေ၊ ထုတ်ပေးမြဲအရပ်၌ အလုပ်သမားအားလည်းကောင်း၊ အလုပ်သမားက လွှဲအပ်ထားသည့် ကိုယ်စားလှယ်အားသော်လည်းကောင်း ထုတ်ပေးရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="no-medical-leave-for-sickness-during-holiday">ရက်ရှည်အလုပ်ပိတ်ရက်ကာလအတွင်း နာမကျန်းဖြစ်ခြင်းအတွက် ဆေးလက်မှတ်ခွင့်မရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄၄။</td>
        <td>ရက်ရှည်အလုပ်ပိတ်ထားသော ကာလများအတွင်း နာမကျန်းဖြစ်မှုအတွက် ဆေးလက်မှတ်ခွင့်ရက် တင်ပြတောင်းခံရန်မလိုအပ်ပါ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cancelled-if-not-used">သက်ဆိုင်ရာနှစ်အတွင်းမယူလျှင် ပျက်ပြယ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၆။</td>
        <td>(၅)</td>
        <td>အလုပ်သမားသည် မိမိရထိုက်သော ဆေးလက်မှတ်ခွင့်ရက်ကို သက်ဆိုင်ရာနှစ်အတွင်း မယူလျှင် ထိုခွင့်ရက်ကို ပျက်ပြယ်စေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="combining-with-other-leaves">ဆေးလက်မှတ်ခွင့်ရက်နှင့် အခြားခွင့်ရက်ပေါင်းခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၇။</td>
        <td>ပုဒ်မ ၆ ၏ ပုဒ်မခွဲ (၅) ပါ ပြဌာန်းချက်များနှင့် မဆန့်ကျင်စေဘဲ ဆေးလက်မှတ်ခွင့်ရက်ကို လုပ်သက်ခွင့်ရက်နှင့် တစ်ဆက်တည်းခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td>၇-က။</td>
        <td>ကိုယ်ဝန်ဆောင်အမျိုးသမီးအလုပ်သမားများအား မီးမဖွားမီ ရက်သတ္တပတ်ခြောက်ပတ်နှင့် မီးဖွားပြီး ရက်သတ္တပတ်ရှစ်ပတ်ကို သက်ဆိုင်ရာအခကြေးငွေနှင့်ဖြစ်စေ၊ လစာငွေနှင့်ဖြစ်စေ မီးဖွားခွင့်ရက်အဖြစ်ဖြင့် ခွင့်ပြုရမည်။ မီးဖွားခွင့်ရက်ကို ဆေးလက်မှတ်ခွင့်ရက်နှင့် ဆက်စပ်ခံစားခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ssb-medical-care-and-cash-benefits-for-sick">လူမှုဖူလုံရေး အာမခံစနစ်အရ ဆေးကုသမှုခံယူခွင့်နှင့် ငွေကြေးအကျိုးအခံစားခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၁။</td>
        <td>(က)</td>
        <td>(၁)</td>
        <td>ကိုယ်တိုင် မည်သည့်အကြောင်းကြောင့်မဆို မကျန်းမာမှုအတွက် ရောဂါအမျိုးအစားကို အခြေပြု၍ ကျန်းမာရေးစောင့်ရှောက်မှုခံယူခွင့်၊ ဆေးကုသမှုခံယူခွင့်နှင့် ငွေကြေးအကျိုးအခံစားခွင့်</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 class="twenty-six-weeks-medical-care">ရက်သတ္တပတ် ၂၆ ပတ်အထိ ဆေးကုသမှုခံယူခွင့်၊ ဆေးရုံဆေးခန်းနှင့် ကုန်ကျစရိတ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေး ဥပဒေ</caption>
    <tr>
        <td>၂၂။</td>
        <td>(က)</td>
        <td >ခွင့်ပြုထားသည့် ဆေးရုံ၊ ဆေးခန်း၌ ဆေးစတင်ကုသသည့်နေ့မှ ရက်သတ္တပတ် ၂၆ ပတ်အထိ ဆေးကုသမှုခံယူခွင့်ရှိသည်။ သို့ရာတွင် ထပ်တလဲလဲမကျန်းမာမှု၊ နာတာရှည်ရောဂါနှင့် ရောဂါတစ်မျိုးထက်ပို၍ ဖြစ်ပွားမှု သို့မဟုတ် အထူးအရေးကြီးသော မကျန်းမာမှုအတွက် ရက်သတ္တပတ် ၅၂ ပတ် သို့မဟုတ် လူမှုဖူလုံရေးအဖွဲ့က သီးခြားသတ်မှတ်ပေးသည့် ကာလအထိ ဆေးကုသမှုခံယူခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>လူမှုဖူလုံရေးအဖွဲ့ပိုင် ဆေးရုံ၊ ဆေးခန်းများတွင်လည်းကောင်း၊ ယင်းအဖွဲ့နှင့် သဘောတူစာချုပ် ချုပ်ဆိုထားသည့် နိုင်ငံတော်ပိုင် သို့မဟုတ် ပုဂ္ဂလိကပိုင် ဆေးရုံ၊ ဆေးခန်းများတွင်လည်းကောင်း၊ အလုပ်ရှင်က စီမံထားရှိသော ဆေးရုံ၊ ဆေးခန်းများတွင်လည်းကောင်း၊ ကျန်းမာရေး စောင့်ရှောက်မှုခံယူခွင့်နှင့် ဆေးကုသမှုခံယူခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ပုဒ်မ ၂၁ နှင့် ဤပုဒ်မတို့အရ ကျန်းမာရေးစောင့်ရှောက်မှုနှင့် ဆေးကုသမှုခံယူရာတွင် ကုန်ကျစရိတ်များနှင့် စပ်လျဥ်း၍ ကျန်းမာရေးနှင့် လူမှုရေးစောင့်ရှောက်မှု ရန်ပုံငွေမှ သတ်မှတ်ချက်များနှင့်အညီ ခံစားပိုင်ခွင့်ရှိသည်။</td>
    </tr>
</table>

&nbsp;
