<p>၂၀၁၃ ခုနှစ်၊ ပြည်ထောင်စုလွှတ်တော်ဥပဒေ အမှတ် - ၇<br>၂၀၁၃ ခုနှစ်၊ မတ်လ ၂၂ ရက်။</p>
<h2>အခန်း (၁)</h2>
<h3 id="definition">အဓိပ္ပါယ်ဖော်ပြချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="3">ဤဥပဒေတွင်ပါရှိသော အောက်ပါစကားရပ်များသည် ဖော်ပြပါအတိုင်း အဓိပ္ပါယ် သက်ရောက်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2" id="wage-definition"><b>အခကြေးငွေ</b> ဆိုသည်မှာ အလုပ်ရှင်၏ နာရီပိုင်းအလုပ်၊ နေ့စဥ်အလုပ်၊ အပတ်စဥ်အလုပ်၊ လစဥ်အလုပ် သို့မဟုတ် အခြားအချိန်ပိုင်းအလုပ်တစ်ခုခုကို အလုပ်သမားက ကိုယ်တိုင်အောင်ရွက်ပေးရသဖြင့် ရသင့်သောအခကြေးငွေနှင့် လုပ်ခလစာတို့ကိုဆိုသည်။ ယင်းစကားရပ်တွင် အချိန်ပိုလုပ်ခသည်လည်းကောင်း၊ အလုပ်ကောင်းမွန်သဖြင့် သို့မဟုတ် အကျင့်စာရိတ္တကောင်းမွန်သဖြင့် အလုပ်ရှုင်မှ အပိုပေးသည့် ဆုကြေးငွေများသည်လည်းကောင်း၊ ဝင်ငွေအဖြစ်သတ်မှတ်နိုင်သော အခြားငွေနှင့် အကျိုးခံစားခွင့်များသည်လည်းကောင်း ပါဝင်သည်။ သို့ရာတွင် အောက်ပါငွေကြေးများ မပါဝင်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ခရီးစရိတ်များ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>ပင်စင် (အငြိမ်းစား) လစာနှင့် အငြိမ်းစားလုပ်သက်ဆုငွေ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>လူမှုဖူလုံရေးအကျိုးခံစားခွင့်ငွေကြေးများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>နေထိုင်ခနှင့် စားသောက်စရိတ်များ၊ မီးဖိုး၊ ရေဖိုးနှင့် အခွန်အခများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>ဆေးကုသစရိတ်နှင့် အပန်းဖြေခများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အလုပ်ထုတ်နစ်နာကြေးနှင့် ဂရုဏာကြေးများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>အလုပ်သမားဝန်ကြီးဌာနက ဤဥပဒေပါ အခကြေးငွေနှင့် မသက်ဆိုင်ဟု ပြည်ထောင်စုအစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် အမိန့်ကြော်ငြာစာထုတ်ပြန်၍ သတ်မှတ်ထားသော အခကြေးငွေများ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<h2>အခန်း (၃)</h2>
<h3 id="duties-and-rights-of-national-committee">အမျိုးသားကော်မတီ၏ တာဝန်နှင့် လုပ်ပိုင်ခွင့်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅။</td>
        <td colspan="2">အမျိုးသားကော်မတီ၏ တာဝန်နှင့် လုပ်ပိုင်ခွင့်များမှာ အောက်ပါအတိုင်းဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td id="minimum-once-two-years">သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေနှုန်းထားကို ကူးသန်းရောင်းဝယ်ရေးလုပ်ငန်း၊ ကုန်ထုတ်လုပ်ငန်းနှင့် ဝန်ဆောင်မှုလုပ်ငန်း၊ စိုက်ပျိုးရေးနှင့် မွေးမြူရေးလုပ်ငန်း အမျိုးအစားအလိုက်သော်လည်းကောင်း၊ ဒေသအလိုက်သော်လည်းကောင်း၊ အလုပ်ကျွမ်းကျင်မှုနှင့် လုပ်ငန်းခွင်ဘေးအန္တရာယ်ရှိနိုင်မှုတို့ကို ခွဲခြား၍ ပြောင်းလဲလာသော အခြေအနေအရပ်ရပ်တို့နှင့်အညီ စိစစ်ပြီး နှစ်နှစ်လျှင် အနည်းဆုံးတစ်ကြိမ် ပြင်ဆင်သတ်မှတ်သည့် အမိန့်ကြော်ငြာစာကို ပြည်ထောင်စုအစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် ကြေငြာခြင်း။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၆)</h2>
<h3 id="minimum-wage-notification">အနည်းဆုံးအခကြေးငွေ သတ်မှတ်သည့် အမိန့်ကြော်ငြာစာ ထုတ်ပြန်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td>၁၀။</td>
        <td colspan="2">အမျိုးသားကော်မတီသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td id="notifying-60-days-in-advance">ပုဒ်မ ၈ နှင့် ပုဒ်မ ၉ တို့အရ အကြံပြုချက်အပေါ် စဥ်းစားသုံးသပ်ပြီးနောက် အနည်းဆုံးအခကြေးငွေသတ်မှတ်မည့် အဆိုပြုအမိန့်ကြော်ငြာစာကို အများပြည်သူသိရှိစေရန်နှင့် ကန့်ကွက်လိုက ကန့်ကွက်နိုင်ရန် အနည်းဆုံး ရက်ပေါင်း ၆၀ ကြိုတင်၍ နိုင်ငံတော်ပြန်တမ်းနှင့် သတင်းစာများတွင် ထည့်သွင်းထုတ်ပြန်ကြေညာရေးနှင့် သက်ဆိုင်ရာ အဖွဲ့အစည်းများ၊ အလုပ်ရှင်များနှင့် အလုပ်သမားများအား အသိပေးအကြောင်းကြားရေးတို့အတွက် ဦးစီးဌာနကို တာဝန်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အဆိုပြု အနည်းဆုံးအခကြေးငွေနှုန်းထားအပေါ် ကန့်ကွက်ချက်မရှိလျှင် ပြည်ထောင်စုအစိုးရအဖွဲ့၏ အတည်ပြုချက်ရယူ၍ အနည်းဆုံးအခကြေးငွေနှုန်းထားကို သတ်မှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အကယ်၍ အဆိုပြု အနည်းဆုံးအခကြေးငွေနှုန်းထားအပေါ် ကန့်ကွက်ချက်ရှိသည့်ကိစ္စတွင် ပြည်ထောင်စုနယ်မြေကော်မတီ၊ တိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီအား ကန့်ကွက်ချက်နှင့် စပ်လျဥ်း၍ ညှိနှိုင်းစေပြီး အဆိုပြုနှုန်းထားကို ပြန်လည်တင်ပြစေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၁၁။</td>
        <td colspan="2">ပုဒ်မ ၉ နှင့် ၁၀ တို့အရ အမျိုးသားကော်မတီက သတ်မှတ်သော အနည်းဆုံးအခကြေးငွေနှုန်းထားကို ကျေနပ်မှုမရှိသူသည် ပြည်ထောင်စုသမ္မတ မြန်မာနိုင်ငံတော် ဖွဲ့စည်းပုံအခြေခံဥပဒေနှင့် ပြည်ထောင်စုတရားစီရင်ရေး ဥပဒေတို့နှင့်အညီ ပြည်ထောင်စုတရားလွှတ်တော်ချုပ်သို့ စာချွန်တော်အမိန့်တစ်ရပ်ရပ် ထုတ်၍ ပြင်ဆင်ပေးရန် လျှောက်ထားနိုင်သည်။</td>
    </tr>
</table>
<h2>အခန်း (၇)</h2>
<h3 id="duties-of-employer">အလုပ်ရှင်တာဝန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၂။</td>
        <td colspan="2">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေအောက် လျော့နည်း၍ အလုပ်သမားအား အခကြေးငွေပေးခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေထက် ပို၍ပေးနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ဤဥပဒေအရ ထုတ်ပြန်သော အမိန့်ကြော်ငြာစာတွင် အနည်းဆုံး အခကြေးငွေမှ နှုတ်ယူခွင့်ရှိသည်ဟု သတ်မှတ်ထားသော အခကြေးငွေမှအပ အခြားအခကြေးငွေကို နှုတ်ယူခွင့်မရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ကူးသန်းရောင်းဝယ်ရေးလုပ်ငန်း၊ ကုန်ထုတ်လုပ်ငန်းနှင့် ဝန်ဆောင်မှုလုပ်ငန်းများတွင် လုပ်ကိုင်နေသော အလုပ်သမားအား အနည်းဆုံးအခကြေးငွေကို ငွေသားဖြင့် ပေးရမည်။ ထို့ပြင် သီးခြားအကျိုးခံစားခွင့်များ၊ အကျိုးအမြတ်များ၊ အခွင့်အလမ်းများကို ပေးရန်ရှိပါက သတ်မှတ်ချက်များနှင့်အညီ ငွေသားဖြင့်ဖြစ်စေ၊ အလုပ်သမား၏ ဆန္ဒအရ ငွေသားတစ်ချို့တစ်ဝက်နှင့် ဒေသပေါက်ဈေးနှုန်းဖြင့်သတ်မှတ်သော ပစ္စည်းတစ်ချို့တစ်ဝက်တွဲဖက်၍ ပေးနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>စိုက်ပျိုးရေးနှင့် မွေးမြူရေးလုပ်ငန်းတွင် လုပ်ကိုင်သော အလုပ်သမားများအား အနည်းဆုံးအခကြေးငွေပေးရာတွင် ဒေသဓလေ့ထုံးတမ်းအရဖြစ်စေ၊ အလုပ်သမားအများစု၏ ဆန္ဒအရဖြစ်စေ၊ စုပေါင်းသဘောတူညီချက်အရဖြစ်စေ၊ ငွေသားတစ်ချို့တစ်ဝက်နှင့် ဒေသပေါက်ဈေးနှုန်းဖြင့်သတ်မှတ်သော ပစ္စည်းတစ်ချို့တစ်ဝက်တွဲဖက်၍ ပေးနိုင်သည်။ ထိုသို့ပေးခြင်းသည် အလုပ်သမားနှင့် ယင်း၏မိသားစု ကိုယ်ရေးကိုယ်တာ အသုံးပြုမှုနှင့် အကျိုးအမြတ်တစ်စုံတစ်ရာအတွက် ဖြစ်ရမည့်အပြင် ပေးသည့်တန်ဖိုးမှာလည်း ကျိုးကြောင်းဆီလျော်ပြီး မျှတရမည်။</td>
    </tr>
    <tr>
        <td>၁၃။</td>
        <td colspan="2">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td id="notifying-in-workplace">ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေ နှုန်းထားများအနက် လုပ်ငန်းနှင့် သက်ဆိုင်သော အနည်းဆုံးအခကြေးငွေ နှုန်းထားများကို အလုပ်သမားများအား အသိပေးရမည့်အပြင် လုပ်ငန်းခွင်တွင် သက်ဆိုင်ရာ အလုပ်သမားများ မြင်နိုင်စေရန် ကြော်ငြာထားရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td id="records-and-documentation">အလုပ်သမားများ၏ စာရင်း၊ ဇယားနှင့် စာတမ်းအမှတ်အသားများ၊ အခကြေးငွေများကို မှန်ကန်စွာမှတ်တမ်းပြုစုထားရှိရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ပုဒ်မခွဲ (ခ) အရ ပြုစုထားရှိသော စာရင်း၊ ဇယားနှင့် စာတမ်းအမှတ်အသားများကို သတ်မှတ်ချက်များနှင့်အညီ သက်ဆိုင်ရာ ဦးစီးဌာနကို အစီရင်ခံရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>စစ်ဆေးရေးအရာရှိက စစ်ဆေးရန် ဆင့်ဆိုသောအခါ သွားရောက်စစ်ဆေးခံရမည်။ ထို့အပြင် အဆိုပါ စာရင်းနှင့် မှတ်တမ်းများကို တောင်းခံသည့်အခါ တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>ကူးသန်းရောင်းဝယ်ရေးလုပ်ငန်း၊ ကုန်ထုတ်လုပ်ငန်းနှင့် ဝန်ဆောင်မှုလုပ်ငန်းများ၊ စိုက်ပျိုးရေးနှင့် မွေးမြူရေးလုပ်ငန်းခွင်များသို့ စစ်ဆေးရေးအရာရှိက ဝင်ရောက်စစ်ဆေးခြင်းကို ခွင့်ပြုရမည်ဖြစ်ပြီး လိုအပ်သော အကူအညီများ ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td id="sick-leave">အလုပ်သမားများ ဖျားနာ၍ အလုပ်မလုပ်နိုင်သည့်အခါ သတ်မှတ်ချက်များနှင့်အညီ ဆေးကုသရန် အလုပ်နားခွင့်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td id="funeral-leave">အလုပ်သမားများ၏ မိသားစုဝင် သို့မဟုတ် မိဘနာရေးကိစ္စ ဖြစ်သည့်အခါ အနည်းဆုံးအခကြေးငွေမှ ဖြတ်တောက်ခြင်းမပြုဘဲ သတ်မှတ်ချက်များနှင့်အညီ အလုပ်နားခွင့်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<h2>အခန်း (၈)</h2>
<h3 id="rights-of-employees">အနည်းဆုံးအခကြေးငွေနှင့် စပ်လျဥ်း၍ အလုပ်သမားများ၏ အခွင့်အရေးများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၄။</td>
        <td colspan="2">ဤဥပဒေနှင့် သက်ဆိုင်သည့် လုပ်ငန်းတစ်ခုခုတွင် အလုပ်လုပ်နေသော အလုပ်သမားသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေကိုသော်လည်းကောင်း၊ ထိုအခကြေးငွေထက် အလုပ်ရှင်က ပို၍ပေးပါက ပိုပေးသည့် အခကြေးငွေကိုသော်လည်းကောင်း ရထိုက်ခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ဤဥပဒေ အာဏာမတည်မီက ရရှိနေသော အခကြေးငွေသည် ဤဥပဒေအရ သတ်မှတ်သော အနည်းဆုံးအခကြေးငွေထက် ပိုမိုရရှိပါက အခကြေးငွေကို ဆက်လက်ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်ပါ အနည်းဆုံးအခကြေးငွေမှာ ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေထက် လျှော့နည်းနေပါက ဤဥပဒေအရ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေကို ရထိုက်ခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>အလုပ်နှစ်ခု သို့မဟုတ် နှစ်ခုထက်ပိုသော အလုပ်ကို လုပ်ကိုင်ရသည့်အခါ လုပ်ကိုင်သော အလုပ်အသီးသီးအတွက် သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေထက် မနည်းစေဘဲ ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>အချိန်ပိုင်း၊ နာရီပိုင်း အလုပ်တွင် အလုပ်လုပ်သည့်အချိန်အတွက် သတ်မှတ်ထားသည့် အနည်းဆုံးအခကြေးငွေကို ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td>လစားအလုပ်အတွက် ရက်သတ္တတစ်ပတ်လျှင် တစ်ရက် နားခွင့်ရှိပြီး ထိုနားရက်အတွက် အခကြေးငွေ ရထိုက်ခွင့်ရှိသည်။ အကယ်၍ ထိုနားရက်တွင် အလုပ်လုပ်ရပါက တည်ဆဲဥပဒေနှင့်အညီ အချိန်ပိုလုပ်ခ ရထိုက်ခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td id="no-work-but-pay">နေ့စားအလုပ်တွင် သတ်မှတ်ထားသည့် တစ်နေ့အလုပ်ချိန်နာရီထက်လျော့၍ အလုပ်လုပ်ခြင်းမှာ အလုပ်သမား၏ ဆန္ဒအရမဟုတ်လျှင်သော်လည်းကောင်း၊ အလုပ်ရှင်က အလုပ်မပေးနိုင်၍ အလုပ်နားရလျှင်သော်လည်းကောင်း အချိန်ပြည့် အလုပ်လုပ်ဘိသကဲ့သို့ အခကြေးငွေ ရထိုက်ခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td>သတ်မှတ်ထားသည့် အနည်းဆုံးအခကြေးငွေကို အမျိုးသား၊ အမျိုးသမီး မခွဲခြားဘဲ ခံစားခွင့်ရှိစေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၁၅။</td>
        <td colspan="2">ပုဒ်မ ၁၄ အရ အခကြေးငွေနှင့် အခြားခံစားခွင့်များ ရထိုက်ခွင့်ရှိသော အလုပ်သမားသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ရထိုက်ခွင့်ရှိသော အခကြေးငွေနှင့် အခြားခံစားခွင့်များအားလုံးကို မရရှိလျှင်သော်လည်းကောင်း၊ သတ်မှတ်ထားသော အနည်းဆုံးအခကြေးငွေအောက် လျော့နည်း၍ ရရှိလျှင်သော်လည်းကောင်း အဆိုပါ နစ်နာသော အခကြေးငွေနှင့် အခြားခံစားခွင့်များ ရရှိရေးအတွက် ရထိုက်ခွင့်ရှိသည့်နေ့မှ တစ်နှစ်အတွင်း သက်ဆိုင်ရာ ပြည်ထောင်စုနယ်မြေကော်မတီ၊ တိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီနှင့် ဦးစီးဌာနသို့ တင်ပြနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td id="right-to-sue">ရထိုက်ခွင့်ရှိသော အခကြေးငွေအားလုံးအတွက် တရားမကြောင်းအရ တရားစွဲဆိုနိုင်သည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>

&nbsp;