<p>အမိန့်ကြော်ငြာစာအမှတ် - ၆၄/၂၀၁၃<br>၂၀၁၃ ခုနှစ်၊ ဇူလိုင်လ ၁၂ ရက်</p>
<h2>အခန်း (၈)<br>အနည်းဆုံးအခကြေးငွေ သတ်မှတ်ခြင်း</h2>
<h3 id="notifying-60-days-in-advance">ကန့်ကွက်နိုင်ရန် အနည်းဆုံး ရက်ပေါင်း (၆၀) ကြိုတင်၍ ထုတ်ပြန်ကြေငြာရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၄။</td>
        <td colspan="2">အမျိုးသားကော်မတီသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အနည်းဆုံးအခကြေးငွေကို နိုင်ငံတစ်ဝန်းလုံးအတွက်သော်လည်းကောင်း၊ ပြည်ထောင်စုနယ်မြေအတွက်သော်လည်းကောင်း၊ တိုင်းဒေသကြီး သို့မဟုတ် ပြည်နယ်အလိုက်သော်လည်းကောင်း၊ ကူးသန်းရောင်းဝယ်ရေးလုပ်ငန်း၊ ကုန်ထုတ်လုပ်ငန်းနှင့် ဝန်ဆောင်မှုလုပ်ငန်း၊ စိုက်ပျိုးရေးနှင့် မွေးမြူရေးလုပ်ငန်း အမျိုးအစားအလိုက်သော်လည်းကောင်း၊ အနည်းဆုံးအခကြေးငွေ သတ်မှတ်ရေးကိစ္စနှင့် စပ်လျဥ်း၍ အထူးစီးပွားရေးဇုန် စီမံခန့်ခွဲရေးကော်မတီက သက်ဆိုင်ရာ တိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီနှင့်ညှိနှိုင်း၍ တင်ပြလာသည့် အကြံပြုချက်များ၊ ပြည်ထောင်စုနယ်မြေကော်မတီ၊ တိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီများ၏ အကြံပြုချက်များ၊နှင့် သက်ဆိုင်ရာလုပ်ငန်းကော်မတီ၏ သဘောထားမှတ်ချက်များကို လေ့လာစိစစ်ပြီး သတ်မှတ်သင့်သည့် အဆိုပြုအနည်းဆုံးအခကြေးငွေနှုန်းထားများကို အများပြည်သူ သိရှိစေရန်နှင့် ကန့်ကွက်လိုက ကန့်ကွက်နိုင်ရန် အနည်းဆုံးရက်ပေါင်း (၆၀) ကြိုတင်၍ ထုတ်ပြန်ကြေငြာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၃၅။</td>
        <td colspan="2">ဦးစီးဌာနသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td id="announce-60-days-in-advance">အမျိုးသားကော်မတီ၏ တာဝန်ပေးချက်အရ သတ်မှတ်သော အဆိုပြု အနည်းဆုံးအခကြေးငွေနှုန်းထားများကို အများပြည်သူသိရှိစရန်နှင့် ကန့်ကွက်လိုက ကန့်ကွက်နိုင်ရန် အနည်းဆုံး ရက်ပေါင်း (၆၀) ကြိုတင်၍ ထုတ်ပြန်ပြီး နိုင်ငံတော်ပြန်တမ်းနှင့် သတင်းစာတို့တွင် ထည့်သွင်းကြေညာရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၃၆။</td>
        <td colspan="2">အမျိုးသားကော်မတီသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အများပြည်သူသိရှိရန် ကြေငြာပြီးနောက် ရက်ပေါင်း (၆၀) ပြည့်မြောက်သည့်အခါ ကန့်ကွက်ချက်မရှိလျှင် သက်ဆိုင်ရာအနည်းဆုံးအခကြေးငွေနှုန်းထားကို ပြည်ထောင်စု အစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် သတ်မှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>နည်းဥပဒေခွဲ (က) အရ သတ်မှတ်သည့် အနည်းဆုံးအခကြေးငွေနှုန်းထားကို အများပြည်သူသိရှိနိုင်ရန် အမိန့်ကြော်ငြာစာကို နိုင်ငံတော်ပြန်တမ်းနှင့် သတင်းစာတို့တွင် ထည့်သွင်းကြေညာရေးတို့အတွက် ဦးစီဌာနကို တာဝန်ပေးရမည်။</td>
    </tr>
    <tr>
        <td>၃၇။</td>
        <td colspan="2" id="objection-in-two-weeks">နည်းဥပဒေ ၃၆ အရ အများပြည်သူသိရှိရန် ကြေညာသည့် အဆိုပြုအနည်းဆုံးအခကြေးငွေနှုန်းထားနှင့် စပ်လျဥ်း၍ ကန့်ကွက်လိုသူ သို့မဟုတ် ကန့်ကွက်လိုသည့်အဖွဲ့အစည်း သို့မဟုတ် ပြင်ဆင်ရန် အဆိုပြုလိုသူ သို့မဟုတ် ပြင်ဆင်ရန်အဆိုပြုလိုသည့် အဖွဲ့အစည်းသည် ပူးတွဲပါပုံစံအတိုင်း ဖြည့်စွက်၍ ရက်သတ္တနှစ်ပတ်အတွင်း ပြည်ထောင်စုနယ်မြေကော်မတီ၊ သက်ဆိုင်ရာ တိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီသို့ တင်ပြရမည့်အပြင် မိတ္တူကို အမျိုးသားကော်မတီနှင့် ဦးစီဌာနသို့ ပေးပို့ရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td>၃၈။</td>
        <td colspan="2">ပြည်ထောင်စုနယ်မြေကော်မတီ၊ သက်ဆိုင်ရာတိုင်းဒေသကြီးကော်မတီ သို့မဟုတ် ပြည်နယ်ကော်မတီသည် နည်းဥပဒေ ၃၇ အရ တင်ပြသော အဆိုပြုအနည်းဆုံးအခကြေးငွေနှုန်းထားနှင့် ပတ်သက်၍ ကွင်းဆင်းစစ်ဆေးရန် လို၊ မလို ဆုံးဖြတ်နိုင်သည်။ ကွင်းဆင်းစစ်ဆေးရန် လိုအပ်ပါက -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>နည်းဥပဒေ ၃၇ အရ ကန့်ကွက်ခြင်း သို့မဟုတ် ပြင်ဆင်ရန် အဆိုပြုသူအား ကွင်းဆင်းစစ်ဆေးမည့် နေ့ရက်၊ အချိန်နှင့် နေရာတို့ကို သတ်မှတ်ပေးပြီး လိုအပ်သော အချက်အလက်များကောက်ယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>နည်းဥပဒေခွဲ (က) အရ ရရှိသော အချက်အလက်များနှင့် အထောက်အထားများကို မှတ်တမ်းပြုစုထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အဆိုပါအချက်အလက်များကို ကန့်ကွက်သည့်နေ့ သို့မဟုတ် ပြင်ဆင်ရန်အဆိုပြုသည့်နေ့မှ ရက်ပေါင်း ၃၀ အတွင်း ပြီးစီးအောင် ပြုုလုပ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ကွင်းဆင်းစစ်ဆေးမှုပြုလုပ်ရာတွင် ကန့်ကွက်သူ သို့မဟုတ် ပြင်ဆင်ရန် အဆိုပြုသူသည် ကိုယ်တိုင်ဖြစ်စေ၊ ကိုယ်စားလှယ်ဖြင့်ဖြစ်စေ၊ လိုက်ပါဆောင်ရွက်ခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<h2>အခန်း (၉)</h2>
<h3 id="rights-and-responsibilities-of-employer">အလုပ်ရှင်၏ အခွင့်အရေးနှင့် တာဝန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၃။</td>
        <td colspan="3">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">မိမိလုပ်ငန်း၏ ကုန်ထုတ်စွမ်းအားတိုးတက်စေရေးအတွက် အလုပ်သမားများ၏ အလုပ်အကိုင်ဆိုင်ရာ ကျွမ်းကျင်မှုအဆင့်မြင့်မားစေရန် ဆောင်ရွက်ပေးရမည်ဖြစ်သကဲ့သို့ ကျွမ်းကျင်မှုအလိုက် လုပ်ခလစာတိုးမြှင့်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အလုပ်သမားများ၏ စာရင်း၊ ဇယားနှင့် စာတမ်းအမှတ်အသားများ၊ အခကြေးငွေများကို ဥပဒေပုဒ်မ ၁၃(ခ) အရ ပြုစုရာတွင် ၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများအက်ဥပဒေနှင့် ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေတို့နှင့်အညီ ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">အလုပ်သမားများ မကျန်းမာခြင်း၊ လုပ်ငန်းခွင်ထိခိုက်မှုဖြစ်ခြင်းများကြောင့် အလုပ်မလုပ်ကိုင်နိုင်သည့်အခါ -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ကျန်းမာရေးနှင့် လူမှုရေးစောင့်ရှောက်မှု ရန်ပုံငွေသို့ ထည့်ဝင်ကြေးပေးသွင်းထားသော အားမခံထားသူဖြစ်လျင် ၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေပါ ကျန်းမာရေးနှင့် လူမှုရေးစောင့်ရှောက်မှု အာမခံစနစ်အရသော်လည်းကောင်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေနှင့် အကျုံးမဝင်သော အလုပ်သမားဖြစ်လျှင် ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်ဥပဒေအရသော်လည်းကောင်း ဆောင်ရွက်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2" id="funeral-leave">အလုပ်သမားများ၏ မိသားစု သို့မဟုတ် မိဘနာရေးကိစ္စဖြစ်သည့်အခါ ၎င်းအလုပ်သမား ရထိုက်သောအခကြေးငွေမှ ဖြတ်တောက်ခြင်းမပြုဘဲ ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေအရ ဆောင်ရွက်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2">ဤဥပဒေအရ အမျိုးသားကော်မတီက အနည်းဆုံးအခကြေးငွေသတ်မှတ်ခြင်းမပြုမီ အလုပ်သမားရရှိနေသော အခကြေးငွေသည် သတ်မှတ်ချက်အောက်လျော့နည်းနေပါက သတ်မှတ်ချက်ပြည့်မီသည်အထိ ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td colspan="2" id="wages-for-part-time-workers">အချိန်ပိုင်း၊ နာရီပိုင်းအလုပ်တွင် အလုပ်လုပ်သည့် အလုပ်သမားအား အလုပ်လုပ်သည့် အချိန်အတွက် သတ်မှတ်ထားသည့် အနည်းဆုံးအခကြေးငွေကို ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td colspan="2">လစားအလုပ်သမားအတွက် ရက်သတ္တပတ်လျှင် တစ်ရက်နားခွင့်ပေးရမည်။ ယင်းနားရက်တွင် အလုပ်လုပ်ရပါက တည်ဆဲဥပဒေနှင့်အညီ အချိန်ပိုလုပ်ခပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td colspan="2" id="no-work-but-pay">သတ်မှတ်ထားသော အလုပ်ချိန်ထက်လျော့၍ လုပ်ရပါက ထိုသို့အလုပ်လုပ်ခြင်းမှာ အလုပ်သမား၏ ဆန္ဒအရမဟုတ်လျှင်သော်လည်းကောင်း၊ အလုပ်ရှင်က အလုပ်မပေးနိုင်၍ အလုပ်နားရလျှင်သော်လည်းကောင်း အချိန်ပြည့်အလုပ်လုပ်ဘိသကဲ့သို့ အခကြေးငွေပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဈ)</td>
        <td colspan="2">သတ်မှတ်ထားသော အနည်းဆုံး အခကြေးငွေကို အမျိုးသား၊ အမျိုးသမီး မခွဲခြားဘဲ ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ည)</td>
        <td colspan="2">အနည်းဆုံးအခကြေးငွေကို ငွေသားဖြင့်ပေးရန် တာဝန်ရှိသော်လည်း သီးခြားအကျိုးခံစားခွင့်များ၊ အကျိုးအမြတ်များကို သတ်မှတ်ချက်များနှင့်အညီ အလုပ်သမားများ၏ ဆန္ဒအရဖြစ်စေ၊ အလုပ်သမားအများစု၏ ဆန္ဒအရဖြစ်စေ၊ စုပေါင်းသဘောတူညီချက်ဖြင့်ဖြစ်စေ၊ ငွေသားဖြင့်သော်လည်းကောင်း၊ ငွေသားတစ်ချို့တစ်ဝက်နှင့် ဒေသပေါက်ဈေးနှုန်းဖြင့်သော်လည်းကောင်း၊ ဒေသဓလေ့ထုံးတမ်းအရသော်လည်းကောင်း ပေးနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဋ)</td>
        <td colspan="2">အလုပ်သမားများနှင့်ညှိနှိုင်း၍ ဥပဒေနှင့်အညီ အချိန်ပိုခိုင်းစေခြင်း ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဌ)</td>
        <td colspan="2" id="wage-percentage-for-training-and-probation-periods">စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာနအလိုက် သတ်မှတ်ထားသည့် ကျွမ်းကျင်မှုစံ သို့မဟုတ် ထုတ်လုပ်မှုစံနှုန်း ပြည့်မီအောင် လုပ်ဆောင်နိုင်စွမ်းမရှိသေးသည့် အလုပ်သမားအား အစမ်းခန့်ကာလ မတိုင်မီ ကျွမ်းကျင်မှုရှိစေရန် လေ့ကျင့်ပေးရန်လိုအပ်လျှင် ဤဥပဒေအရ သက်ဆိုင်သည့် စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာနများသည် သုံးလအချိန်ကာလအတွင်း အနည်းဆုံးအခကြေးငွေ၏ ၅၀% ထက်မနည်းသော လုပ်ခ၊ လစာကို ပေးရမည်။ အစမ်းခန့်ကာလသုံးလအတွင်း အနည်းဆုံးအခကြေးငွေ၏ ၇၅% ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<h2>အခန်း (၁၀)</h2>
<h3 id="rights-and-responsibilities-of-employees">အလုပ်သမားများ၏ တာဝန်နှင့် အခွင့်အရေးများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၄။</td>
        <td colspan="3">အလုပ်သမားများသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2" id="responsibility-for-productivity">မိမိတို့ အလုပ်အကိုင်ဆိုင်ရာကျွမ်းကျင်မှု အဆင့်နှင့်အညီ ကုန်ထုတ်စွမ်းအား ပြည့်မီစေရန် ဆောင်ရွက်ရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အလုပ်ရှင်စေလွှတ်သည့် ကျွမ်းကျင်မှုသင်တန်းတက်ရောက်ပါက သင်တန်းတက်ရောက်ပြီးနောက် မိမိကျွမ်းကျင်မှုအဆင့်နှင့်လျော်ညီစွာ ဆက်လက်ထမ်းဆောင်ရန်တာဝန်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">မကျန်းမာခြင်း၊ လုပ်ငန်းခွင်ထိခိုက်မှုဖြစ်ခြင်းများကြောင့် အလုပ်မလုပ်ကိုင်နိုင်သည့်အခါ -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ကျန်းမာရေးနှင့် လူမှုရေးစောင့်ရှောက်မှု ရန်ပုံငွေသို့ ထည့်ဝင်ကြေးပေးသွင်းထားသော အားမခံထားသူဖြစ်လျှင် ၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေပါ ကျန်းမာရေးနှင့် လူမှုရေးစောင့်ရှောက်မှု အာမခံစနစ်အရသော်လည်းကောင်း၊</td>
    </tr>
    <tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေနှင့် အကျုံးမဝင်သော အလုပ်သမားဖြစ်လျှင် ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်အက်ဥပဒေအရသော်လည်းကောင်း ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2" id="funeral-leave">မိသားစု သို့မဟုတ် မိဘနာရေးကိစ္စဖြစ်သည့်အခါ အနည်းဆုံးအခကြေးငွေမှ ဖြတ်တောက်ခြင်းမပြုဘဲ ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်အက်ဥပဒေအရ ခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2">လစား၊ နေ့စား၊ ပုတ်ပြတ်အလုပ်သမားများသည် ခွင့်ပြုပြိးသည့်ခွင့်ရက်နှင့် အများပြည်သူဆိုင်ရာ အလုပ်ပိတ်ရက်များကို ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td colspan="2">အလုပ်တွင် ကျွမ်းကျင်ပြီး လုပ်ရည်ကိုင်ရည်ရှိသော အလုပ်သမားအားပေးထားသည့် အခကြေးငွေသည် အနည်းဆုံးအခကြေးငွေထက် ပိုမိုပါက ထိုအခကြေးငွေသည် ဆက်လက်အတည်ဖြစ်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td colspan="2">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူစာချုပ်အရဖြစ်စေ၊ အခြားပဋိညာဥ်စာချုပ်တစ်ရပ်ရပ်အရဖြစ်စေ သဘောတူလက်ခံသည့် အခကြေးငွေသည် အနည်းဆုံးအခကြေးငွေထက် လျော့နည်းလျှင် ထိုအလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီစာချုပ် သို့မဟုတ် ပဋိညာဥ်စာချုပ်ပါ အခကြေးငွေသတ်မှတ်ချက်သည် ပျက်ပြယ်စေရမည်။</td>
    </tr>
</table>

&nbsp;
