<p>အမိန့်ကြော်ငြာစာအမှတ် ၁၉၃/၂၀၁၈<br>၂၀၁၈ ခုနှစ်၊ ဒီဇင်ဘာလ ၁၂ ရက်။</p>
<h2>အခန်း (၁)</h2>
<h3 id="defining">အမည်နှင့် အဓိပ္ပါယ်ဖော်ပြချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="2">ဤနည်းဥပဒေများတွင် ပါရှိသော စကားရပ်များသည် ၂၀၁၆ ခုနှစ်၊ အခကြေးငွေပေးချေရေး ဥပဒေတွင် ပါရှိသည့်အတိုင်း အဓိပ္ပါယ်သက်ရောက်စေရမည့်အပြင် အောက်ပါစကားရပ်များသည် ဖော်ပြပါအတိုင်း အဓိပ္ပါယ်သက်ရောက်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td><b>ဥပဒေ</b> ဆိုသည်မှာ ၂၀၁၆ ခုနှစ်၊ အခကြေးငွေပေးချေရေးဥပဒေကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td><b>နေ့စားအလုပ်သမား</b> ဆိုသည်မှာ တစ်ရက်သတ်မှတ်အလုပ်ချိန်အတွက် အလုပ်လုပ်ကိုင်ရပြီး ထိုနေ့အတွက်လုပ်ခကို အလုပ်ရှင်နှင့် သဘောတူညီထားသည့်နှုန်းဖြင့်ရရှိသည့် အလုပ်သမားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td><b>လစားအလုပ်သမား</b> ဆိုသည်မှာ ပြက္ခဒိန်လတစ်လအတွက် ပုံသေလစာသတ်မှတ်လုပ်ကိုင်သည့် အလုပ်သမားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td><b>ပုတ်ပြတ်အလုပ်သမား</b> ဆိုသည်မှာ ထုတ်လုပ်မှုအရေအတွက် သို့မဟုတ် ဝန်ဆောင်မှုပမာဏပေါ်မူတည်၍ အလုပ်ရှင် အလုပ်သမား နှစ်ဦးသဘောတူကြိုတင်သတ်မှတ်ထားသည့် အခကြေးငွေနှုန်းဖြင့် လုပ်ကိုင်ရသည့် အလုပ်သမားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td><b>သတ်မှတ်အလုပ်ချိန်</b> ဆိုသည်မှာ လုပ်ငန်းအလိုက်သက်ဆိုင်သည့် အလုပ်သမားဥပဒေက အလုပ်သမားအမျိုးအစားအလိုက် ခွင့်ပြုထားသည့် တစ်ရက်ခွင့်ပြုအလုပ်ချိန် သို့မဟုတ် ရက်သတ္တပတ် ခွင့်ပြုအလုပ်ချိန်တို့ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td><b>ရက်သတ္တပတ်</b> ဆိုသည်မှာ စနေနေ့ ညဥ့်သန်းခေါင်အချိန်မှ စတင်ရေတွက်သော တစ်ဆက်တည်း ခုနှစ်ရက်ကာလအပိုင်းအခြားကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td><b>အချိန်ပိုအခကြေးငွေ</b> ဆိုသည်မှာ သက်ဆိုင်ရာဥပဒေအရ တစ်ရက်သတ်မှတ်အလုပ်ချိန် သို့မဟုတ် ရက်သတ္တပတ်သတ်မှတ်အလုပ်ချိန်ထက် ပိုမိုလုပ်ကိုင်ရသဖြင့် ရရှိသော အခကြေးငွေကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၂)</h2>
<h3 id="postponing-payment-time">အခကြေးငွေပေးချေရန်ကာလ ရွှေ့ဆိုင်းခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃။</td>
        <td>အလုပ်ရှင်သည် သဘာဝဘေးအန္တရာယ်အပါအဝင် မမျှော်လင့်သော ထူးခြားသည့် အခြေအနေ တစ်ရပ်ရပ်ပေါ်ပေါက်သဖြင့် အခကြေးငွေကို သတ်မှတ်ကာလအတွင်း ပေးချေရန် အခက်အခဲရှိပါက အလုပ်ရှင်၊ အလုပ်သမား နှစ်ဖက်ညှိနှုိင်းသဘောတူညီချက်ဖြင့် ခိုင်လုံသည့်ကျိုးကြောင်းဖော်ပြလျက် အခကြေးငွေပေးချေရန် ကာလအပိုင်းအခြားကုန်ဆုံးသည့်နေ့မစေ့ရောက်မီ ခုနှစ်ရက်အတွင်း အခကြေးငွေပေးချမည့်နေ့ရက်ရွှေ့ဆိုင်းခြင်း လျှောက်ထားလွှာကို သက်ဆိုင်ရာမြို့နယ် သို့မဟုတ် ခရိုင် သို့မဟုတ် စက်မှုဇုန်ရှိ အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေ စစ်ဆေးရေးဦးဌာနရုံးမှတစ်ဆင့် ဦးစီးဌာနသို့ ပုံစံ (၁) ဖြင့် တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td>၄။</td>
        <td>အလုပ်ရှင်သည် နည်းဥပဒေ ၃ အရတင်ပြရာတွင် သက်ဆိုင်ရာ ညှိနှုိင်းရေးကော်မတီနှင့်ဖြစ်စေ၊ အခြေခံအလုပ်သမားအဖွဲ့အစည်းနှင့်ဖြစ်စေ ရယူထားသည့် အခကြေးငွေပေးချေရန် နေ့ရက်ရွှေ့ဆိုင်းခြင်းအပေါ် အလုပ်ရှင်နှင့် အလု့ပ်သမားနှစ်ဖက် သဘောတူညီချက်ကို ပုံစံ (၂) ဖြင့် ပူးတွဲတင်ပြရမည်။</td>
    </tr>
    <tr>
        <td>၅။</td>
        <td>ဦးစီးဌာန၏ သက်ဆိုင်ရာ စစ်ဆေးရေးအရာရှိသည် ပုံစံ (၁) နှင့် ပုံစံ (၂) ကို လက်ခံရရှိသည့်နေ့မှစ၍ ရုံးပိတ်ရက်များမပါ သုံးရက်အတွင်း စိစစ်၍ ဦးစီးဌာနသို့ တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td>၆။</td>
        <td>ဦးစီးဌာနသည် နည်းဥပဒေ ၅ အရ စစ်ဆေးရေးအရာရှိ၏ တင်ပြချက်ကို ထပ်မံစစ်စစ်၍ ဝန်ကြီးဌာန၏ သဘောတူညီချက်ဖြင့် အခကြေးငွေပေးချေရန် ကာလအပိုင်းအခြား ကုန်ဆုံးပြီးနောက် တစ်ဆယ်ရက်ထက်မကျော်လွန်စေဘဲ သင့်လျော်သည့်နေ့ရက်သို့ အခကြေးငွေ ပေးချေသည့်နေ့ရက် ရွှေ့ဆိုင်းရန် ခွင့်ပြုခြင်း သို့မဟုတ် ငြင်းပယ်ခြင်းအမိန့်ကို ပုံစံ (၃) ဖြင့် ထုတ်ပြန်နိုင်သည်။</td>
    </tr>
</table>
<h2>အခန်း (၃)</h2>
<h3 id="deduction">အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇။</td>
        <td colspan="2">အလုပ်ရှင်သည် အလုပ်သမား၏ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်မည့် အလုပ်သမားပေးလျော်ရန် ဒဏ်ငွေကို အောက်ဖော်ပြပါကိစ္စရပ်များနှင့် စပ်လျဥ်း၍ သက်ဆိုင်ရာ ညှိနှိုင်းရေးကော်မတီနှင့်ဖြစ်စေ၊ အခြေခံအလုပ်သမားအဖွဲ့အစည်းနှင့်ဖြစ်စေ၊ ကာယကံရှင် အလုပ်သမားနှင့်ဖြစ်စေ ညှိနှိုင်းအတည်ပြုပြီး အခကြေးငွေပေးချေရန် ကာလအပိုင်းအခြား မစေ့ရောက်မီ ခုနှစ်ရက်အတွင်း ပုံစံ (၄) ဖြင့် သက်ဆိုင်ရာမြို့နယ် သို့မဟုတ် ခရိုင် သို့မဟုတ် စက်မှုဇုန်ရှိ အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေ စစ်ဆေးရေးဦးစီးဌာနရုံးမှတစ်ဆင့် ဦးစီးဌာနသို့ တင်ပြ၍ ကြိုတင်ခွင့်ပြုချက်ရယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမား၏ တမင်လစ်လျူရှုမှု၊ ပေါ့ဆမှုကြောင့်ဖြစ်စေ၊ မရိုးဖြောင့်သောသဘောဖြင့်ပြုလုပ်မှု သို့မဟုတ် ပျက်ကွက်မှုကြောင့်ဖြစ်စေ အလုပ်ရှင်မှ အလုပ်သမားအား အတိအလင်းအပ်နှံထားသော ပစ္စည်းနှင့် ငွေကြေးများ ပျက်စီးဆုံးရှုံးမှုအတွက် ပေးလျော်ရန် ဒဏ်ငွေ</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူစာချုပ်အရ သတ်မှတ်ထားသည့်ဒဏ်ငွေများ။</td>
    </tr>
    <tr>
        <td>၈။</td>
        <td>(က)</td>
        <td>ဦးစီးဌာနသည် နည်းဥပဒေ ၇ အရ ပေးပို့သည့် ပုံစံ (၄) ကို လက်ခံရရှိသည့်နေ့မှစ၍ ရုံးပိတ်ရက်များမပါ သုံးရက်အတွင်း စိစစ်၍ ခွင့်ပြုခြင်း သို့မဟုတ် ပယ်ဖျက်ခြင်းအမိန့်ကို ပုံစ့ (၅) ဖြင့် သက်ဆိုင်ရာမြို့နယ် သို့မဟုတ် ခရိုင် သို့မဟုတ် စက်မှုဇုန်ရုံးရှိ စစ်ဆေးရေးအရာရှိထံ ပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>သက်ဆိုင်ရာမြို့နယ် သို့မဟုတ် ခရိုင် သို့မဟုတ် စက်မှုဇုန်ရုံးရှိ စစ်ဆေးရေးအရာရှိသည် နည်းဥပဒေခွဲ (က) အရ ပေးပို့သည့် ခွင့်ပြုခြင်း သို့မဟုတ် ပယ်ဖျက်ခြင်းအမိန့်ကို ရုံးပိတ်ရက်များမပါ သုံးရက်အတွင်း သက်ဆိုင်ရာ အလုပ်ရှင်ထံ ပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td>၉။</td>
        <td colspan="2">အလုပ်ရှင်သည် အခကြေးငွေ ပေးချေခြင်းမှတ်တမ်းကို ပုံစံ (၆) ဖြင့်လည်းကောင်း၊ အခကြေးငွေမှ ဥပဒေနှင့်အညီ နှုတ်ယူဖြတ်တောက်ခြင်းမှတ်တမ်းကို ပုံစံ (၇) ဖြင့်လည်းကောင်း၊ နှုတ်ယူဖြတ်တောက်ထားသည့်ငွေများ အသုံးပြုမှုမှတ်တမ်းကို ပုံစံ (၈) ဖြင့်လည်းကောင်း ပြုစု၍ စစ်ဆေးရေးအရာရှိက အချိန်မရွေးကြည့်ရှုစစ်ဆေးနိုင်ရန် သက်ဆိုင်ရာလုပ်ငန်းတွင် အနည်းဆုံး တစ်ဆယ့်နှစ်လ ထိန်းသိမ်းထားရှိရမည်။</td>
    </tr>
    <tr>
        <td>၁၀။</td>
        <td colspan="2">အလုပ်ရှင်သည် နည်းဥပဒေ ၇ အရ အလုပ်သမားထံမှ အခကြေးငွေဖြတ်တောက်ရာတွင် ငွေအပြေအကျေမပေးဆပ်ရသေးမီ ကာယကံရှင်အလုပ်သမား အလုပ်မှနှုတ်ထွက်ခဲ့လျှင်ဖြစ်စေ၊ ရပ်စဲခံရလျှင်ဖြစ်စေ၊ သေဆုံးလျှင်ဖြစ်စေ ပေးဆပ်ရန်ကျန်ငွေကို အခြားတည်ဆဲဥပဒေတစ်ရပ်ရပ်နှင့်အညီ ပြန်လည်တောင်းခံနိုင်သည်။</td>
    </tr>
</table>
<h2>အခန်း (၅)</h2>
<h3 id="overtime-premium-rate">အချိန်ပိုအခကြေးငွေ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၀။</td>
        <td>လုပ်ငန်းအမျိုးအစားအလိုက် သက်ဆိုင်ရာဥပဒေက သတ်မှတ်ထားသည့် တစ်ရက်သတ်မှတ်အလုပ်ချိန်ထက် ပို၍သော်လည်းကောင်း၊ ရက်သတ္တပတ်သတ်မှတ်အလုပ်ချိန်ထက် ပို၍သော်လည်းကောင်း လုပ်ကိုင်ရလျှင် အောက်ပါတွက်ချက်မှုပုံသေနည်းဖြင့် အလုပ်သမားအား အချိန်ပိုလုပ်ခတွက်ချက် ခံစားခွင့်ပေးရမည်။</td>
    </tr>
</table>
<img src="/images/OTFormula.png" alt="Overtime Formula">
<table class="list">
    <tr>
        <td colspan="3"><b>ခြွင်းချက်</b></td>
    </tr>
    <tr>
        <td></td>
        <td>(၁)</td>
        <td id="two-times-for-sharp-minimum-wage-rate">အနည်းဆုံးအခကြေးငွေအမိန့်အရ ခံစားခွင့်ပြုထားသည့် အလုပ်သမားသည် ထိုအမိန့်ပါ တစ်နာရီလုပ်ခနှုန်း၏ (၂) ဆ ခံစားခွင့်ပြုရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td id="44-vs-48-hours">လျှပ်စစ်ဓါတ်အားပေးလုပ်ငန်း၊ ရေခဲစက်၊ ရေနံချက်စက်၊ သစ်ပေါင်းတင်လုပ်ငန်း၊ ရေနှင့်ဆီမှုတ်စက်၊ လေအား (သို့) ဓါတ်ငွေ့အားပြုလုပ်သောစက်၊ ဓါတုဗေဒလုပ်ငန်း၊ အသီးအနှံမှ ထုတ်ယူသောဆီစက်နှင့် သကြားစက်တို့တွင် လုပ်ကိုင်နေသော အလုပ်သမားများ၏ အချိန်ပို (၁) နာရီလုပ်ခတွက်ချက်ရာ၌ ဖော်ပြပါပုံသေနည်းတွင် ရက်သတ္တပတ်အလုပ်ချိန် (၄၈) နာရီဖြင့် တွက်ချက်ရမည်။ ထို့ပြင် သက်ဆိုင်ရာတည်ဆဲဥပဒေတစ်ရပ်ရပ်တွင် ရက်သတ္တပတ်အလုပ်ချိန် သတ်မှတ်ချက်ရှိလျှင် ထိုအလုပ်ချိန်နာရီဖြင့် တွက်ချက်ရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>

&nbsp;
