<p>၂၀၁၆ ခုနှစ်၊ ပြည်ထောင်စုလွှတ်တော်ဥပဒေ အမှတ် - ၁၇<br>၂၀၁၆ ခုနှစ်၊ ဇန်နဝါရီလ ၂၅ ရက်။</p>
<h2>အခန်း (၁)<br>အမည်နှင့် အဓိပ္ပါယ်ဖော်ပြချက်</h2>
<h3 id="wage-definition">အခကြေးငွေ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="3">ဤဥပဒေတွင် ပါရှိသော အောက်ပါစကားရပ်များသည် ဖော်ပြပါအတိုင်း အဓိပ္ပါယ် သက်ရောက်စေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2"><b>အခကြေးငွေ</b>ဆိုသည်မှာ အလုပ်ရှင်၏ နာရီပိုင်းအလုပ်၊ နေ့စဥ်အလုပ်၊ အပတ်စဥ်အလုပ်၊ လစဥ်အလုပ် သို့မဟုတ် အခြားအချိန်ပိုင်းအလုပ်တစ်ခုခုကို အလုပ်သမားက လုပ်ကိုင်ဆောင်ရွက်ပေးရသဖြင့် ရသင့်သော အခကြေးငွေနှင့် လုပ်ခလစာတို့ကို ဆိုသည်။ ယင်းစကားရပ်တွင် အချိန်ပိုလုပ်ခသည်လည်းကောင်း၊ အလုပ်သမား၏ စွမ်းဆောင်ရည်ကောင်းမွန်သဖြင့် သို့မဟုတ် အကျင့်စာရိတ္တကောင်းမွန်သဖြင့် အလုပ်ရှင်က အပိုပေးသည့် ဆုကြေးငွေများသည်လည်းကောင်း၊ ဝင်ငွေအဖြစ် သတ်မှတ်နိုင်သော အခြားငွေနှင့် အကျိုးခံစားခွင့်များသည်လည်းကောင်း ပါဝင်သည်။ သို့ရာတွင် အောက်ပါအတို့ မပါဝင်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ခရီးစရိတ် သို့မဟုတ် ခရီးသွားလာမှုအတွက် အထူးထောက်ပံ့စရိတ်များ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>လုပ်ငန်းသဘာဝအရ နှစ်ဖက်ကြိုတင်ညှိနှိုင်းထား၍ ခေတ္တစိုက်ထုတ်ကျခံသုံးစွဲငွေများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>လူမှုဖူလုံရေးအကျိုးခံစားခွင့်ငွေကြေးများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>တည်ဆဲဥပဒေတစ်ရပ်ရပ်အရ အလုပ်သမားအတွက် ပေးသွင်းသည့် ထည့်ဝင်ကြေးများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>နေထိုင်ခနှင့် စားသောက်စရိတ်များ၊ လျှပ်စစ်ဓါတ်အားခ၊ ရေဖိုးနှင့် အခွန်အခများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>ဆေးကုသစရိတ်နှင့် အပန်းဖြေခများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>အလုပ်ထုတ်နစ်နာကြေးနှင့် ကရုဏာကြေးများ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၈)</td>
        <td>ပင်စင်လစာနှင့် အငြိမ်းစားလုပ်သက်ဆုငွေ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၉)</td>
        <td>ဝန်ကြီးဌာနက ဤဥပဒေပါအခကြေးငွေနှင့် မသက်ဆိုင်ဟု ပြည်ထောင်စုအစိုးရအဖွဲ့၏ အတည်ပြုချက်ဖြင့် အမိန့်ကြော်ငြာစာထုတ်ပြန်၍ သတ်မှတ်သော အခြားငွေကြေးများ။</td>
    </tr>
</table>
<h2>အခန်း (၂)<br>အခကြေးငွေပေးရမည့် နည်းလမ်းနှင့် အချိန်ကာလ</h2>
<h3 id="payment-methods">အခကြေးငွေပေးရမည့်နည်းလမ်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃။</td>
        <td colspan="3">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">မိမိ၏ လုပ်ငန်းတွင် လုပ်ကိုင်နေသော အလုပ်သမား၏ အခကြေးငွေကို ပြည်တွင်းသုံးငွေဖြင့်ဖြစ်စေ၊ မြန်မာနိုင်ငံတော်ဗဟိုဘဏ်က အသိအမှတ်ပြုသည့်နိုင်ငံခြားသုံးငွေဖြင့်ဖြစ်စေ ပေးချေရမည်။ ထိုသို့ ပေးချေရာတွင် အလုပ်ရှင်၊ အလုပ်သမားနှစ်ဘက် သဘောတူညီမှုဖြင့် ငွေသားဖြင့်ဖြစ်စေ၊ ချက်လက်မှတ်ဖြင့်ဖြစ်စေ၊ အလုပ်သမား၏ ဘဏ်စာရင်းသို့ဖြစ်စေ ပေးချေနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အခကြေးငွေပေးချေရာတွင် -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ကူးသန်းရောင်းဝယ်ရေးလုပ်ငန်း၊ ကုန်ထုတ်လုပ်ငန်းနှင့် ဝန်ဆောင်မှုလုပ်ငန်းများတွင် လုပ်ကိုင်နေသော အလုပ်သမားများအား သီးခြားအကျိုးခံစားခွင့်များ၊ အကျိုးအမြတ်များ၊ အခွင့်အလမ်းများကို ပေးချေရန်ရှိပါက သတ်မှတ်ချက်များနှင့်အညီ ငွေးသားဖြင့်ဖြစ်စေ၊ အလုပ်သမား၏ ဆန္ဒအရ ငွေသားတစ်ချို့တစ်ဝက်နှင့် တွဲဖက်၍ဖြစ်စေ ပေးချေနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>စိုက်ပျိုးရေးနှင့် မွေးမြူရေးလုပ်ငန်းတွင် လုပ်ကိုင်သော အလုပ်သမားများအား ဒေသဓလေ့ထုံးတမ်းအရဖြစ်စေ၊ အလုပ်သမားအများစု၏ ဆန္ဒအရဖြစ်စေ၊ စုပေါင်းသဘောတူညီချက်အရဖြစ်စေ၊ ငွေးသားတစ်ချို့တစ်ဝက်နှင့် ဒေသပေါက်ဈေးနှုန်းဖြင့် သတ်မှတ်သော ပစ္စည်းတစ်ချို့ တစ်ဝက်တွဲဖက်၍ ပေးချေနိုင်သည်။ ထိုသို့ပေးချေခြင်းသည် အလုပ်သမားနှင့် ယင်းမိသားစုကိုယ်ရေးကိုယ်တာ အသုံးပြုမှုနှင့် အကျိုးအမြတ်တစ်စုံတစ်ရာအတွက် ဖြစ်ရမည့်အပြင် ပေးချေသည့် တန်ဖိုးမှာလည်း ကျိုးကြောင်းဆီလျော်ပြီး မျှတရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2" id="conscription-wage">အလုပ်သမားတစ်ဦးဦးက ပြည်သူ့စစ်မှုထမ်းဥပဒေအရ စစ်မှုထမ်းရသည့်အခါ ထိုအလုပ်သမားအား အထူးခွင့်အဖြစ် သတ်မှတ်ပြီး ရက်ပေါင်း (၆၀) အတွက် အခကြေးငွေထုတ်ပေးရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<h3 id="payment-timeframe">အခကြေးငွေပေးရမည့်အချိန်ကာလ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄။</td>
        <td colspan="3">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">နာရီပိုင်းအလုပ်၊ နေ့စဥ်အလုပ်၊ အပတ်စဥ်အလုပ် သို့မဟုတ် အခြားအချိန်ပိုင်းအလုပ် တစ်ခုခုအတွက်သော်လည်းကောင်း၊ ယာယီအလုပ် သို့မဟုတ် ပုတ်ပြတ်အလုပ်တစ်ခုခုအတွက်သော်လည်းကောင်း အလုပ်ပြီးဆုံးသည့်အခါဖြစ်စေ၊ အလုပ်သမားနှင့် သဘောတူညီသည့် အချိန်ကာလအတွင်းဖြစ်စေ အခကြေးငွေပေးချေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">ပုဒ်မခွဲ (က) အရ အခကြေးငွေပေးချေရန် အလုပ်သမားနှင့် သဘောတူညီသည့် အချိန်ကာလအပိုင်းအခြားသည် တစ်လထက် မကျော်စေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">အမြဲတမ်းအလုပ်အတွက် အခကြေးငွေကို လစဥ်ပေးချေရမည်။ ထိုသို့ပေးချေရာတွင် -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td id="pay-end-of-payment-period">အလုပ်သမားဦးရေ ၁၀၀ ထက်မပိုပါက အခကြေးငွေပေးရန် ကာလအပိုင်းအခြား ကုန်ဆုံးသည့်နေ့တွင် ပေးချေရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td id="pay-within-five-days">အလုပ်သမားဦးရေ ၁၀၀ ထက်ပိုပါက အခကြေးငွေပေးရန် ကာလအပိုင်းအခြား ကုန်ဆုံးပြီးနောက် နောက်အကျဆုံး ငါးရက်အတွင်း ပေးချေရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2" id="pay-within-2-days">အလုပ်သမားအား အလုပ်ရပ်စဲသည့်အခါ ပေးထိုက်သည့် အခကြေးငွေကို အလုပ်မှ ရပ်စဲခြင်းခံရသည့်နေ့မှ အလုပ်ဖွင့်ရက် နှစ်ရက်အတွင်း ပေးချေရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2" id="resign-payment">အလုပ်သမားက အလုပ်ရှင်ထံ ကြိုတင်အကြောင်းကြားစာ ပေးပို့၍ မိမိဆန္ဒအရ အလုပ်မှနှုတ်ထွက်ပါက အခကြေးငွေပေးချေရန် ကာလအပိုင်းအခြား ကုန်ဆုံးသည့်နေ့တွင် ပေးချေရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td colspan="2">အလုပ်သမားသေဆုံးသည့်အခါ ထိုအလုပ်သမားအား ပေးထိုက်သည့် အခကြေးငွေကို သေဆုံးပြီးနောက် အလုပ်ဖွင့်ရက်နှစ်ရက်အတွင်း သေဆုံးသူ၏ တရားဝင်အမွေဆက်ခံသူထံသို့ ပေးချေရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td colspan="2">အခကြေးငွေအားလုံးကို အလုပ်ဖွင့်သည့်နေ့ရက်တွင် ပေးချေရမည်။</td>
    </tr>
    <tr>
        <td>၅။</td>
        <td colspan="3" id="cannot-pay-within">အလုပ်ရှင်သည် သဘာဝဘေးအန္တရာယ်အပါအဝင် မမျှော်လင့်သော ထူးခြားသည့် အခြေအနေတစ်ရပ်ရပ်ပေါ်ပေါက်သဖြင့် ပုဒ်မ ၄၊ ပုဒ်မခွဲ (ဂ) ပါ ပြဌာန်းချက်နှင့်အညီ ပေးချေရန် အခက်အခဲရှိပါက အလုပ်သမား၏ သဘောတူညီချက်ဖြင့် အခကြေးငွေကို မည်သည့်နေ့ရက်သို့ ပြောင်းလဲပေးချေမည်ဖြစ်ကြောင်း ကျိုးကြောင်းခိုင်လုံစွာဖြင့် ဦးစီးဌာနသို့ တင်ပြရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td>၆။</td>
        <td colspan="3">ဦးစီးဌာနသည် ပုဒ်မ ၅ အရ တင်ပြချက်ကို စိစစ်ပြီး ခွင့်ပြုသင့်ပါက ဝန်ကြီးဌာန၏ သဘောတူညီချက်ဖြင့် စည်းကမ်းချက်များ သတ်မှတ်ပြီး သင့်လျော်သော အချိန်ကာလအတွင်း ရွှေ့ဆိုင်းပေးချေရန် အလုပ်ရှင်အား ခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<h2>အခန်း (၃)<br>အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်း</h2>
<h3 id="deduction-for-neither-compensation-nor-fine">အလုပ်မဆင်းသည့်ကာလ၊ အလုပ်ရှင်ဘက်မှပံ့ပိုးမှု၊ ကြိုတင်ထုတ်ပေးငွေ၊ စိုက်ထုတ်ပေးငွေ၊ စုငွေ၊ ဥပဒေအရ ထည့်ဝင်ကြေးနှင့် တရားရုံး သို့မဟုတ် ခုံသမာဓိကောင်စီ သို့မဟုတ် ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်အရ တို့အတွက် ဖြတ်တောက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၇။</td>
        <td colspan="2">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td id="no-work-no-pay-deduction">သက်ဆိုင်ရာဥပဒေအရ အခကြေးငွေ ခံစားခွင့်ရှိသည့် ခွင့်ရက်များနှင့် အများပြည်သူအလုပ်ပိတ်ရက်များမှအပ အလုပ်မဆင်းသည့် ကာလအတွက် အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်နိုင်သည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အခကြေးငွေတွင် ပါဝင်ခြင်းမရှိသည့် အလုပ်ရှင်မှ စီစဥ်ပေးသည့် နေထိုင်ခနှင့် ပို့ကြိုယာဥ်စရိတ်၊ စားသောက်စရိတ်များ၊ လျှပ်စစ်ဓါတ်အားခ၊ ရေဖိုးနှင့် အလုပ်သမားက ပေးဆောင်ရမည့်ဝင်ငွေခွန်နှင့် မှားယွင်း၍ ပိုပေးမိသော အခကြေးငွေများကို နှုတ်ယူဖြတ်တောင်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်သမား၏ တောင်းဆိုချက်အရ ကြိုတင်ထုတ်ပေးငွေ၊ စိုက်ထုတ်ပေးငွေ၊ အလုပ်သမားအတွက် စုငွေ သို့မဟုတ် ဥပဒေအရ ထည့်ဝင်ကြေးငွေတစ်ရပ်ရပ်ကို အခကြေးငွေမှ နှုတ်ယူဖြတ်တောင်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>တရားရုံး သို့မဟုတ် ခုံသမာဓိကောင်စီ သို့မဟုတ် ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်အရ အလုပ်သမား၏ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်နိုင်သည်။</td>
    </tr>
</table>
<h3 id="cannot-deduct-except-section-7-and-11">ပုဒ်မ ၇ နှင့် ၁၁ တို့မှအပ အခကြးငွေမှ ဖြတ်တောက်၍မရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၈။</td>
        <td>အလုပ်ရှင်သည် ပုဒ်မ ၇ နှင့် ပုဒ်မ ၁၁ တို့ပါ ပြဌာန်းချက်များနှင့်အညီ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်းမှအပ မည်သည့်ကိစ္စအတွက်မျှ နှုတ်ယူဖြတ်တောက်ခြင်းမပြုရ။</td>
    </tr>
</table>
<h3 id="cannot-exceed-50-percent">ပုဒ်မ ၇ အရ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ရာတွင် အလုပ်သမားရရှိသည့် အခကြေးငွေ၏ ၅၀ ရာခိုင်နှုန်းထက် မပိုစေရခြင်း<i class="fa-solid fa-link"></i></h3>
<table>
    <tr>
        <td>၉။</td>
        <td>အလုပ်ရှင်သည် ပုဒ်မ ၇ အရ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ရာတွင် အလုပ်သမားက တာဝန်ထမ်းဆောင်ရန် ပျက်ကွက်မှုအတွက် နှုတ်ယူဖြတ်တောက်ငွေများမှအပ အခြားနှုတ်ယူဖြတ်တောက်ငွေ စုစုပေါင်းသည် အလုပ်သမားရရှိသည့် အခကြေးငွေ၏ ၅၀ ရာခိုင်နှုန်းထက် မပိုစေရ။</td>
    </tr>
</table>
<h3 id="rules-for-deduction">အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်းအတွက် လိုက်နာဆောင်ရွက်ရမည့် အချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၀။</td>
        <td colspan="3">အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">ပုဒ်မ ၁၁ အရ ပေးလျော်ရန် ဒဏ်ငွေအဖြစ် သတ်မှတ်ပြိး အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်းမပြုမီ မည်သည့်ကိစ္စအတွက် မည်သို့မည်မျှ ဖြတ်တောက်မည်ကို ဦးစီးဌာန၏ ကြိုတင်ခွင့်ပြုချက် ရယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">ပုဒ်မခွဲ (က) ပါခွင့်ပြုချက်ကို သက်ဆိုင်ရာအလုပ်ရုံ၊ လုပ်ငန်းဌာန၌ အများမြင်သာသော နေရာများတွင် ကပ်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">နှုတ်ယူဖြတ်တောက်သည့် ပေးလျော်ရန်ဒဏ်ငွေမှာ အလုပ်သမား၏ လုပ်ဆောင်မှု သို့မဟုတ် လုပ်ဆောင်ရန်ပျက်ကွက်မှုကြောင့် ပျက်စီးမှု သို့မဟုတ် ဆုံးရှုံးမှု တန်ဖိုးထက် မပိုစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2">ပုဒ်မ ၁၁ အရ အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ရာတွင် -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်သမားအား ထုချေဖြေရှင်းခွင့် တစ်စုံတစ်ရာမပေးဘဲ ထိုအခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်သမား၏ လစဥ်အခကြေးငွေမှ တစ်လလျှင် ၅ ရာခိုင်နှုန်းထက်ပို၍ နှုတ်ယူဖြတ်တောက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2">အသက် ၁၆ နှစ်အောက် အလုပ်သမားထံမှ ဒဏ်ငွေအဖြစ် လုံးဝနှုတ်ယူဖြတ်တောက်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(စ)</td>
        <td colspan="2">ချမှတ်ထားသော ဒဏ်ငွေအား ပေးချေရမည့် ကာလသတ်မှတ်ချက်ကို အလုပ်ရှင်နှင့် အလုပ်သမား သဘောတူညီချက်နှင့်အညီ ဆောင်ရွက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဆ)</td>
        <td colspan="2">ပစ္စည်းဆုံးရှုံးမှုအတွက် ဖြတ်တောက်ငွေကို ဥပဒေအရ ဖွဲ့စည်းထားသည့် မြို့နယ် ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့ဖြင့် ညှိနှိုင်းသဘောတူညီချက်အရ သတ်မှတ်အချိန်ကာလအတွင်း နှုတ်ယူဖြတ်တောက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဇ)</td>
        <td colspan="2">အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်သည့်ငွေများကို မှတ်တမ်းတွင် ရေးသွင်း၍ စနစ်တကျ ထိန်းသိမ်းထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဈ)</td>
        <td colspan="2">အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်သည့်ငွေနှင့် စပ်လျဥ်း၍ လစဥ်အစီရင်ခံစာကို ဦးစီးဌာနသို့ တင်ပြရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ည)</td>
        <td colspan="2">ပုဒ်မ ၁၁၊ ပုဒ်မခွဲ (ခ) အရ နှုတ်ယူဖြတ်တောက်ခြင်းသည့် ဒဏ်ငွေများကို စက်ရုံရှိ တရားဝင်မှတ်ပုံတင်ထားသော အလုပ်သမားအဖွဲ့အစည်းနှင့် ညှိနှိုင်း၍ အလုပ်သမားများ အကျိုးဖြစ်ထွန်းစေမည့် ကိစ္စရပ်များ၌ အသုံးပြုရမည်။</td>
    </tr>
</table>
<h3 id="deduction-for-compensation-or-fine">လျော်ကြေးငွေ သို့မဟုတ် ဒဏ်ငွေ အဖြစ် နှုတ်ယူဖြတ်တောက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၁။</td>
        <td colspan="2">အလုပ်ရှင်သည် အလုပ်သမား၏ အောက်ဖော်ပြပါ ပြုလုပ်မှု သို့မဟုတ် ပျက်ကွက်မှုအတွက် ပေးလျော်ရန်ဒဏ်ငွေအဖြစ် သတ်မှတ်ပြီး အခကြေးငွေမှ နှုတ်ယူဖြတ်တောက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမား၏ တမင်လစ်လျူရှုမှု၊ ပေါ့ဆမှုကြောင့်ဖြစ်စေ၊ မရိုးဖြောင့်သော သဘောဖြင့် ပြုလုပ်မှု သို့မဟုတ် ပျက်ကွက်မှုကြောင့်ဖြစ်စေ၊ အလုပ်ရှင်က အလုပ်သမားအား ထိန်းသိမ်းစောင့်ရှောက်ရန် အတိအလင်းအပ်နှံထားသည့် တာဝန်ရှိသော ပစ္စည်းနှင့် ငွေကြေးတစ်စုံတစ်ရာ ပျက်စီးဆုံးရှုံးမှုသည် ထိုအလုပ်သမား၏ ပေါ့ဆမှားယွင်းမှုကြောင့် တိုက်ရိုက်ပေါ်ပေါက်လာသည့် ပျက်စီးဆုံးရှုံးမှု</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ပါ ဒဏ်ငွေသတ်မှတ်ထားသည့် အလုပ်ခွင် စည်းကမ်းချက်တစ်ရပ်ရပ်ကို အလုပ်သမားက ဖောက်ဖျက်မှု။</td>
    </tr>
</table>
<h3 id="claiming-by-worker">အလုပ်သမားဘက်မှ တောင်းဆိုနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၂။</td>
        <td colspan="3">အလုပ်သမားသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">အောက်ပါအခြေအနေများပေါ်ပေါက်လျှင် ကိုယ်တိုင်ဖြစ်စေ၊ တရားဝင် မှတ်ပုံတင်ထားသော အလုပ်သမားအဖွဲ့အစည်းကဖြစ်စေ၊ စက်ရုံတွင်း လုပ်ငန်းညှိနှုိင်းရေး ကော်မတီကဖြစ်စေ ဖြေရှင်းပေးရန် အလုပ်ရှင်သို့ တောင်းဆိုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ရရန်ရှိသည့် အခကြေးငွေထဲမှာ ခိုင်လုံသော အကြောင်းပြချက်မရှိဘဲ ဖြတ်တောက်ခံရခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အခကြေးငွေများကို ပေးချေရမည့် ကာလထက်ကျော်လွန်၍ ပေးချေရန်ပျက်ကွက်နေခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">ပုဒ်မခွဲ (က) အရ တောင်းဆိုသော်လည်း အလုပ်ရှင်က ဖြေရှင်းဆောင်ရွက်ပေးခြင်းမရှိပါက နှုတ်ယူဖြတ်တောက်သည့်နေ့ သို့မဟုတ် ပေးချေရန်ပျက်ကွက်သည့်နေ့မှ ခြောက်လအတွင်း စစ်ဆေးရေးအရာရှိထံသို့ ဖြေရှင်းဆောင်ရွက်ပေးရန် တင်ပြနိုင်သည်။</td>
    </tr>
</table>
<h3 id="role-of-inspector">စစ်ဆေးရေးအရာရှိ၏ လုပ်ပိုင်ခွင့်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၃။</td>
        <td>(က)</td>
        <td>စစ်ဆေးရေးအရာရှိသည် ပုဒ်မ ၁၂၊ ပုဒ်မခွဲ (ခ) အရ တင်ပြချက်ကို စိစစ်၍ လိုအပ်ပါက သက်ဆိုင်ရာပုဂ္ဂိုလ်များအား စစ်ဆေးပြီး သင့်လျော်သည့် အမိန့်တစ်ရပ်ရပ်ကို ချမှတ်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားသည် ပုဒ်မခွဲ (က) အရ ချမှတ်သည့် အမိန့်ကို ကျေနပ်မှုမရှိပါက စစ်ဆေးရေးအရာရှိချုပ်ထံ ရက်ပေါင်း ၃၀ အတွင်း အယူခံနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>စစ်ဆေးရေးအရာရှိချုပ်သည် ပုဒ်မခွဲ (ခ) အရ အယူခံမှုကို စိစစ်၍ အလုပ်ရှင်နှင့် အလုပ်သမားတို့ကို ကြားနာပြီး သင့်လျော်သော အမိန့်တစ်ရပ်ရပ်ကို ချမှတ်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>စစ်ဆေးရေးအရာရှိချုပ်က ချမှတ်သည့်အမိန့်သည် အပြီးအပြတ်ဖြစ်သည်။</td>
    </tr>
</table>
<h2>အခန်း (၄)</h2>
<h3 id="overtime-wage">အချိန်ပိုအခကြေးငွေ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၄။</td>
        <td>အလုပ်သမားသည် အချိန်ပို လုပ်ကိုင်ရပါက အချိန်ပိုအခကြေးငွေနှုန်းထားကို ဥပဒေအရ သတ်မှတ်သည့် နှုန်းထားအတိုင်း ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<h2>အခန်း (၅)</h2>
<h3 id="duties-of-inspector">စစ်ဆေးရေးအရာရှိချုပ်နှင့် စစ်ဆေးရေးအရာရှိ၏ တာဝန်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၆)</h2>
<h3 id="prosecution">တရားစွဲဆိုခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၉။</td>
        <td>(က)</td>
        <td>စစ်ဆေးရေးအရာရှိသည် ဤဥပဒေပါ ပြဌာန်းချက်တစ်ရပ်ရပ်ကို ကျူးလွန်ဖောက်ဖျက်သူအား စစ်ဆေးရေးအရာရှိချုပ်၏ ခွင့်ပြုမိန့်ဖြင့် သက်ဆိုင်ရာတရားရုံးတွင် ဤဥပဒေအရ တရားစွဲဆိုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုဒ်မခွဲ (က) အရ တရားစွဲဆိုခြင်းကြောင့် အလုပ်သမားက ရရန်ရှိသော အခကြေးငွေများ ရရှိရေးအတွက် တရားမကြောင်းအရ တရားစွဲဆိုတောင်းခံပိုင်ခွင့်ကို မထိခိုက်စေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်သမားသည် ပုဒ်မ ၁၂၊ ပုဒ်မခွဲ (ခ) အရ စစ်ဆေးရေးအရာရှိထံသို့ ဖြေရှင်းဆောင်ရွက်ပေးရန် တင်ပြခြင်းမပြုဘဲ နှုတ်ယူဖြတ်တောက်ငွေနှင့် နစ်နာကြေးငွေများကို ပေးချေရန် သက်ဆိုင်ရာ တရားရုံးသို့ တရားမကြောင်းအရ တရားစွဲဆိုနိုင်သည်။</td>
    </tr>
    <tr>
        <td>၂၀။</td>
        <td colspan="2">တရားရုံးသည် အခကြေးငွေပေးချေရန်ပျက်ကွက်မှု သို့မဟုတ် နှောင့်နှေးကြံ့ကြာမှုမှာ အောက်ဖော်ပြပါ အကြောင်းအရင်းများကြောင့်ဖြစ်သည်ဟု ဆုံးဖြတ်လျှင် အခကြေးငွေပေးချေခြင်းကို ဆိုင်းငံ့ခွင့် သို့မဟုတ် ကင်းလွတ်ခွင့်ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>သဘာဝဘေးအန္တရာယ်အပါအဝင် မမျှော်လင့်သောအရေးပေါ်အခြေအနေ ပေါ်ပေါက်လာသဖြင့် အခကြေးငွေကို ပေးချေနိုင်မှုမရှိခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ရှင်သည် ကြွေးမြီ မပေးဆပ်နိုင်သည့် လူမွဲအဖြစ် ကြေညာခံထားရသူဖြစ်ခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>သက်ဆိုင်ရာအလုပ်သမားက ကိုယ်တိုင်ဖြစ်စေ၊ ကိုယ်စားလှယ်ဖြင့်ဖြစ်စေ လာရောက်ထုတ်ယူရန် ပျက်ကွက်ခြင်း သို့မဟုတ် ပေးချေသည့်အခကြေးငွေကို လက်ခံရယူရန် ပျက်ကွက်ခြင်း။</td>
    </tr>
    <tr>
        <td>၂၁။</td>
        <td colspan="2">ပြန်လည်တောင်းခံသော အခကြေးငွေ သို့မဟုတ် ဖြတ်တောက်ထားသည့် အခကြေးငွေများနှင့် စပ်လျဥ်း၍ အောက်ပါကိစ္စတစ်ရပ်ရပ်တွင် တရားစွဲဆိုခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>စစ်ဆေးရေးအရာရှိထံသို့ လျှောက်ထားသည့်ကိစ္စ မပြီးပြတ်သေးခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>တောင်းခံလျှောက်ထားသူအား ပြန်လည်ထုတ်ပေးရန် ညွှန်ကြားပြိးသည့် ငွေဖြစ်နေခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>တောင်းခံလျှောက်ထားသူအား ပေးရန်မလိုသောငွေဟု အတည်ပြုပြီးသောငွေ ဖြစ်နေခြင်း။</td>
    </tr>
</table>
<h2>အခန်း (၇)</h2>
<h3 id="prohibition">တားမြစ်ချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၂။</td>
        <td>မည်သည့်အလုပ်ရှင်မျှ ပုဒ်မ ၄၊ ၅၊ ၈၊ ၉ နှင့် ၁၁ တို့ပါ ပြဌာန်းချက်တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၈)</h2>
<h3 id="punisements">ပြစ်မှုနှင့် ပြစ်ဒဏ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h2>အခန်း (၉)</h2>
<h3 id="general">အထွေထွေ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>...</td>
        <td>...</td>
    </tr>
</table>

&nbsp;
