<h3 id="establishing-wcc">အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီ (Workplace Coordination Committee - WCC)<i class="fa-solid fa-link"></i></h3>
<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေးဥပဒေ၊ အခန်း (၁)</caption>
    <tr>
        <td>၂။</td>
        <td>(ဌ)</td>
        <td><b>စုပေါင်းသဘောတူညီချက်</b> ဆိုသည်မှာ စုပေါင်းတောင်းဆို ဆွေးနွေးညှိနှိုင်းမှုအရ အလုပ်သမားများ၏ လုပ်ငန်းခွင်နှင့် အလုပ်လုပ်ကိုင်မှုအခြေအနေများ သတ်မှတ်ခြင်း၊ အလုပ်ရှင်များနှင့် အလုပ်သမားများ၊ ယင်းတို့၏ သက်ဆိုင်ရာ အဖွဲ့အစည်းများအကြားတွင် ဆက်ဆံမှုဆိုင်ရာ စည်းကမ်းချက်များ သတ်မှတ်ခြင်း၊ အလုပ်သမား အဖွဲ့အစည်းများ၏ တရားဝင်ရပ်တည်မှုကို အသိအမှတ်ပြု ဆောင်ရွက်ခြင်းနှင့် အလုပ်သမားများအတွက် လူမှုကာကွယ်စောင့်ရှောက်မှု အာမခံချက်များကို မြှင့်တင်ခြင်းတို့ အပါအဝင် အလုပ်လုပ်ကိုင်မှုဆိုင်ရာ ပြဌာန်းချက်များနှင့် စပ်လျဥ်း၍ စာဖြင့်ချုပ်ဆိုသည့် နှစ်ဖက်သဘောတူညီချက်ကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(တ)</td>
        <td><b>ညှိနှိုင်းရေးကောမတီ</b> ဆိုသည်မှာ ဤဥပဒေအရ ဖွဲ့စည်းသော အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ထ)</td>
        <td><b>ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့</b> ဆိုသည်မှာ ဤဥပဒေအရ ဖွဲ့စည်းသော အငြင်းပွားမှု ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့ကို ဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wcc-formation-and-number-of-representative">ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းခြင်းနှင့် ကိုယ်စားလှယ်အရေအတွက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေးဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၃။</td>
        <td colspan="3">အလုပ်သမား ၃၀ ဦးနှင့်အထက် အလုပ်လုပ်ကိုင်နေသော လုပ်ငန်းတစ်ခုခုတွင် စုပေါင်းသဘောတူညီချက်ကို ဆွေးနွေးရရှိနိုင်ရန် အလုပ်ရှင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">အလုပ်သမားအဖွဲ့အစည်းရှိလျှင် စုပေါင်းတောင်းဆိုဆွေးနွေးညှိနှိုင်းမှု ပြုလုပ်နိုင်ရေးအတွက် အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီကို သတ်မှတ်ချက်နှင့်အညီ သတ်မှတ်ကာလအတွင်း အောက်ပါအတိုင်း ဖွဲ့စည်းရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်သမားအဖွဲ့အစည်းတစ်ခုချင်းက အဆိုပြုသည့် အလုပ်သမားကိုယ်စားလှယ် သုံးဦးစီ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်သမားကိုယ်စားလှယ်ဦးရေနှင့် အရေအတွက်တူညီသည့် အလုပ်ရှင် ကိုယ်စားလှယ်များ</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">အလုပ်သမားအဖွဲ့အစည်းမရှိလျှင် စုပေါင်းတောင်းဆိုဆွေးနွေးညှိနှိုင်းမှု ပြုလုပ်နိုင်ရေးအတွက် အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီကို သတ်မှတ်ချက်နှင့်အညီ သတ်မှတ်ကာလအတွင်း အောက်ပါအတိုင်း ဖွဲ့စည်းရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်သမားများက ရွေးချယ်ပေးသော အလုပ်သမားကိုယ်စားလှယ် သုံးဦး</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်ရှင်ကိုယ်စားလှယ် သုံးဦး</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး နည်းဥပဒေများ၊ အခန်း (၂)</caption>
    <tr>
        <td colspan="3" style="background-color: lightsteelblue; padding: 0.5rem; border-radius: 3px;" data-pagefind-ignore>၂၀၁၉ တွင် ဥပဒေကို ပြင်ဆင်ပြီးနောက်ပိုင်း နည်းဥပဒေများကို ပြင်ဆင်ခြင်းမရှိသေးပါ။ ထို့ကြောင့် အချက်အလက်များ update မဖြစ်ပါ။ ဥပမာ ကိုယ်စားလှယ်ဦးရေမှာ ဥပဒေတွင် သုံးဦးစီဟု ပြင်ဆင်ပြီး ဖြစ်သော်လည်း ဤနည်းဥပဒေများတွင် နှစ်ဦးစီ ဖြစ်နေသည်ကို တွေ့ရမည်ဖြစ်ပါသည်။</td>
    </tr>
    <tr>
        <td>၄။</td>
        <td colspan="2">ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းရာတွင် ပါဝင်ရမည့် အလုပ်သမားကိုယ်စားလှယ် ဦးရေသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမားအားလုံး အလုပ်သမားအဖွဲ့အစည်းဝင် ဖြစ်သည့်လုပ်ငန်း သို့မဟုတ် အလုပ်သမားစုစုပေါင်းဦးရေ၏ ၅၀ ရာခိုင်နှုန်းနှင့် ယင်းရာခိုင်နှုန်းအောက်နည်းသော အလုပ်သမားအဖွဲ့အစည်းဝင်မဟုတ်သူများရှိသည့် လုပ်ငန်းဖြစ်ပါက ယင်းလုပ်ငန်းရှိ အလုပ်သမားအဖွဲ့အစည်းတစ်ခုချင်းမှ ကိုယ်စားလှယ် နှစ်ဦးစီဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမားစုစုပေါင်းဦးရေ၏ ၅၀ ရာခိုင်နှုန်းထက်ပိုသော အလုပ်သမားအဖွဲ့အစည်းဝင်မဟုတ်သူများရှိသည့် လုပ်ငန်းဖြစ်ပါက ယင်းလုပ်ငန်းရှိ အလုပ်သမားအဖွဲ့အစည်းအရေအတွက်နှင့် ယင်းအရေအတွက်အတိုင်း အလုပ်သမားအဖွဲ့အစည်းဝင် မဟုတ်သူများ၏ ကိုယ်စားလှယ်အရေအတွက်တို့၏ စုစုပေါင်းဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်သမားအဖွဲ့အစည်းမရှိသော လုပ်ငန်းဖြစ်ပါက ယင်းလုပ်ငန်းရှိ အလုပ်သမားများက ရွေးချယ်ပေးသော အလုပ်သမားကိုယ်စားလှယ် နှစ်ဦး ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td>၅။</td>
        <td colspan="2">ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းရာတွင် ပါဝင်ရမည့် အလုပ်ရှင်ကိုယ်စားလှယ် ဦးရေသည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမားအဖွဲ့အစည်း ရှိသည့်လုပ်ငန်းဖြစ်ပါက ယင်းလုပ်ငန်းတွင် ပါဝင်ခွင့်ရှိသော အလုပ်သမားကိုယ်စားလှယ် ဦးရေအတိုင်း ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမားအဖွဲ့အစည်း မရှိသည့်လုပ်ငန်းဖြစ်ပါက နှစ်ဦးဖြစ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="qualifications-of-wcc-members">ညှိနှိုင်းရေးကော်မတီဝင်၏ အရည်အချင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး နည်းဥပဒေများ၊ အခန်း (၂)</caption>
    <tr>
        <td colspan="3" style="background-color: lightsteelblue; padding: 0.5rem; border-radius: 3px;" data-pagefind-ignore>၂၀၁၉ တွင် ဥပဒေကို ပြင်ဆင်ပြီးနောက်ပိုင်း ဤနည်းဥပဒေများကို မပြင်ဆင်ရသေးသည်ကို သတိပြုပါ။</td>
    </tr>
    <tr>
        <td>၃။</td>
        <td colspan="2">ညှိနှိုင်းရေးကော်မတီဝင်သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အသက် ၂၁ နှစ်ပြည့်ပြီးသူ ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမားကိုယ်စားလှယ်အတွက် သက်ဆိုင်ရာလုပ်ငန်းတွင် အမြဲတမ်းအလုပ်သမားဖြစ်ပြီး အနည်းဆုံး လုပ်သက်ခြောက်လရှိသူ ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်ရှင်ကိုယ်စားလှယ်အတွက် သက်ဆိုင်ရာလုပ်ငန်းတွင် စီမံခန့်ခွဲရေး တာဝန်ယူဆောင်ရွက်နေသူ ဖြစ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="substitution-of-representative-vacancy">ကိုယ်စားလှယ်နေရာ လစ်လပ်ပါက လိုအပ်သလို အစားထိုးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေးဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၄။</td>
        <td>(က)</td>
        <td>ပုဒ်မ ၃ အရ ဖွဲ့စည်းသည့် ညှိနှိုင်းရေးကော်မတီတွင် အလုပ်ရှင်ဘက်မှဖြစ်စေ၊ အလုပ်သမားဘက်မှဖြစ်စေ၊ ကိုယ်စားလှယ်လစ်လပ်ပါက သက်ဆိုင်ရာဘက်မှ လိုအပ်သလို ဖြည့်စွက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="term-of-wcc">ညှိနှိုင်းရေးကော်မတီ၏ သက်တမ်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေးဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၄။</td>
        <td>(ခ)</td>
        <td>ညှိနှိုင်းရေးကော်မတီ၏ သက်တမ်းသည် နှစ်နှစ်ဖြစ်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="reporting-wcc-formation-and-members-list">ညှိနှိုင်းရေးကော်မတီဖွဲ့စည်းပြီးကြောင်းနှင့် ကိုယ်စားလှယ်အမည်စာရင်းကို သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး နည်းဥပဒေများ၊ အခန်း (၂)</caption>
    <tr>
        <td colspan="2" style="background-color: lightsteelblue; padding: 0.5rem; border-radius: 3px;" data-pagefind-ignore>၂၀၁၉ တွင် ဥပဒေကို ပြင်ဆင်ပြီးနောက်ပိုင်း ဤနည်းဥပဒေများကို မပြင်ဆင်ရသေးသည်ကို သတိပြုပါ။</td>
    </tr>
    <tr>
        <td>၆။</td>
        <td>အလုပ်သမား ၃၀ ဦးနှင့်အထက် အလုပ်လုပ်ကိုင်နေသော လုပ်ငန်းတစ်ခုတွင် စုပေါင်းသဘောတူညီချက်ကို ညှိနှိုင်းနိုင်ရန် အလုပ်ရှင်သည် ညှိနှီုင်းရေးကော်မတီတစ်ရပ်ကို ဖွဲ့စည်းပြီး ပုံစံ (၁) ဖြင့် ညှိနှိုင်းရေးကော်မတီဝင်များ၏ အမည်စာရင်းကို ပြုစု၍ ၁၄ ရက်အတွင်း သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ ပေးပို့ရမည်။ ညှိနှိုင်းရေးကော်မတီဝင် အမည်စာရင်းပြောင်းလဲမှုရှိသည့်အခါ အထက်ပါအတိုင်း ပြင်ဆင်ပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="">ညှိနှုင်းရေးကော်မတီ၏ ဆောင်ရွက်ရန်ကိစ္စများ<i class="fa-solid fa-link"></i></h3>
<hr class="horizontal-divider-two">
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၅။</td>
        <td>ညှိနှုိင်းရေးကော်မတီသည် အလုပ်ရှင်နှင့် အလုပ်သမား သို့မဟုတ် အလုပ်သမားအဖွဲ့အစည်း အကြားတွင် ဆက်ဆံမှုကောင်းမွန်စေရေး၊ အလုပ်လုပ်ကိုင်မှုအခြေအနေ၊ စည်းကမ်းချက်များ ဆွေးနွေးညှိနှိုင်းရေးနှင့် အလုပ်သမားများ၏ လုပ်ငန်းခွင်ဘေးအန္တရာယ်ကင်းရှင်းရေး၊ ကျန်းမာရေး၊ သက်သာချောင်ချိရေးနှင့် ကုန်ထုတ်လုပ်မှုတိုးတက်ရေးတို့ကို မြှင့်တင်ဆောင်ရွက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="resolve-in-7-days-and-report">တိုင်ကြားချက်ကို ၇ ရက်အတွင်း ဖြေရှင်းပေးရခြင်းနှင့် အစီရင်ခံစားပေးပို့ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၆။</td>
        <td>(က)</td>
        <td>အလုပ်သမား သို့မဟုတ် အလုပ်သမားအဖွဲ့အစည်းဘက်ကဖြစ်စေ၊ အလုပ်ရှင်ဘက်ကဖြစ်စေ ၎င်းတို့၏ နစ်နာချက်ကို ညှိနှိုင်းရေးကော်မတီသို့ ကိုယ်တိုင် သို့မဟုတ် ကိုယ်စားလှယ်ဖြင့် တောင်းဆိုတိုင်ကြားလာပါက ညှိနှိုင်းရေးကော်မတီသည် တောင်းဆိုချက်ကို လက်ခံရရှိသည့် နေ့ရက်မှ ခုနှစ်ရက်အတွင်း ဆွေးနွေးညှိနှိုင်းဖြေရှင်းရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ညှိနှုိင်းရေးကော်မတီသည် ဆောင်ရွက်မှုအခြေအနေကို ဖြေရှင်းမှုမှတ်တမ်း ရေးသားထားရှိ၍ သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ သတ်မှတ်ချက်နှင့်အညီ အစီရင်ခံစာပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="resolving-complaint-in-non-wcc-workplace">အလုပ်သမား ၃၀ ဦးမပြည့်သည့် လုပ်ငန်းတွင် နစ်နာချက်ဖြေရှင်းခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၇။</td>
        <td>အလုပ်သမား ၃၀ ဦးမပြည့်သဖြင့် ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းခြင်းမရှိသည့် လုပ်ငန်းတွင် နစ်နာချက်ကို အလုပ်ရှင်ထံတောင်းဆိုပါက အလုပ်ရှင်သည် အလုပ်သမားများ သို့မဟုတ် ယင်းတို့၏ ကိုယ်စားလှယ်များနှင့် တောင်းဆိုချက်ကို လက်ခံရရှိသည့်နေ့ရက်မှ ခုနှစ်ရက်အတွင်း ဆွေးနွေးညှိနှိုင်းဖြေရှင်းပြီး ဖြေရှင်းမှုမှတ်တမ်း ရေးသားထားရှိ၍ သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့က တောင်းခံသည့်အခါ ယင်းမှတ်တမ်းကို ပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="what-if-the-complaint-is-resolved-or-not">တိုင်ကြားချက်ကို ဆွေးနွေးညှိနှိုင်းဖြေရှင်းရာတွင် ပြေငြိမ်းမှုရလျှင် ဆောင်ရွက်ရန်နှင့် ပြေငြိမ်းမှုမရလျှင် ဆောင်ရွက်ရန်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၉။</td>
        <td colspan="2">ပုဒ်မ ၆ သို့မဟုတ် ပုဒ်မ ၇ တို့အရ ဆွေးနွေးညှိနှိုင်းရာတွင် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ပြေငြိမ်းမှုရရှိပါက အလုပ်ရှင်နှင့် အလုပ်သမားများသည် စုပေါင်းသဘောတူညီချက်ကို ချုပ်ဆိုပြီး သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ မိတ္တူပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပြေငြိမ်းမှုမရရှိပါက အငြင်းပွားမှုနှင့် စပ်လျဥ်း၍ ဖျန်ဖြေရေးကို ဆက်လက်ခံယူလိုပါက အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားသည် သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ တိုင်ကြားနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="if-collective-agreement-is-breached">စုပေါင်းသဘောတူညီချက်ကို လိုက်နာမှုမရှိလျှင် သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ တိုင်ကြားနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၉။</td>
        <td>(ဂ)</td>
        <td>စုပေါင်းသဘောတူညီချက်ကို လိုက်နာမှုမရှိပါက နစ်နာသူသည် သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ တိုင်ကြားနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="term-of-collective-agreement">စုပေါင်းသဘောတူညီချက် သက်တမ်း တစ်နှစ်ဖြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၉။</td>
        <td>(ဃ)</td>
        <td>စုပေါင်းသဘောတူညီချက်၏ သက်တမ်းကာလမှာ တစ်နှစ်ဖြစ်ရမည်။ အဆိုပါ သက်တမ်းကာလအတွင်း သဘောတူညီထားသည့်အချက်နှင့် စပ်လျဥ်း၍ ထပ်မံတောင်းဆိုခြင်းမပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="not-to-undermine-union">အလုပ်သမားအဖွဲ့အစည်းနှင့် ယင်းတို့၏ အနေအထားလျော့ပါးစေရန် မပြုလုပ်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၈။</td>
        <td>လုပ်ငန်းတစ်ခုတည်းတွင် အလုပ်သမားအဖွဲ့အစည်း ကိုယ်စားလှယ်များနှင့် အလုပ်သမားများက ရွေးချယ်ပေးသော ကိုယ်စားလှယ်များ ပူးတွဲရှိနေခဲ့လျှင် သက်ဆိုင်ရာအလုပ်သမားအဖွဲ့အစည်းနှင့် ယင်းတို့၏ အနေအထားလျော့ပါးစေရန် အလုပ်ရှင်သည် သက်ဆိုင်ရာအလုပ်သမားများက ရွေးချယ်ပေးသော ကိုယ်စားလှယ်များကို အသုံးပြု၍ ဆောင်ရွက်ခြင်းမပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="prohibition-of-failure-to-form-wcc-and-punishment">မည်သည့်အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားမျှ ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းရန် မပျက်ကွက်ရခြင်းနှင့် ပြစ်ဒဏ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၈)</caption>
    <tr>
        <td>၃၈-က။</td>
        <td>မည်သည့်အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားမျှ ပုဒ်မ ၃ ပါ ပြဌာန်းချက်နှင့်အညီ ညှိနှိုင်းရေးကော်မတီဖွဲ့စည်းရန် ပျက်ကွက်ခြင်း မရှိစေရ။ ထိုသို့ ဖွဲ့စည်းရန် ပျက်ကွက်ခြင်းကြောင့် သက်ဆိုင်ရာ တရားရုံးမှ ပြစ်မှုထင်ရှားစီရင်သည့်နေ့မှစ၍ ရက်ပေါင်း ၆၀ အတွင်း ဖွဲ့စည်းရန် ထပ်မံပျက်ကွက်ခြင်းမရှိစေရ။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၉)</caption>
    <tr>
        <td>၄၆။</td>
        <td>(ခ)</td>
        <td>မည်သည့်အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားမဆို ပုဒ်မ ၃၈-က ပါ ပြဌာန်းချက်ကို ဖောက်ဖျက်ကျူးလွန်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို အနည်းဆုံး ကျပ်သုံးသိန်းမှ အများဆုံး ကျပ်တစ်ဆယ်သိန်းအထိ ငွေဒဏ်ချမှတ်ရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၄၆-က။</td>
        <td>(ခ)</td>
        <td>ပုဒ်မ ၄၆၊ ပုဒ်မခွဲ (ခ) အရ ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရသူသည် ယင်းပြစ်မှုကို ထပ်မံကျူးလွန်သဖြင့် ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို အနည်းဆုံး ကျပ်တစ်ဆယ်သိန်းမှ အများဆုံး ကျပ်သိန်း ၃၀ အထိ ငွေဒဏ်ချမှတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-closure-or-strike-during-decision-or-agreement-and-punishment">ခုံသမာဓိအဖွဲ့ သို့မဟုတ် ခုံသမာဓိကောင်စီ သို့မဟုတ် စုပေါင်းသဘောတူညီချက်တစ်ခုခု အကျိုးသက်ရောက်မှု ရှိနေစဥ် အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရခြင်းနှင့် ပြစ်ဒဏ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၈)</caption>
    <tr>
        <td>၄၁။</td>
        <td>မည်သူမျှ ခုံသမာဓိအဖွဲ့ သို့မဟုတ် ခုံသမာဓိကောင်စီ၏ ဆုံးဖြတ်ချက် သို့မဟုတ် စုပေါင်းသဘောတူညီချက်တစ်ခုခု အကျိုးသက်ရောက်မှု ရှိစဥ်ကာလအတွင်း အဆိုပါ ဆုံးဖြတ်ချက် သို့မဟုတ် သဘောတူညီချက်ကို ပြန်လည်ပြင်ဆင်ရန် အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရ။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၉)</caption>
    <tr>
        <td>၄၇။</td>
        <td>မည်သူမဆို ပုဒ်မ ၄၀၊ ပုဒ်မ ၄၁ နှင့် ပုဒ်မ ၄၂ တို့ပါ တားမြစ်ချက်တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ကျူးလွန်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို ကျပ်သိန်း ၂၀ အောက် မနည်းသော ငွေဒဏ်ချမှတ်ရမည်။</td>
    </tr>
</table>

&nbsp;
