<div class="block-one">
    <div class="inner-width">
        <div class="svg-container">
            <iframe src="/svg/gnu-logo.svg" frameborder="0" width="90" height="90"></iframe>
            <iframe src="/svg/archlinux-logo.svg" frameborder="0" width="90" height="90"></iframe>
            <iframe src="/svg/linux-logo.svg" frameborder="0" width="90" height="90"></iframe>
        </div>
        <div class="svg-container">
            <iframe src="/svg/labor-law.svg" frameborder="0" width="90" height="90"></iframe>
            <iframe src="/svg/legal-hammer.svg" frameborder="0" width="90" height="90"></iframe>
            <iframe src="/svg/factory.svg" frameborder="0" width="90" height="90"></iframe>
        </div>
    </div>
    <div class="inner-width">
        <iframe src="/svg/consulting.svg" frameborder="0" width="270" height="270"></iframe>
    </div>
</div>