<div class="block-two">
    <div class="inner-width">
        <div class="post-blocks">
            {{ $pages := (site.RegularPages.ByWeight).ByDate.Reverse }}
            {{ $paginator := .Paginate $pages 9 }}
            {{ range $paginator.Pages }}
            <article>
                <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                <summary>
                    {{ .Summary | truncate 180 }}
                </summary>
                <div class="time-readmore">
                    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                    {{ $dateHuman := .Date | time.Format ":date_long" }}
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    <div><a href="{{ .RelPermalink }}" class="read-more">READ MORE</a></div>
                </div>
            </article>
            {{ end }}
        </div>
        <div class="pagination-wrapper">
            {{ partial "pagination.html" . }}
        </div>
    </div>
</div>