<div class="aside-sidebar">
    {{ if .IsPage }}
        <div class="section-info">
            <h2><a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.LinkTitle }}</a></h2>
            {{ range first 9 (where .Site.RegularPages "Section" .Section ) }}
            <a href="{{ .RelPermalink }}">{{ .Title | truncate 30 }}</a>
            {{ end }}
            <a href="{{ .CurrentSection.RelPermalink }}">MORE</a>
        </div>
    {{ else }}
        <div class="section-info">
            <h2>{{ .Kind | humanize }}</h2>
        </div>
    {{ end }}
    <div class="categories">
        <h3><a href="/categories/">Categories</a></h3>
        {{ range first 6 (sort .Site.Taxonomies.categories "Count" "desc") }}
        <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }} ({{ .Count }})</a>
        {{ end }}
        <a href="/categories">MORE</a>
    </div>
    <div class="tags">
        <h3><a href="/tags/">Tags</a></h3>
        {{ range first 6 (sort .Site.Taxonomies.tags "Count" "desc") }}
        <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }} ({{ .Count }})</a>
        {{ end }}
        <a href="/tags/">MORE</a>
    </div>
    <div class="latest-posts">
        <h3>Latest Posts</h3>
        {{ range first 9 (where .Site.RegularPages "Section" "!=" .Section) }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </div>
</div>