<div class="categories-tags-container">
    <div class="categories">
        {{ with .GetTerms "categories" }}
        <span>Categories&ensp;</span>
            {{ range . }}
            <span>&ensp;&bull;&hairsp;</span>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        {{ end }}
    </div>
    <div class="tags">
        {{ with .GetTerms "tags" }}
        <span>Tags&ensp;</span>
            {{ range . }}
            <span>&ensp;&bull;&hairsp;</span>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>