<div class="row-one">
    <div class="menu-title-search">
        <span class="material-symbols-outlined" id="mobile-menu-button">menu</span>
        <div><a href="/" class="site-title">{{ site.Title }}</a></div>
        <a href="/search" class="main-search-icon"><span class="material-symbols-outlined">search</span></a>
    </div>
</div>
<div class="row-two">
    <div class="navbar-wrapper">
        <div class="left-box">
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        <div class="right-box">
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-solid fa-code"></i></a>
            <div><span class="material-symbols-outlined">email</span>&ensp;minsoehan243@gmail.com</div>
            <div><span class="material-symbols-outlined">phone</span>&ensp;+95 9 25 731 3341</div>
        </div>
    </div>
</div>
<span class="material-symbols-outlined" id="scrollup">keyboard_arrow_up</span>