<title>
  {{ if .IsHome }}
  {{ site.Title }}
  {{ else }}
  {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>

<meta name="google-site-verification" content="PhKIgpNC_MxEJCWBTRs6JbCJHZsBVNktT2BEmXVFp5w" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

<link rel="stylesheet" href="/fonts/material-symbols/outlined.css">
<link rel="stylesheet" href="/fonts/material-symbols/rounded.css">
<link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome.css">
<link rel="stylesheet" href="/fonts/fontawesome/css/brands.css">
<link rel="stylesheet" href="/fonts/fontawesome/css/solid.css">
{{ partialCached "head/base.html" . }}
{{ partialCached "head/header.html" . }}
{{ partialCached "head/footer.html" . }}
{{ if .IsHome }}
{{ partialCached "head/home.html" . }}
{{ else if .IsSection }}
{{ partialCached "head/section.html" . }}
{{ if eq .Params.section.add "search" }}
{{ partialCached "head/search.html" . }}
{{ end }}
{{ else if .IsPage }}
{{ partialCached "head/page.html" . }}
{{ else if eq .Kind "taxonomy" }}
{{ partialCached "head/taxonomy.html" . }}
{{ else if eq .Kind "term" }}
{{ partialCached "head/term.html" . }}
{{ end }}