/* aside css */
aside {
    padding: 2rem 0;
}
aside .material-symbols-outlined {
    vertical-align: middle;
}
.aside-sidebar > div {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--line-three);
}
aside a {
    color: var(--main-fg);
    font-weight: normal;
    display: block;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    aside a {
        display: inline-block;
        width: initial;
        margin-right: 2rem;
    }
}