/* footer css */
footer {
    background-color: var(--main-bg);
    color: var(--main-fg);
}
footer div.wrapper {
    width: var(--m-width);
    margin: auto;
    padding: 2rem 0 6rem 0;
    border-top: 1px solid var(--line-two);
}
footer div.wrapper .left-box a {
    font-family: var(--cusfont-one);
    font-size: 2rem;
    color: var(--navbar-bg);
    font-weight: 700;
}
footer div.wrapper .right-box p {
    text-align: right;
    margin-top: 3rem;
}
@media screen and (max-width: 1200px) {
    footer div.wrapper {
        width: 100%;
        padding: 2rem;
    }
}