/* page css */
main .page {
    width: var(--m-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .page article {
    flex: 0 0 65%;
    min-width: 0; /* important for preventing overgrow of article width */
}
main .page aside {
    flex: 0 0 30%;
    min-width: 0;
}
main .page.wide article {
    flex: 0 0 100%;
}
main .page.wide aside {
    display: none;
}
main .page #expand-right-onoff {
    font-size: 2rem;
    color: var(--line-one);
    float: right;
    cursor: pointer;
}
main .page #expand-right-onoff:hover {
    color: #111111;
}
main .page time {
    display: block;
    font-size: small;
    color: var(--line-one);
    margin-bottom: 1rem;
}
main .page .categories-tags-container {
    margin: 3rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--line-three);
}
@media screen and (max-width: 1200px) {
    main .page {
        width: 100%;
        max-width: 100%;
        padding: 0 1.5rem 0 1rem;
    }
    main .page article {
        flex: 0 0 100%;
        min-width: 0;
        max-height: initial;
    }
    main .page article #expand-right-onoff {
        display: none;
    }
    main .page aside {
        flex: 0 0 100%;
        min-width: 0;
    }
}