main .section {
    width: var(--m-width);
    margin: auto;
}
.section article {
    border: var(--bor-one);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.section div.time-readmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section div.time-readmore time {
    font-size: small;
    color: var(--line-one);
}
.section div.time-readmore a.read-more {
    font-size: smaller;
    font-weight: 600;
}
.section div.time-readmore time::before {
    content: 'Date: ';
}
@media screen and (max-width: 1200px) {
    main .section {
        width: 100%;
        max-width: 100%;
        padding: 0 1.5rem 0 1rem;
    }
}