/* page css */
main .taxonomy {
    width: var(--m-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .taxonomy section {
    flex: 0 0 65%;
    min-width: 0; /* important for preventing overgrow of section width */
    max-height: 90vh;
    overflow: auto;
    scrollbar-width: none;
}
main .taxonomy section::-webkit-scrollbar {
    display: none;
}
main .taxonomy aside {
    flex: 0 0 30%;
    min-width: 0;
}
@media screen and (max-width: 1200px) {
    main .taxonomy {
        width: 100%;
        max-width: 100%;
        padding: 0 1.5rem 0 1rem;
    }
    main .taxonomy section {
        flex: 0 0 100%;
        min-width: 0;
        max-height: initial;
    }
    main .taxonomy aside {
        flex: 0 0 100%;
        min-width: 0;
    }
}