/* Dancing Script Google Webfont */
@font-face {
    font-display: swap;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/dancing-script/dancing-script-v28-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/dancing-script/dancing-script-v28-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/dancing-script/dancing-script-v28-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/dancing-script/dancing-script-v28-latin-700.woff2') format('woff2');
}
/* Variables */
:root {
    --main-bg: #f0f0f0;
    --navbar-bg: #222255;
    --main-fg: #333333;
    --cusfont-one: 'Dancing Script';
    --m-width: 1200px;
    --bor-one: 1px solid #888888;
    --bor-two: 1px solid #aaaaaa;
    --bor-three: 1px solid #dddddd;
    --line-one: #888888;
    --line-two: #aaaaaa;
    --line-three: #dddddd;
    --line-four: #223366;
    --link-one: #111166;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: var(--main-bg);
    min-height: 100vh;
    font-size: 1.2rem;
    line-height: 1.8;
}
main h1, main h2, main h3, main h4, main p, main table {
    margin-bottom: 1rem;
}
main ul, main ol {
    padding-left: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: var(--link-one);
}
div.highlight {
    margin-bottom: 1rem;
}
div.highlight pre {
    padding: 0.5rem;
    overflow-x: auto;
}
code.inline-code {
    font-size: 1rem;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
hr.horizontal-divider-one {
    border: none;
    border-top: 1px solid var(--line-three);
    margin-bottom: 1rem;
}
hr.horizontal-divider-two {
    border: none;
    border-top: 1px solid var(--line-two);
    margin-bottom: 1rem;
}
p.legal-reference {
    font-size: 1rem;
}
table.list {
    width: 100%;
}
table.list tr td:not(:last-child) {
    width: 0;
    white-space: nowrap;
}
table.list tr td {
    vertical-align: top;
}
table.list tr td:not(:first-child) {
    padding-left: 0.5rem;
}
main i.fa-solid.fa-link {
    color: var(--line-three);
    margin-left: 0.5rem;
    cursor: pointer;
}
main h1, main h2, main h3, main h4, main p, main table.list tr td {
    scroll-margin-top: 6rem;
}
table.list caption,
table.list td.title {
    font-weight: 600;
    text-align: left;
}
/* hover only for desktop */
@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--line-one);
    }
    i.fa-solid.fa-link:hover {
        color: var(--line-one);
    }
}