header span.material-symbols-outlined {
    vertical-align: middle;
}
header a {
    color: var(--main-bg);
}
header .row-one {
    background-color: var(--main-bg);
    padding: 0.5rem 0;
}
header .menu-title-search {
    width: var(--m-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-menu-button {
    display: none;
}
header a.site-title {
    font-family: var(--cusfont-one);
    color: var(--navbar-bg);
    font-size: 2rem;
    font-weight: 700;
}
header a.main-search-icon {
    color: var(--main-fg);
    display: block;
    padding: 3px 1rem;
    border: var(--bor-two);
    border-radius: 6px;
    cursor: pointer;
}

header .row-two {
    background-color: var(--navbar-bg);
    color: var(--main-bg);
    z-index: 9;
    transition: all 0.3s ease;
}
header .row-two.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}
header .navbar-wrapper {
    width: var(--m-width);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    padding: 1rem 0;
}
nav ul.main-menu-parents {
    display: flex;
    gap: 2rem;
}
nav ul.main-menu-parents > li {
    display: inline-block;
}
nav ul.main-menu-parents > li > a {
    font-size: larger;
}
nav ul.main-menu-parents i.has-children-indicator {
    font-size: 9px;
    margin-left: 6px;
    vertical-align: middle;
}
nav ul.main-menu-children {
    display: none;
    position: absolute;
    background-color: var(--navbar-bg);
    padding: 1rem 0;
    z-index: 9;
}
nav ul.main-menu-children > li {
    display: block;
}
nav ul.main-menu-children > li > a {
    display: block;
    padding: 1rem;
}

nav ul.main-menu-parents .toggle-child-menu {
    display: none;
}
.navbar-wrapper .right-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
header i.fa-github,
header i.fa-code {
    color: var(--main-bg);
    vertical-align: middle;
}
header #scrollup {
    display: none;
    font-size: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    padding: 1rem 0.5rem;
    background-color: var(--line-two);
    color: var(--main-fg);
    border-radius: 20%;
    opacity: 50%;
    cursor: pointer;
}
/* hover only on desktop */
@media (hover: hover) and (pointer: fine) {
    header #scrollup:hover {
        opacity: 100%;
    }
    header a.main-search-icon:hover {
        background-color: var(--line-two);
    }
    nav ul.main-menu-parents > li > a:hover,
    nav ul.main-menu-children > li > a:hover {
        color: var(--line-two);
    }
}
/* Mobile Screen */
@media screen and (max-width: 1200px) {
    #mobile-menu-button {
        display: block;
        color: var(--main-bg);
        padding: 3px;
        border: var(--bor-two);
        border-radius: 3px;
    }
    header a.site-title {
        color: var(--main-bg);
    }
    header a.main-search-icon {
        color: var(--main-bg);
    }
    header .row-one {
        background-color: var(--navbar-bg);
    }
    div.menu-title-search {
        width: 90%;
        align-items: center;
        margin: initial;
        margin-left: 1rem;
    }
    header .row-two {
        display: none;
    }
    header div.navbar-wrapper,
    header div.left-box {
        width: 100%;
        max-width: 100%;
    }
    nav ul.main-menu-parents {
        display: block;
    }
    nav ul.main-menu-parents > li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--line-four);
    }
    nav ul.main-menu-parents i.has-children-indicator {
        display: none;
    }
    nav ul.main-menu-parents > li > a {
        display: block;
        padding: 1rem;
        width: 85%;
    }
    nav ul.main-menu-parents span.toggle-child-menu {
        display: block;
        padding: 0.5rem;
        border: 1px solid var(--line-four);
        border-radius: 3px;
        margin-right: 1rem;
    }
    nav ul.main-menu-children {
        position: initial;
        width: 100%;
    }
    nav ul.main-menu-children li a {
        display: block;
        width: 100%;
    }
    .navbar-wrapper .right-box {
        padding: 2rem 1rem;
    }
}