.home .block-one .inner-width,
.home .block-two .inner-width {
    width: var(--m-width);
    margin: auto;
}
.home .block-one .inner-width {
    display: flex;
    flex-wrap: wrap;
}
.home .block-one .inner-width .svg-container {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0 1rem 0;
    border-bottom: 1px solid var(--line-two);
}
.home .block-two .post-blocks article {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--line-four);
}
.home div.time-readmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home div.time-readmore time {
    font-size: small;
    color: var(--line-one);
}
.home div.time-readmore a.read-more {
    font-size: smaller;
    font-weight: 600;
}
.home div.time-readmore time::before {
    content: 'Date: ';
}

@media screen and (max-width: 1200px) {
    .home .block-one .inner-width,
    .home .block-two .inner-width {
        width: 100%;
        padding: 0 2rem 0 1.5rem;
    }
    .home .block-one .inner-width .svg-container {
        flex: 0 0 100%;
    }
}