div.pagination-wrapper {
    border: var(--bor-three);
    border-radius: 6px;
    padding: 0 6px;
}
ul.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.pagination li {
    display: inline-block;
}
ul.pagination li a {
    padding: 3px 9px;
    background-color: var(--line-two);
    border-radius: 3px;
}
ul.pagination li.page-item.active a,
ul.pagination li.page-item.disabled a {
    background-color: var(--line-three);
    color: var(--line-two);
}