/* page css */
main .term {
    width: var(--m-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .term section {
    flex: 0 0 65%;
    min-width: 0; /* important for preventing overgrow of section width */
    max-height: 90vh;
    overflow: auto;
    scrollbar-width: none;
}
main .term section article {
    border-bottom: 1px solid var(--line-two);
    margin-bottom: 1rem;
}
main .term section::-webkit-scrollbar {
    display: none;
}
main .term aside {
    flex: 0 0 30%;
    min-width: 0;
}
main .term time {
    display: block;
    font-size: small;
    color: var(--line-one);
    margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
    main .term {
        width: 100%;
        max-width: 100%;
        padding: 0 1.5rem 0 1rem;
    }
    main .term section {
        flex: 0 0 100%;
        min-width: 0;
        max-height: initial;
    }
    main .term aside {
        flex: 0 0 100%;
        min-width: 0;
    }
}