<h2>စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာနများမှ အလုပ်သမားများ လိုက်နာရမည့် စည်းကမ်းများ</h2>
<h3>နောက်ဆက်တွဲ (က)</h3>
<p>အလုပ်သမားတစ်ဦးသည် အောက်ပါ သာမန်စည်းကမ်းချက်များမှ တစ်ခုခုကို လိုက်နာရန် လုပ်ဆောင်ရန် ပျက်ကွက်ခြင်း၊ ကျူးလွန်ခြင်း ထင်ရှားပါက ပထမအကြိမ် စာဖြင့်သတိပေးခြင်း၊ ဒုတိယအကြိမ်စာဖြင့် သတိပေးခြင်း၊ တတိယအကြိမ် ဝန်ခံကတိလက်မှတ်ထိုးစေလျှက် ပြင်းထန်စွာ သတိပေးပြီးနောက် ထပ်မံကျူးလွန်ပါက နစ်နာကြေးမပေးဘဲ အလုပ်မှရပ်စဲသည်အထိ အပြစ်ပေးခြင်းခံရမည်ဖြစ်သည်။</p>

<table class="list">
    <tr>
        <td>(၁)</td>
        <td>စက်ရုံမှ သတ်မှတ်ထားသော အလုပ်ချိန်နှင့်အညီ အချိန်မှန်စွာ အလုပ်တက်ခြင်း၊ ဆင်းခြင်း ပြုရမည်။ အလုပ်ခွင်သို့ ရောက်ရှိပြီးပါက ပြင်ပသို့ ထွက်ခွာခြင်းမပြုရ။ စက်ရုံပြင်ပသို့ ထွက်ခွာလိုပါက တာဝန်ရှိသူအဆင့်ဆင့်၏ ခွင့်ပြုချက်ရယူပြီးမှသာ Gate Pass ဖြင့် ထွက်ရမည်။ သတ်မှတ်ထားသော အလုပ်ချိန်ထက် နောက်ကျခြင်း၊ စော၍ပြန်ခြင်းများ မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂)</td>
        <td>အလုပ်တက်/ဆင်း လက်မှတ်ရေးထိုးခြင်းနှင့် အလုပ်တက်/ဆင်း မှတ်တမ်းအဖြစ် အသုံးပြုသည့် စက်ပစ္စည်းကိရိယာကို ကိုယ်တိုင်လုပ်ဆောင်ရမည်။ လက်မှတ်ကြိုထိုးခြင်း၊ ကိုယ်စားထိုးပေးခြင်း၊ လိမ်လည်လက်မှတ်ရေးထိုးခြင်း၊ ပြင်ဆင်ခြင်း၊ ဖြည့်စွက်ခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၃)</td>
        <td>စက်ရုံ၏ ဝန်ထမ်းဖြစ်ကြောင်း သိသာထင်ရှားစေရန် ဝန်ထမ်းကဒ်ကို အလုပ်ချိန်အတွင်း အမြဲတမ်းချိတ်ဆွဲထားရန်နှင့် တူညီဝတ်စုံ (Uniform) အား သတ်မှတ်ပေးထားပါက စနစ်တကျဝတ်ဆင်ရမည်။</td>
    </tr>
    <tr>
        <td>(၄)</td>
        <td>လုပ်ငန်းနှင့်ပတ်သက်၍ ဌာနအကြီးအကဲတာဝန်ခံများက ပေးအပ်သည့် ညွှန်ကြားချက်ကို တိကျသေချာစွာ လိုက်နာဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td>(၅)</td>
        <td>သက်ဆိုင်ရာတာဝန်ရှိသူများမှ အဆင့်အလိုက် သတ်မှတ်ထားသည့် လုပ်ငန်းတာဝန်များကို ကျေပွန်အောင် ဆောင်ရွက်ရန်နှင့် အလုပ်ချိန်အတွင်း ပြီးစီးအောင် ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td>(၆)</td>
        <td>သတ်မှတ်ထားသည့် စံချိန်စံညွှန်းများနှင့်အညီ အရည်အသွေးနှင့် အရေအတွက် စံနှုန်း (Target) ကို ပြည့်မီအောင် ထုတ်လုပ်နိုင်စွမ်းရှိရမည်။</td>
    </tr>
    <tr>
        <td>(၇)</td>
        <td>ကုန်ကြမ်းပစ္စည်းများ ပြတ်တောက်ခြင်းနှင့် စက်ရုံဘက်မှ အလုပ်မပေးနိုင်ခြင်းတို့မှအပ စက်ရုံလုပ်ငန်းဌာနခွဲအလိုက် နေ့စဥ်သတ်မှတ်ပေးထားသည့်စံနှုန်း (Target) ကို သတ်မှတ်ထားသောကာလအတွင်း ပြည့်မီအောင် ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td>(၈)</td>
        <td>အလုပ်တာဝန်ပြီးဆုံးချိန်တွင် မိမိ၏လုပ်ငန်းနေရာ သန့်ရှင်းရေးကို ကောင်းမွန်အောင် ပြုလုပ်ရမည်။ လုပ်ငန်းသုံးပစ္စည်းများကို စနစ်တကျ သပ်ရပ်စွာသိမ်းဆည်းထားသိုရမည်။ မိမိ ကိုင်တွယ်မောင်းနှင်ခဲ့သော စက်အား သန့်ရှင်းရေးပြုလုပ်ခဲ့ရမည်။ မလိုအပ်သည့် မီးခလုပ်များ ပိတ်ထားရမည်။</td>
    </tr>
    <tr>
        <td>(၉)</td>
        <td>စက်ရုံပိုင်ပစ္စည်းများကို မိမိကိုယ်ကျိုးအတွက် အသုံးမပြုရ။</td>
    </tr>
    <tr>
        <td>(၁၀)</td>
        <td>လုပ်ငန်း/ရုံနှင့် မသက်ဆိုင်သော ပြင်ပပစ္စည်းများအား ယူဆောင်လာခြင်း၊ ပြင်ဆင်ခြင်း၊ အသုံးပြုခြင်း၊ ရောင်းချခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td>(၁၁)</td>
        <td>လုပ်ငန်းမှ ထုတ်ပေးထားသည့် ပစ္စည်းများအား အလုပ်မှနှုတ်ထွက်သည့်နှင့် အလုပ်မှထုတ်ပယ်ခြင်း ခံရသည့်အခါ သက်ဆိုင်ရာဌာနသို့ စနစ်တကျ ပြန်လည်အပ်နှံရမည်။ ပြန်လည်အပ်နှံခြင်းမရှိပါက ၎င်းပစ္စည်း၏ တန်ဖိုးနှင့်ညီမျှသော ငွေကြေးကို ပေးလျော်ရမည်။</td>
    </tr>
    <tr>
        <td>(၁၂)</td>
        <td>တာဝန်ရှိသူများနှင့် ဝန်ထမ်းအချင်းချင်းအား မရိုမသေမလေးမစားပြုခြင်း၊ မထီမဲ့မြင်ပြုခြင်းကို ရှောင်ကြဥ်ရမည်။ ဝန်ထမ်းအချင်းချင်း အရှက်ရစေရန်၊ သိက္ခာပျက်ယွင်းစေရန် ရည်ရွယ်ချက်ဖြင့် နောက်ပြောင်ခြင်း၊ အော်ဟစ်ဆူညံခြင်း၊ အပြောအဆိုအပြုအမူ ရိုင်းစိုင်းကြမ်းတမ်းခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၁၃)</td>
        <td>ဝန်ထမ်းအချင်းချင်း စည်းလုံးညီညွတ်မှုကို ထိန်းသိမ်းကြရမည်။</td>
    </tr>
    <tr>
        <td>(၁၄)</td>
        <td>အလုပ်ခွင်အတွင်း၌ လုပ်ငန်းထိခိုက်အောင် ဝန်ထမ်းအချင်းချင်း ခြိမ်းခြောက်ခြင်း၊ အနိုင်ကျင့်ခြင်း၊ ကိုယ်ထိလက်ရောက်ကျူးလွန်ခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၁၅)</td>
        <td>မိမိတာဝန်ကျသည့်နေရာမှ အကြောင်းမဲ့ကင်းကွာခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၁၆)</td>
        <td>မိမိတာဝန်ကျချိန်မှအပ သက်ဆိုင်ရာ၏ ခွင့်ပြုချက်မရှိဘဲ စက်ရုံ (သို့မဟုတ်) စက်ရုံဝင်းအတွင်း ဝင်/ထွက် သွားလာခြင်း၊ ဝင်ရောက်နေထိုင်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td>(၁၇)</td>
        <td>စက်ရုံမှ တားမြစ်ထားသည့်နေရာများကို ခွင့်ပြုချက်မရှိဘဲ ဝင်ရောက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td>(၁၈)</td>
        <td>စက်ရုံဝင်းနှင့် အဆောက်အအုံအတွင်းသို့ ကျော်တက်ဝင်ထွက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td>(၁၉)</td>
        <td>စက်ရုံအဆောက်အအုံ၊ နံရံ၊ တံခါး၊ ပြတင်းပေါက်၊ ပစ္စည်းကိရိယာ၊ အသုံးအဆောင်များပေါ်တွင် အရုပ်များ၊ စာများ၊ ရုပ်ပြောင်(ကာတွန်း)များ ရေးဆွဲခြင်း၊ ကြော်ငြာခြင်း၊ ညစ်ပတ်ပေကျံအောင် ပြုလုပ်ခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၀)</td>
        <td>မိမိ၏ စားစရာများ၊ ထမင်းချိုင့်များကို သတ်မှတ်ထားသောနေရာတွင် ထားရမည်။ လုပ်ငန်းခွင့်နှင့် ပတ်ဝန်းကျင်သန့်ရှင်းမှုကို အထူးဂရုစိုက်ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td>(၂၁)</td>
        <td>သန့်စင်ခန်းများကို စည်းကမ်းတကျ သန့်ရှင်းစင်ကြယ်စွာ အသုံးပြုရမည်။ ရေငုတ်တိုင်းများ၊ လက်ဆေးကန်များ၊ ရေပိုက်ခေါင်းများကို စနစ်တကျ ဖွင့်ပိတ်ရမည်။</td>
    </tr>
    <tr>
        <td>(၂၂)</td>
        <td>အလုပ်ချိန်အတွင်း လုပ်ငန်းနှင့်မသက်ဆိုင်သော ဧည့်သည်များကို လက်ခံတွေ့ဆုံခြင်း၊ ခွင့်ပြုချက်မရဘဲ ပြင်ပလူများအား ခေါ်ဆောင်လာခြင်း (သို့) လက်ခံထားခြင်းမပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၃)</td>
        <td>အလုပ်ချိန်အတွင်း အိပ်ငိုက်ခြင်း၊ လဲလျောင်းခြင်း၊ အိပ်စက်ခြင်း၊ ထမင်းစားခြင်း၊ မုန့်စားခြင်း၊ ကစားခြင်း၊ အလုပ်မလုပ်ဘဲ ထိုင်နေခြင်း၊ ဖုန်းပြောခြင်း၊ ဖုန်းဆော့ခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၄)</td>
        <td>လုပ်ငန်းခွင်အတွင်း ကွမ်းစားခြင်း၊ ကွမ်းတံတွေးထွေးခြင်း၊ ပီကေစားခြင်း လုံးဝ မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၅)</td>
        <td>အလုပ်ချိန်အတွင်းတွင် ခွင့်ပြုချက်မရဘဲ ငွေကြေးနှင့်ပတ်သက်သောကိစ္စများ ဆောင်ရွက်ခြင်းမပြုရ။ (ဥပမာအားဖြင့် အလှူခံခြင်း၊ ရန်ပုံငွေလက်မှတ်များ ရောင်းချခြင်း၊ ငွေချေးခြင်း၊ အတိုးပေးခြင်း၊ လစာလွှဲပြောင်းခြင်း။)</td>
    </tr>
    <tr>
        <td>(၂၆)</td>
        <td>အလုပ်ချိန်အတွင်း လုပ်ငန်းနှင့်မသက်ဆိုင်သည့် ကိစ္စရပ်များ လုံးဝမပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၇)</td>
        <td>ကြော်ငြာသင်ပုန်းတွင် ကပ်ထားသော အမိန့်၊ ကြော်ငြာစာရွက်များကို တမင်သက်သက်ဖျက်ဆီးခြင်း၊ ထပ်မံရေးခြစ်ပုံပျက်စေခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၈)</td>
        <td>လုပ်ငန်းဘေးအန္တရာယ် ကင်းရှင်းရေးဆိုင်ရာ စည်းကမ်းချက်များကို အလေးထားလိုက်နာရမည်။ ကိရိယာ တန်ဆာပလာများကို ခွင့်ပြုချက်မရှိဘဲသုံးစွဲခြင်း၊ ပျက်စီးအောင်ပြုလုပ်ခြင်း၊ ဖျက်ဆီးခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၂၉)</td>
        <td>လုပ်ငန်းခွင်အတွင်း သက်ဆိုင်ရာခွင့်ပြုချက်မရှိဘဲ စာရွက်စာတမ်းများ ဖြန့်ဝေခြင်း (သို့မဟုတ်) ရောင်းချခြင်း မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၃၀)</td>
        <td>ကုမ္ပဏီ/စက်ရုံ၏ ဂုဏ်သိက္ခာကျဆင်းစေရန် ပြုမူပြောဆိုခြင်း၊ စည်းရုံးလှုံ့ဆော်ခြင်းများ (လုံးဝ) မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၃၁)</td>
        <td>တာဝန်အရ စစ်ဆေးခြင်းအပေါ် ငြင်းပယ်ခြင်း၊ မချေမငံ ပြုမူပြောဆိုဆက်ဆံခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td>(၃၂)</td>
        <td>စက်ရုံမှ အခါအားလျော်စွာ လိုအပ်ချက်အရ ထုတ်ပြန်သော ဒေသန္တရာအမိန့်နှင့် ညွှန်ကြားချက်များကို လိုက်နာရမည်။<br>(လိုအပ်လျှင် ဌာနတစ်ခုမှ တစ်ခုသို့ လုပ်ကိုင်ပေးရမည်။)</td>
    </tr>
    <tr>
        <td>(၃၃)</td>
        <td>ရည်ရွယ်ချက်ဖြင့် တမင်လုပ်ငန်းကျဆင်းစေရန် စွမ်းဆောင်ရည် လျှော့ချခြင်းမပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td>(၃၄)</td>
        <td>အလုပ်သမားသည် တမင်ရည်ရွယ်၍ ထုတ်ကုန်ပစ္စည်းများ ဖျက်ဆီးခြင်း၊ အမျိုးအစားလွဲမှား၍ ထုတ်ပိုးခြင်းများ မဖြစ်စေရ။ ဖြစ်ပါက ကုမ္ပဏီ၏ အမည်နှင့် ဂုဏ်သတင်းထိခိုက်မှု အခြေအနေအပေါ်မူတည်၍ ပစ္စည်းတန်ဖိုးကို ပေးလျော်ရမည်။</td>
    </tr>
    <tr>
        <td>(၃၅)</td>
        <td>လုပ်ငန်းခွင်အတွင်း လုပ်ငန်းခွင်သာယာ အေးချမ်းရေးကိုသော်လည်းကောင်း၊ ကုန်ထုတ်လုပ်မှု တိုးတက်ရေးကိုသော်လည်းကောင်း ထိခိုက်စေမည့် တရားမဝင်အဖွဲ့အစည်းများ ဖွဲ့စည်းခြင်း၊ ဖွဲ့စည်းရန် လှုံ့ဆော်ခြင်း၊ လှုပ်ရှားဆောင်ရွက်ခြင်း၊ ဝန်ထမ်းများ အလုပ်မဆင်းရန် နှိုးဆော်ခြင်းများ မပြုလုပ်ရ။</td>
    </tr>
</table>

<h3>နောက်ဆက်တွဲ (ခ)</h3>
<p>အလုပ်သမားတစ်ဦးသည် အောက်ဖော်ပြပါ ကြီးလေးသော ပြစ်မှုတစ်ခုခုကို ကျူးလွန်ကြောင်းထင်ရှားလျှင် အလုပ်မှရပ်စဲသည်အထိ အပြစ်ပေးခံရမည့်အပြင် မည်သည့် နစ်နာကြေး၊ အကျိုးခံစားခွင့်မျှ ရမည်မဟုတ်ပါ။</p>

<table class="list">
    <tr>
        <td>(၁)</td>
        <td>ခိုးမှုကျူးလွန်ခြင်း၊ ခိုးရာပါပစ္စည်း လက်ခံထားခြင်း၊ အလွဲသုံးစားပြုလုပ်ခြင်း၊ အလွဲသုံးစားပြုလုပ်ရာတွင် ပါဝင်ကူညီခြင်း။</td>
    </tr>
    <tr>
        <td>(၂)</td>
        <td>စက်ရုံ၊ ကုမ္ပဏီ လုပ်ငန်းပိုင် ပစ္စည်းတစ်ခုခုကို တမင်သက်သက်ဖျက်ဆီးခြင်း၊ ပျက်စီးစေခြင်း၊ ဆုံးရှုံးစေခြင်း။</td>
    </tr>
    <tr>
        <td>(၃)</td>
        <td>လုပ်ငန်းခွင်အတွင်း ဝန်ထမ်းအချင်းချင်း ကိုယ်ထိလက်ရောက် ခိုက်ရန်ဖြစ်ပွားခြင်း၊ ရုန်းရင်းဆန်ခတ်ဖြစ်ခြင်း၊ တစ်စုံတစ်ဦးအား အပြင်းအထန် နာကျင်စေမှု ဖြစ်စေရန် ကိုယ်ထိလက်ရောက်ကျူးလွန်ခြင်း၊ စကားများ ရန်ဖြစ် ရိုက်နှက်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၄)</td>
        <td>အကျင့်စာရိတ္တပျက်ပြားမှုနှင့် စပ်လျဥ်းသည့် ရာဇဝတ်မှု ကျူးလွန်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၅)</td>
        <td>မရိုးသားမှု၊ လိမ်လည်မှု၊ လာဘ်ပေး လာဘ်ယူမှု ပြုလုပ်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၆)</td>
        <td>လုပ်ငန်းခွင်အတွင်း အရက်သေစာယူဆောင်လာခြင်း၊ သောက်စားမူယစ်ခြင်း၊ ရောင်းဝယ်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၇)</td>
        <td>လုပ်ငန်းခွင်၌ လောင်းကစားမှု ကျူးလွန်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၈)</td>
        <td>မူးယစ်ဆေးဝါးကို လက်ဝယ်ထားရှိခြင်း၊ ဖြန့်ဖြူးခြင်း၊ ရောင်းဝယ်ခြင်းနှင့် ကိုယ်တိုင်သုံးစွဲခြင်း၊ လုပ်ငန်းခွင်အတွင်း ဆေးလိပ်သောက်ခြင်း၊ မီးကိုအသုံးပြုခြင်း။</td>
    </tr>
    <tr>
        <td>(၉)</td>
        <td>လုပ်ငန်းခွင်အတွင်းသို့ လက်နက်ဥပဒေအရ ကိုင်ဆောင်ရန်တားမြစ်ထားသော လက်နက် (သို့) ပေါက်ကွဲစေတတ်သည့် ခဲယမ်းနှင့် ပစ္စည်းများ ယူဆောင်လာခြင်း။</td>
    </tr>
    <tr>
        <td>(၁၀)</td>
        <td>စက်ရုံ၏ ပေါက်ကွဲမီးလောင်နိုင်သည့်နေရာနှင့် အလုပ်ခွင်အတွင်း တားမြစ်ထားသောနေရာများသို့ ခွင့်ပြုချက်မရှိဘဲ သွားလာခြင်း။</td>
    </tr>
    <tr>
        <td>(၁၁)</td>
        <td>မိမိကုမ္ပဏီ၏ အထူးလျှို့ဝှက်ထားရမည့် သတင်းအချက်အလက်များ၊ စာရင်းဇယားများ၊ (formula) များ၊ နည်းပညာရပ်ဆိုင်ရာ ထုတ်လုပ်မှုလုပ်ငန်းများစသည့် အရေးကြီးကိစ္စများကို အခြားတစ်နေရာသို့ ပေါက်ကြားစေခြင်း၊ သတင်းပေးမှုများ ပြုလုပ်ခြင်း၊ ခွင့်ပြုချက်မရဘဲ တယ်လီဖုန်း၊ ကင်မရာတို့ဖြင့် ဓါတ်ပုံရိုက်ခြင်း။</td>
    </tr>
    <tr>
        <td>(၁၂)</td>
        <td>ပြစ်မှုဆိုင်ရာ ဥပဒေတစ်ရပ်အရ ဖမ်းဆီးခံရခြင်း၊ တရားစွဲခံရပြီး ပြစ်ဒဏ်စီရင်ခံရခြင်း။</td>
    </tr>
    <tr>
        <td>(၁၃)</td>
        <td>သက်ဆိုင်ရာ အကြီးအကဲတာဝန်ခံများ၏ ခွင့်ပြုချက်တစ်စုံတစ်ရာမရှိဘဲ အကြောင်းမဲ့ ခွင့်မဲ့ တစ်ဆက်တည်း (၃) ရက် ပျက်ကွက်ခြင်း (သို့) တစ်လအတွင်း ခွင့်မဲ့အလီလီ (၅) ရက် ပျက်ကွက်ခြင်း မပြုရ။</td>
    </tr>
</table>