{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<div class="page">
    <article data-pagefind-body>
        <h1>{{ .Title }}</h1>
        <span class="material-symbols-outlined" id="expand-right-onoff">expand_circle_right</span>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ .Content }}
        <section data-pagefind-ignore>
            {{ partial "categories-tags.html" . }}
        </section>
    </article>
    <aside>
        {{ partial "aside.html" . }}
    </aside>
</div>
{{ end }}